/******* Mixins *******/
/* Border radius*/
.border-radius(@r: @d-border-radius) { 
    border-radius: @r; -webkit-border-radius: @r; -moz-border-radius: @r;
}

.border-radius(right, @r: @d-border-radius) {
    .border-radius(0);
    -webkit-border-top-right-radius: @r; -webkit-border-bottom-right-radius: @r;
    -moz-border-radius-topright: @r; -moz-border-radius-bottomright: @r;
    border-top-right-radius: @r; border-bottom-right-radius: @r;
}

.border-radius(left, @r: @d-border-radius) {
    .border-radius(0);
    -webkit-border-top-left-radius: @r; -webkit-border-bottom-left-radius: @r;
    -moz-border-radius-topleft: @r; -moz-border-radius-bottomleft: @r;
    border-top-left-radius: @r; border-bottom-left-radius: @r;
}

.border-radius(top, @r: @d-border-radius) {
    .border-radius(0);
    -webkit-border-top-right-radius: @r; -webkit-border-top-left-radius: @r;
    -moz-border-radius-topright: @r; -moz-border-radius-topleft: @r;
    border-top-right-radius: @r; border-top-left-radius: @r;
}

.border-radius(bottom, @r: @d-border-radius) {
    .border-radius(0);
    -webkit-border-bottom-right-radius: @r; -webkit-border-bottom-left-radius: @r;
    -moz-border-radius-bottomright: @r; -moz-border-radius-bottomleft: @r;
    border-bottom-right-radius: @r; border-bottom-left-radius: @r;
}

/* Box shadow */
.box-shadow (@hshadow, @vshadow, @blur, @spread, @color) {
	-webkit-box-shadow: @hshadow @vshadow @blur @spread @color;
    -moz-box-shadow: @hshadow @vshadow @blur @spread @color;
    box-shadow: @hshadow @vshadow @blur @spread @color;
}

.box-shadow-inset (@hshadow, @vshadow, @blur, @spread, @color) {
	-webkit-box-shadow: @hshadow @vshadow @blur @spread @color inset;
    -moz-box-shadow: @hshadow @vshadow @blur @spread @color inset;
    box-shadow: @hshadow @vshadow @blur @spread @color inset; 
}

.box-shadow-none {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;     
}

.global-box-shadow() {
	.box-shadow(0, 0, 1px, 1px, rgba(0, 0, 0, 0.1));
}

/* Text shadow */
.text-shadow (@hlength, @vlength, @blur, @color){
    text-shadow: @hlength @vlength @blur @color;
    filter: "dropshadow(color=@{color}, offx=@{hlength}, offy=@{vlength})";
}

.text-shadow-dark() {
	.text-shadow (0, 1px, 0, rgba(0, 0, 0, 0.25));
}

.text-shadow-light() {
	.text-shadow (0, 1px, 0, white);
}

/* Transition */
.transition(@property, @time, @type) {
    transition: @property @time @type;
	-moz-transition: @property @time @type;
	-webkit-transition: @property @time @type;
	-o-transition: @property @time @type;
	-ms-transition: @property @time @type;
}
.transition-step(@property1, @time1,@property2,@time2,@type, @time3) {
    -moz-transition: @property1 @time1, @property2 @time2, @type @time3;
    -o-transition: @property1 @time1, @property2 @time2, @type @time3;
    -webkit-transition: @property1 @time1, @property2 @time2, @type @time3;
    transition: @property1 @time1, @property2 @time2, @type @time3;
}
.transition-multi(@param) {
    transition: @param;
	-moz-transition: @param;
	-webkit-transition: @param;
	-o-transition: @param;
	-ms-transition: @param;
}

.transition-none() {
    transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	-ms-transition: none;
}

/* Opacity */
.opacity(@o ){
	@ieo: @o * 100;
	-moz-opacity: @o; 
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=@ieo);
	filter: alpha(opacity=@ieo);
	opacity: @o;
}

/* Background-gradient */
.bg-gradient (@tcolor, @bcolor) {
    background: @tcolor;
    background: -moz-linear-gradient(top, @tcolor 0%, @bcolor 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@tcolor), color-stop(100%,@bcolor));
    background: -webkit-linear-gradient(top, @tcolor 0%, @bcolor 100%);
    background: -o-linear-gradient(top, @tcolor 0%,@bcolor 100%);
    background: -ms-linear-gradient(top, @tcolor 0%,@bcolor 100%);
    background: linear-gradient(top, @tcolor 0%, @bcolor 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@tcolor, endColorstr=@bcolor,GradientType=0);
}

/* Transform */
.transform(@param) {
    transform: @param;
	-moz-transform: @param;
	-webkit-transform: @param;
}

/* Animation */
.animation-duration(@time) {
    -webkit-animation-duration: @time;
    -moz-animation-duration: @time;
    animation-duration: @time;
}

/* Multi columns */
.multi-columns(@column-count, @column-gap) {
    -moz-column-count: @column-count;
    -moz-column-gap: @column-gap;
    -webkit-column-count: @column-count;
    -webkit-column-gap: @column-gap;
    column-count: @column-count;
    column-gap: @column-gap;
}

/* Calculator */
.calc(@prop; @val) {
    @{prop}: calc(~'@{val}');
    @{prop}: -moz-calc(~'@{val}');
    @{prop}: -webkit-calc(~'@{val}');
    @{prop}: -o-calc(~'@{val}');
}

/* Form appearance */
.appearance(@param){
  -webkit-appearance: @param;
  -moz-appearance:    @param;
  appearance:         @param;
}