@media only screen and(max-width: 1139px){
  body{
    padding-top: 60px;
    #header{
      height: 45px;
      margin-bottom: 0;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      box-shadow: none;
      border-bottom: 1px solid @border-color;
      z-index: 2;
      .page-wrap{
        .fa-navicon{
          display: inline-block;
        }
        .logo{
          margin: auto;
          img{
            max-height: 43px;
          }
        }
        .topbar{
          .user-buttons{
            display: none;
          }
          .main-menu{
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 44px;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 0;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            .transition-multi(0.3s);
            ul{
              width: 300px;
              height: calc(~"100vh - 45px");
              background-color: @slave-color;
              overflow: auto;
              flex-direction: column;
              transform: translateX(-300px);
              .transition-multi(0.3s);
              li{
                width: 100%;
                padding: 0 15px;
                a{
                  width: 100%;
                  border-radius: 0;
                  padding: 15px 0;
                  border-bottom: 1px solid @border-color;
                }
                &.active{
                  background-color: @base-color;
                  a{
                    border-bottom: none;
                  }
                }
              }
            }
            &.show{
              visibility: visible;
              opacity: 1;
              pointer-events: auto;
              ul{
                transform: translateX(0);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 840px){
  body{
    #content{
      .steps{
        display: none;
      }
    }
  }
}

@media only screen and(max-width: 767px){
  body{
    #content{
      .block-wrap{
        .block{
          .block-content{
            .field-wrap{
              &.radio-list{
                .choice{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}