a:hover {
    text-decoration: none;
}

.required:after {
    content: ' *';
    color: #a94442;
}

.simple-list {
    width: 100%;
}

.simple-list .action-1 {
    width: 20px;
}

.simple-list .simple-item {
    padding: 5px;
    border-bottom: 1px solid #ccd0d2;
}

.form-group-date-separator-md:after {
    visibility: hidden;
}

@media (min-width: 992px) {
    .form-group-date-separator-md:after {
        content: '/';
        position: absolute;
        top: 34px;
        right: -2px;
        visibility: visible;
    }
}

.form-order {
    margin-left: 20px;
}

.form-order .form-order-item {
    position: absolute;
    top: 34px;
    left: -15px;
    width: 20px;
    text-align: right;
}

.section-title {
    background: #ccd0d2;
    padding: 7px 9px;
    margin: 0 -4px 10px -4px;
}

.section-title h4 {
    margin: 0;
    text-transform: uppercase;
}