*{
    margin:0;
    padding: 0;
    
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
@font-face {
    font-family: icons;
    src: url(../fonts/icons.woff2) format("woff2"), url(../fonts/icons.woff) format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'HarmoniaSansProCyr-Regular';
    src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/HarmoniaSansProCyr-Regular.otf')  format('opentype'),
    url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-Regular.ttf')  format('truetype'), url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HarmoniaSansProCyr-SemiBd';
    src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),  url('../fonts/HarmoniaSansProCyr-SemiBd.otf')  format('opentype'),
    url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-SemiBd.ttf')  format('truetype'), url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    /*font-family: sans-serif;*/
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    font-weight: 400;

    background-image: url("../images/background_login.png");
}
#form-login{
    width: 460px;
    border:0 ;
    box-shadow: 0 0 22px rgba(0, 0, 0, .3);
    background-color: #ffffff;
    margin: 175px auto 0 auto;
    position: relative;
    padding: 0 44px 50px 44px;
}
.logo{
    height: 200px;
    width: 200px;
    position: absolute;
    top: -100px;
    background-size: contain;
    background-repeat: no-repeat;
    left: 130px
}
.form{
    padding-top: 75px;

}
.lb-input{
    color: #30b9f4;
    font-size: 14px;
    font-weight: 300;

}
#lb-remember{
    font-size: 13px;
    color: #a0a0a0;
}
#forget{
    text-decoration: underline;
    color: #a0a0a0;
    font-size: 13px;
}
.checkbox{
    display: flex;
    justify-content: space-between;
}
.btn-dang-nhap{
    width: 100%;
    background-color: #2b94cb;
    font-weight: 600;
}
#cb-remember{
    cursor: pointer;
    bottom: 5px;
}
#tim-kiem-wraper{
    width: 1024px;
    margin: 0 auto;
}
.header{
    height: 50px;
    background-color: #f6f9fe;
}
.header-logo{
    display: block;
    background-image: url("../images/logo-2.png");
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    float: left;
}
.header-title{
    color: #555e65;
    font-weight: 600;
    line-height: 50px;
    height: 40px;
    padding: 0 20px;
    border-left: 1px solid #dcdfe4;
    float: left;
    margin-top:5px
}
.header-account{
    float: right;
}
.search-box{
    background-color: #455d75;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search-box-input{
    height: 34px;
    /*width: 320px;*/
    background-color: #fff;
    border-radius: 2px;
    padding-right: 10px;
}
.search-box-input input{
    height: 34px;
    width: 250px;
    border: none;
    padding: 0 16px;
}
.search-box-input input:focus{
    outline: none;
}
.search-box-input input::placeholder, .icon-search{
    color: #9e9e9e;
}
.icon-dropdown{
    font-size: 16px !important;
    font-weight: 600 !important;
    cursor: pointer;
}
.btn-search{
    background-color: #2397d0;
    color:#fff
}
.result-box{
    background-color: #fff;
    padding: 10px;
}
.result-box-title{
    font-size: 18px;
    color: #5a636a;
    margin:10px 0;
}
.result-table{
    width: 100%;
    border: 1px solid #d6d0d2;
    box-shadow: 0 0 7px rgba(0, 0, 0, .2);
}
.result-table tr:first-child{
    height: 40px;

}
.result-table tr{
    height: 50px;
    border-top: 1px solid #e8e8e8;
}
.result-table tr:first-child{
    background-color: #e4ebf3;
}

.result-table tr th{
    font-weight: normal

}
.result-table tr th:first-child{
   width: 140px;
}
.result-table tr th:nth-child(2){
    width: 150px;
}
.result-table tr th:nth-child(3){
    width: 260px;
}
.result-table tr th:first-child, .result-table tr th:nth-child(2), .result-table tr th:nth-child(3), .result-table tr td:first-child, .result-table tr td:nth-child(2), .result-table tr td:nth-child(3){
    text-align: center;
}
.result-table tr td:nth-child(2){
    font-weight: 600;
}
.table-status-1{
    display: inline-block;
    color: #fff;
    line-height: 30px;
    text-align: center;
    width: 180px;
    height: 30px;
    border-radius: 3px;
    background-color: #dd4b39;
}
.table-status-2{
    display: inline-block;
    color: #fff;
    line-height: 30px;
    text-align: center;
    width: 180px;
    height: 30px;
    border-radius: 3px;
    background-color: #f5a623;
}
.table-status-3{
    display: inline-block;
    color: #fff;
    line-height: 30px;
    text-align: center;
    width: 180px;
    height: 30px;
    border-radius: 3px;
    background-color: #0073b7;
}
.table-status-4{
    display: inline-block;
    color: #fff;
    line-height: 30px;
    text-align: center;
    width: 180px;
    height: 30px;
    border-radius: 3px;
    background-color: #3aa55d;
}
.pagination-a{
    padding: 0 10px;
}
