.right {
    text-align: right;
}

.top-navigation {
    margin-bottom: 20px;
}

.total {
}

.custom-select.is-invalid, .form-control.is-invalid, .was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #dc3545;
}
.select2-container.select2-container--open{
	z-index:99999;
}