/*
 * Custom style for upload file with dropzone
 */

label.dropzone {
    position: relative;
    min-height: 178.5px;
    text-align: center;
    font-weight: bold;
    border: dashed 1px #a6a1cc;
}
label.dropzone:before {
    content: "";
    top: 12%;
    left: 40%;
    width: 51px;
    height: 33px;
    position: absolute;
    background-image: url("/images/icn-upload.png");
}
label.dropzone.preview:before {
    display: none;
}
label.dropzone.has-error {
    box-shadow: 0 0 10px #ce3f38;
}
label.dropzone span.star {
    position: absolute;
    top: 0;
    right: -12px;
}
label.dropzone span.label{
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 20px;
    color: #bbbaba;
}
label.dropzone span.remove {
    position: absolute;
    cursor: pointer;
    padding: 4px;
    top: 5%;
    left: 90%;
    border-radius: 14px;
    font-size: 12px;
}
label.dropzone span.remove:hover {
    background-color: #bbbaba;
}
label.dropzone span.remove .fa {
    color: #eeeeee;
}
label.dropzone.in {
    background-color: #edf1f6;
}

label.dropzone.hover {
    background: lawngreen;
}
label.dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

/*
 * Custom style for upload file with button
 */
span.fileinput-button {
    color: #fff;
    background-color: #2b95cb;
    border-color: #2b95cb;
}
span.fileinput-button:hover {
    color: #fff;
    background-color: #2b95cba3;
    border-color: #2b95cba3;
}
span.fileinput-button:active:hover {
    color: #fff;
    background-color: #2b95cba3;
    border-color: #2b95cba3;
}
span.fileinput-button i {
    color: #fff;
}
span.fileinput-button span{
    color: #fff;
}
span.fileinput-button.has-error {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}