@media only screen and(max-width: 1139px){
  body{
    padding-top: 45px;
    #header{
      height: 45px;
      margin-bottom: 0;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      box-shadow: none;
      border-bottom: 1px solid @border-color;
      z-index: 2;
      .user-buttons{
        display: none;
      }
      .page-wrap{
        .fa-navicon{
          display: inline-block;
        }
        .top-bar{
          .logo{
            margin: auto;
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            margin-left: -21px;
            img{
              max-height: 43px;
            }
            span{
              display: none;
            }
          }
          .main-menu{
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 44px;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 0;
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            .transition-multi(0.3s);
            ul{
              width: 300px;
              height: calc(~"100vh - 45px");
              background-color: @slave-color;
              overflow: auto;
              flex-direction: column;
              transform: translateX(-300px);
              .transition-multi(0.3s);
              li{
                width: 100%;
                padding: 0 15px;
                a{
                  width: 100%;
                  border-radius: 0;
                  padding: 15px 0;
                  border-top: 1px solid @border-color;
                  .fa{
                    display: none;
                  }
                }
                &.active{
                  background-color: @base-color;
                  a{
                    color: @slave-color;
                    border-top: none;
                  }
                }
              }
            }
            &.show{
              visibility: visible;
              opacity: 1;
              pointer-events: auto;
              ul{
                transform: translateX(0);
              }
            }
          }
        }
      }
    }

    #content{
      .page-slide{
        top: 45px;
        bottom: 0;
        overflow: hidden;
        .slick-track{
          .slide{
            align-items: flex-end;
            overflow: hidden;
            max-height: initial;
            img{
              width: auto !important;
              max-height: 100vh;
              max-width: none;
            }
          }
        }
      }
      .login-form{
        height: calc(~"100vh - 45px");
        .text{
          padding: 0 30px;
          width: 50%;
        }
        form[name=login]{
          width: 50%;
        }
      }
      &.news{
        padding: 0 15px;
      }
    }
    #footer{
      .page-wrap{
        padding: 0 15px;
      }
    }
  }
}

@media only screen and(max-width: 1023px){
  body{
    #content{
      .col-wrap{
        .col-right{
          .featured-news{
            .featured{
              flex-direction: column;
              img{
                width: 100%;
                margin-bottom: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 991px){
  body{
    .table-wrap{
      table{
        tr{
          td{
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 840px){
  body{
    #content{
      .steps{
        display: none;
      }
    }
  }
}

@media only screen and(max-width: 767px){
  body{
    #content{
      .login-form{
        .text{
          display: none;
        }
        form[name=login]{
          width: 100%;
        }
      }

      .heading{
        .field-wrap{
          flex-basis: 100%;
          select{
            width: 100%;
          }
        }
      }

      .breadcrumb{
        display: none;
      }

      .block-wrap{
        .block{
          .block-content{
            .field-wrap{
              &.radio-list{
                .choice{
                  width: 100%;
                }
              }
              &.flex{
                display: flex;
                flex-direction: column;
                justify-content: inherit;
                .choices-wrap{
                  .dropfield{
                    width: 100%;
                    margin-left: 0;
                    select{
                      width: 100%;
                    }
                    &:after{
                      right: 20px;
                      left: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .col-wrap{
        .col-left{
          .news{
            flex-direction: column;
            .news-img{
              img{
                width: 100%;
              }
            }
          }
        }
      }

      .main-content{
        form[name=filter]{
          flex-wrap: wrap;
          &.full-width{
            .row{
              flex-wrap: wrap;
            }
          }
        }
      }
    }

    #footer{
      .page-wrap{
        display: block;
        .foot-nav{
          ul{
            display: block;
            li{
              display: block;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}