@import "bootstrap.min.css";
    @import "bootstrap-datetimepicker.min.css";
    @import "font-awesome.min.css";
    @import "simple-line-icons.css";
    @import "slick.css";

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,600&subset=vietnamese');
.box-shadow-none {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
html * {
    /*font-family: 'HarmoniaSansProCyr-Regular', sans-serif;*/
    font-size: 14px;
    /*color: #3d3a3a;*/
}

body div:focus, body ul:focus, body li:focus, body a:focus, body select:focus, body input:focus, body button:focus, body textarea:focus, body div:active, body ul:active, body li:active, body a:active, body select:active, body input:active, body button:active, body textarea:active, body div:hover, body ul:hover, body li:hover, body a:hover, body select:hover, body input:hover, body button:hover, body textarea:hover, body div:visited, body ul:visited, body li:visited, body a:visited, body select:visited, body input:visited, body button:visited, body textarea:visited {
    outline: 0;
}
body a {
    color: #2481bf;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body a:focus, body a:active, body a:hover, body a:visited {
    text-decoration: none;
    outline: 0;
    color: #2481bf;
}
body a:hover {
    color: #f35d23;
}
body input:focus, body select:focus, body textarea:focus {
    outline: 0;
}
body img {
    max-width: 100%;
    height: auto;
}
body p {
    font-size: 14px;
    color: #3d3a3a;
}
body .table-wrap {
    padding: 0 15px 15px 15px;
    background-color: #fff;
}
body .table-wrap table {
    min-width: 100%;
    border-bottom: 1px solid #3d3a3a;
}
body .table-wrap table tr {
    border-bottom: 1px solid #bbbaba;
}
body .table-wrap table tr td {
    padding: 10px 5px;
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
}
body .table-wrap table tr.full-width {
    color: #3d3a3a;
    text-align: center;
    text-transform: uppercase;
}
body .table-wrap table thead tr {
    border-bottom: 1px solid #3d3a3a;
}
body .table-wrap table thead tr td {
    color: #6c6b6b;
}
body .table-wrap table tbody tr td.stt {
    color: #6c6b6b;
}
body .table-wrap table tbody tr:last-of-type {
    border-bottom: 0;
}
body .table-line {
    min-width: 100%;
    border-bottom: 1px solid #3d3a3a;
}
body .table-line tr {
    border-bottom: 1px solid #bbbaba;
}
body .table-line tr td {
    padding: 10px 5px;
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    white-space: nowrap;
}
body .table-line tr.full-width {
    color: #3d3a3a;
    text-align: center;
    text-transform: uppercase;
}
body .table-line thead tr {
    border-bottom: 1px solid #3d3a3a;
}
body .table-line thead tr td {
    color: #6c6b6b;
}
body .table-line tbody tr td.stt {
    color: #6c6b6b;
}
body .table-line tbody tr:last-of-type {
    border-bottom: 0;
}
body .fa-facebook {
    color: #3a5897!important;
}
body .fa-linkedin {
    color: #007ab5!important;
}
body .fa-youtube {
    color: #cd201f!important;
}
body .fa-google-plus {
    color: #dc4a38!important;
}
body .fa-twitter {
    color: #32cdfd!important;
}
body .page-wrap {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}
body iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
body .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
    display: none;
}
body .overlay.show {
    display: block;
}
body .star {
    color: red;
}
body .choices {
    z-index: auto!important;
}
body .choices .choice {
    margin-left:  35px;
    margin-right:  10px;
    cursor: pointer;
}
body .choices .choice input {
    visibility: hidden;
    pointer-events: none;
    height: 0;
}
body .choices .choice label {
    position: relative;
    cursor: pointer;
}
body .choices .choice label:before {
    content: "";
    width: 17px;
    height: 17px;
    margin-top: -7px;
    border: 1px solid #6c6b6b;
    position: absolute;
    left: -25px;
    top: 50%}
body .choices .choice label:after {
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body .choices .choice:hover label:after {
    opacity: 1;
}
body .choices.radio-list .choice label:before {
    border-radius: 50%}
body .choices.radio-list .choice label:after {
    content: "";
    left: -20px;
    width: 7px;
    height: 7px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: #bbbaba;
}
body .choices.radio-list .choice.chosen label:after {
    opacity: 1;
    background-color: #2b95cb;
}
body .choices.checkbox-list {
    padding-left: 25px!important;
}
body .choices.checkbox-list .choice label:before {
    border-radius: 2px;
}
body .choices.checkbox-list .choice label:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 12px;
    color: #bbbaba;
    left: -22px;
    margin-top: -6px;
}
body .choices.checkbox-list .choice.chosen label:after {
    opacity: 1;
    color: #2b95cb;
}
body .help-block {
    color: #a94442;
}
body .hidden {
    display: none;
}
body .delete-field {
    font-size: 16px;
    color: #2481bf;
    cursor: pointer;
}
body .field-wrap {
    margin-bottom: 15px;
    position: relative;
}
body .field-wrap label {
    width: 100%;
    font-weight: normal;
}
body .field-wrap input, body .field-wrap select, body .field-wrap textarea {
    border: 1px solid #BBBABA;
    padding: 0 10px;
    max-width: 100%;
    display: block;
    border-radius: 2px;
}
body .field-wrap input[type=text], body .field-wrap select[type=text], body .field-wrap textarea[type=text], body .field-wrap input[type=password], body .field-wrap select[type=password], body .field-wrap textarea[type=password], body .field-wrap input[type=submit], body .field-wrap select[type=submit], body .field-wrap textarea[type=submit] {
    width: 100%}
body .field-wrap input[type=number], body .field-wrap select[type=number], body .field-wrap textarea[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
body .field-wrap input.datetime-input, body .field-wrap select.datetime-input, body .field-wrap textarea.datetime-input {
    padding-right: 30px;
}
body .field-wrap input {
    height: 35px;
    line-height: 35px;
}
body .field-wrap select {
    width: 100%;
    height: 35px;
    line-height: 35px;
    position: relative;
    padding-right: 30px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
body .field-wrap textarea {
    min-width: 100%;
    padding: 10px;
}
body .field-wrap .datetime-icon {
    position: absolute;
    top: 35px;
    right: 25px;
    bottom: 0;
    font-size: 14px;
    color: #bbbaba;
}
body .field-wrap.datetime:after {
    content: "/";
    color: #6c6b6b;
    position: absolute;
    right: -3px;
    top: 35px;
    bottom: 0;
}
body .field-wrap.datetime:last-of-type:after {
    display: none;
}
body .field-wrap.dropfield:after {
    content: "\e604";
    position: absolute;
    right: 20px;
    top: 35px;
    bottom: 0;
    font-family: 'simple-line-icons';
    font-size: 12px;
    color: #6c6b6b;
    pointer-events: none;
    z-index: 1;
}
body .field-wrap.choices label {
    display: inline-block;
    width: auto;
}
body .field-wrap.choices .choice {
    display: inline-block;
    width: auto;
}
body .field-wrap.selectdrop .selectdropdown {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 15px;
    right: 15px;
    background-color: #fff;
    border: 1px solid #bbbaba;
    border-top: 0;
    padding: 0 10px;
    z-index: 1!important;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body .field-wrap.selectdrop .selectdropdown .choice {
    padding: 10px 10px 10px 25px;
    border-bottom: 1px solid #bbbaba;
}
body .field-wrap.selectdrop .selectdropdown .choice:last-of-type {
    border-bottom: 0;
}
body .field-wrap.selectdrop .selectdropdown.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
body .field-wrap.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
body .field-wrap.flex label {
    margin-bottom: 0;
}
body .field-wrap.flex .field-col .dropfield {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 50px;
}
body .field-wrap.flex .field-col .dropfield select {
    width: 250px;
}
body .field-wrap.flex .field-col .dropfield:after {
    top: 10px;
    right: auto;
    left: 230px;
}
body .field-wrap.flex .field-col .choices-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
body .field-wrap.flex .field-col .choices-wrap:last-of-type {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #bbbaba;
}
body .slick-arrow {
    position: absolute;
    top: 50%;
    font-size: 24px;
    margin-top: -12px;
    cursor: pointer;
}
body .slick-arrow.fa-angle-left {
    left: -15px;
}
body .slick-arrow.fa-angle-right {
    right: -15px;
}
body .news-title {
    display: block;
    margin-bottom: 10px;
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    font-size: 20px;
    color: #3d3a3a;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body .news-title:hover {
    color: #f35d23;
}
body .excerpt {
    font-weight: 700;
    margin-bottom: 10px;
}
body .post-date {
    font-family: 'HarmoniaSansProCyr-Light', sans-serif;
    font-size: 14px;
    color: #6c6b6b;
    margin-bottom: 10px;
}
/*body #header {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
}
body #header .user-buttons {
    background-color: #edf1f6;
}
body #header .user-buttons .page-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
body #header .user-buttons .page-wrap a {
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    font-size: 14px;
    color: #6c6b6b;
    text-transform: uppercase;
    padding: 5px 10px;
    border-right: 1px solid #fff;
    border-top: 0;
    display: inline-block;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #header .user-buttons .page-wrap a:hover {
    color: #f35d23;
}
body #header .user-buttons .page-wrap a:last-of-type {
    border-right: 0;
}
body #header .page-wrap .fa-navicon {
    line-height: 45px;
    padding: 0 15px;
    font-size: 16px;
    color: #2b95cb;
    display: none;
}
body #header .page-wrap .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
body #header .page-wrap .top-bar .logo {
    display: inline-block;
}
body #header .page-wrap .top-bar .logo img {
    height: 76px;
    margin-right: 25px;
}
body #header .page-wrap .top-bar .logo span {
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    font-size: 17px;
    color: #2b95cb;
}
body #header .page-wrap .top-bar .main-menu ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
body #header .page-wrap .top-bar .main-menu ul li {
    list-style: none;
    display: inline-block;
}
body #header .page-wrap .top-bar .main-menu ul li a {
    display: inline-block;
    padding: 8px 15px;
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    color: #a6a6a6;
    border-radius: 20px;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #header .page-wrap .top-bar .main-menu ul li a span {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #a6a6a6;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #header .page-wrap .top-bar .main-menu ul li a:hover {
    color: #2b95cb;
}
body #header .page-wrap .top-bar .main-menu ul li a:hover span {
    color: #2b95cb;
}
body #header .page-wrap .top-bar .main-menu ul li.active a {
    color: #2b95cb;
}
body #header .page-wrap .top-bar .main-menu ul li.active a span {
    color: #2b95cb;
}*/

body { width: 100%; position: relative; font: 14px/1.55 'Open Sans',sans-serif; background: #fff; color: #333 }
#full-container { max-width: 100%; overflow: hidden }

#header { font-size: 12px; position: relative; z-index: 20 }
#header, #header-wrap { height: 90px; background: #fff; transition: transform 0.3s }
#header-wrap { left: 0; top: 0; width: 100% }
#header .container, #header .row, #header [class*="col-"] { height: 100% }
.sticky #header-wrap {/* position: fixed; top: 0; */ left: 0; right: 0; z-index: 10; box-shadow: 0 0 15px rgba(0,0,0,0.1) }
#header.style-2 { width: 100%; position: fixed; transform: translateY(-100%) }
#header.style-2.sticky { transform: translateY(0) }
#header.style-3 #header-wrap { border-bottom: 1px solid #eee }
#header.style-3.sticky #header-wrap { border-bottom-color: transparent }
.logo { display: inline-block; position: relative; float: left; background-color: #fff; -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }
.logo img { max-height: 100% }
.logo h5, .logo h5 + span { display: none }
.logo.logo-text { text-align: left }
.logo.logo-text img { display: none }
.logo.logo-text h5, .logo.logo-text h5 + span { display: block }
.logo.logo-text h5 { margin-bottom: 0 }
.logo.logo-text h5 + span { color: #777 }
.main-menu { list-style: none; display: inline-block }
.main-menu li { position: relative; white-space: nowrap }
.main-menu li a { transition: all 0.15s }
.main-menu > li { float: left; height: 100% }
.main-menu > li > a { height: 90px; display: block; line-height: 90px; font-size: 13px; padding: 0 12px; font-weight: 600; color: #044d9f; text-transform: uppercase; }
.main-menu > li > a.current, .main-menu > li:hover > a, .main-menu > li > a:hover { color: #ffc527 }
.main-menu ul { list-style: none; text-align: left }
.main-menu li:hover > ul.sub-menu, .main-menu li.sfHover > ul.sub-menu { display: block }
.main-menu ul.sub-menu, .main-menu ul.sub-menu li:last-child a { border-radius: 0 0 4px 4px }
.main-menu li a + ul.sub-menu { min-width: 16em; display: none; position: absolute; top: calc(100% - 1px); left: 0; z-index: 99; background: #fff; box-shadow: 0px 6px 6px 4px rgba(0,0,0,0.02); border: 1px solid #eee; padding-left: 0px }
.main-menu ul.sub-menu li a { display: block; position: relative; color: #044d9f; font-weight: 600; font-size: 13px; padding: 14px 20px; border-bottom: 1px solid #e1e1e1 }
.main-menu ul.sub-menu li:last-child a { border: none }
.main-menu ul.sub-menu li a:hover, .main-menu ul.sub-menu li:hover > a { color: #ffc527; background: #fbfbfb; padding-left: 25px }
.main-menu .megamenu ul.sub-menu li a:hover { padding-left: 5px; background: transparent }
.main-menu ul.sub-menu ul { top: -1px !important; left: 100% !important }
.main-menu > li > ul.sub-menu.reverse-pos { right: 0 !important; left: auto !important }
.main-menu ul.sub-menu ul.reverse-pos { right: 100% !important; left: auto !important }
.main-menu.sf-arrows a.sf-with-ul::after { font-family: "FontAwesome"; font-size: 13px; color: #999 }
.main-menu.sf-arrows > li > a.sf-with-ul::after { position: relative; margin-left: 6px; content: '\f107'; font-weight: lighter }
.main-menu.sf-arrows ul.sub-menu a.sf-with-ul::after { position: absolute; font-weight: 400; content: '\f105'; right: 15px; top: 13px }
.main-menu.sf-arrows li > a.sf-with-ul:focus:after, .main-menu.sf-arrows li:hover > a.sf-with-ul:after, .main-menu.sf-arrows .sfHover > a.sf-with-ul:after { color: #ffc527 }

@media (min-width: 992px) {
    #mobile-menu { display: none !important }
}

#mobile-menu { background: #fff; position: relative; top: 100%; background: #fff; display: none; clear: both; overflow: hidden; top: 35px; margin: 20px 0 65px; height: 235px; overflow-y: auto }
#mobile-menu .ss-content { padding: 0 5px 0 0 }
#mobile-menu .ss-scroll { opacity: 0.5; width: 6px }
#mobile-menu.ss-container:hover .ss-scroll { opacity: 1 }
#mobile-menu ul { list-style: none }
.mobile-menu { max-width: 1140px; margin: -5px auto 0 }
.mobile-menu li { border-bottom: 1px solid #e7e7e7; position: relative }
.mobile-menu li:last-child { border-bottom: none }
.mobile-menu li:hover > a { color: #ffc527 }
.mobile-menu li a { font-size: 14px; font-weight: 700; padding: 0 12px; color: #222; display: block; padding: 14px 30px 14px 0; position: relative }
.mobile-menu > li > a:hover, .mobile-menu > li > a.current { color: #ffc527 }
.mobile-menu ul { padding-left: 15px; display: none; border-top: 1px solid #e7e7e7 }
.mobile-menu ul a { color: #222; font-weight: 600; font-size: 13px; padding: 11px 30px 11px 0 }
.mobile-menu ul a:hover { font-weight: 600 }
.mobile-menu.sf-arrows a.sf-with-ul::after { font-family: "FontAwesome"; color: #999; position: absolute }
.mobile-menu.sf-arrows > li > a.sf-with-ul::after { content: '\f105'; font-size: 17px; right: 0; top: 11px; font-weight: lighter; transition: all 0.2s }
.mobile-menu.sf-arrows > li > a.sf-with-ul:focus:after, .mobile-menu.sf-arrows > li:hover > a.sf-with-ul:after, .mobile-menu.sf-arrows > .sfHover > a.sf-with-ul:after { color: #ffc527; font-weight: 700 }
.mobile-menu.sf-arrows ul.sub-menu a.sf-with-ul::after { content: '\f107'; font-size: 15px; top: 8px; right: 0; font-weight: 100 }
.mobile-menu.sf-arrows li > a.sf-with-ul:focus:after, .mobile-menu.sf-arrows li:hover > a.sf-with-ul:after, .mobile-menu.sf-arrows .sfHover > a.sf-with-ul:after { color: #ffc527; font-weight: 700 }
.mobile-menu-btn { background: #222; position: relative; top: 46px; display: none; float: right }
.mobile-menu-btn.is-active i { background: #0556dd }
.hamburger { cursor: pointer; transition-property: opacity, -webkit-filter; transition-property: opacity, filter; transition-property: opacity, filter, -webkit-filter; transition-duration: 0.15s; transition-timing-function: linear; font: inherit; color: inherit; text-transform: none; background-color: transparent; border: 0; margin: 0; overflow: visible }
.hamburger:hover { opacity: 0.7 }
.hamburger-box { width: 30px; height: 22px; display: inline-block; position: relative }
.hamburger-inner { display: block; top: 50%; margin-top: -2px }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after { width: 30px; height: 2px; background-color: #000; border-radius: 4px; position: absolute; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; transition-duration: 0.15s; transition-timing-function: ease }
.hamburger-inner::before, .hamburger-inner::after { content: ""; display: block }
.hamburger-inner::before { top: -10px }
.hamburger-inner::after { bottom: -10px }
.hamburger--slider .hamburger-inner { top: 2px }
.hamburger--slider .hamburger-inner::before { top: 10px; transition-property: opacity, -webkit-transform; transition-property: transform, opacity; transition-property: transform, opacity, -webkit-transform; transition-timing-function: ease; transition-duration: 0.2s }
.hamburger--slider .hamburger-inner::after { top: 20px }
.hamburger--slider.is-active .hamburger-inner { -webkit-transform: translate3d(0, 10px, 0) rotate(45deg); transform: translate3d(0, 10px, 0) rotate(45deg) }
.hamburger--slider.is-active .hamburger-inner::before { -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0); transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0); opacity: 0 }
.hamburger--slider.is-active .hamburger-inner::after { -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg); transform: translate3d(0, -20px, 0) rotate(-90deg) }
.ss-wrapper { width: 100%; height: 100%; position: relative; z-index: 1; float: left; margin-left: -18px; width: calc(100% + 0); overflow-x: hidden }
.ss-content { height: 100%; width: 100%; padding: 0 32px 0 0; position: relative; right: -17px; overflow: auto; box-sizing: border-box; padding: 0; overflow-x: hidden; overflow-y: scroll }
.ss-scroll { position: absolute; background: rgba(0,0,0,0.1); width: 9px; border-radius: 4px; top: 0; z-index: 2; cursor: pointer; opacity: 0; transition: opacity 0.25s linear; right: 0 !important; width: 6px; transition: color 0.25s, opacity 0.25s }
.ss-hidden { display: none }
.ss-container:hover .ss-scroll { opacity: 1 }
.ss-grabbed { -o-user-select: none; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none }
.header-btn { float: right; position: absolute; top: 4px;  right: 22px; font-size: 13px;}


@media (max-width: 992px) {
    #header { min-height: 135px; height: auto; text-align: left }
    #header #header-wrap { min-height: 170px }
    #header .logo { float: none; transform: translateY(0); top: 28px }
    #header .header-btn { transform: translateY(0); top: 25px }
    .main-menu { left: 0; display: none }
    .mobile-menu-btn { display: inline-block }
   /* .col-md-12 { padding-top: 20px; }*/
}

@media (max-width: 480px) {
    .header-btn { display: none }
}

@media (min-width: 1199px) {
	.pull-right { margin-top: -48px !important }
}

.font-name {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding-left: 14px;
    font-size: 20px;
    color: #173468;
	display: inline-block;
	padding-top: 26px;
}
@media (min-width: 551px) and (max-width: 992px) {
	.font-name {font-size: 21px !important;}
}
@media (max-width: 550px) {
	.logo {width: 100px;}
	.font-name {
		width: 184px !important;
		display: inline-block !important;
		word-wrap: break-word !important;
		text-align: left;
		font-size: 18px !important;
		line-height: 20px;}
	.cta-title-2 h1{font-size: 45px;}
	
}
@media (min-width: 993px) and (max-width: 1199px) {
	.main-menu > li > a {
    	line-height: 36px !important;
	}
    .pull-right {
        padding-top: 1px;
    }
}

@media (max-width: 993px) {
	.font-name {
		padding-top: 28px !important;
	}
}

body #content {
    min-height: calc(100vh - 257px);
}
body #content .breadcrumb {
    background-color: transparent;
    margin-bottom: 15px;
    margin-top: 50px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #bbbaba;
}
body #content .breadcrumb li a {
    color: #a6a6a6;
}
body #content .breadcrumb li:last-of-type a {
    cursor: text;
}
body #content .table-wrap {
    overflow: auto;
    padding-bottom: 20px;
}
body #content form[name=user-info] {
    padding-bottom: 20px;
    background-color: #fff;
    margin-top: 55px;
}
body #content .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
body #content .steps .step {
    flex-grow: 1;
    text-align: center;
    height: 40px;
    border-top: 1px solid #bbbaba;
    border-bottom: 1px solid #bbbaba;
    font-size: 16px;
    color: #6c6b6b;
    text-transform: uppercase;
    line-height: 40px;
    position: relative;
    background-color: #f1f1f1;
}
body #content .steps .step:after, body #content .steps .step:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}
body #content .steps .step:after {
    border-color: rgba(237, 241, 246, 0);
    border-left-color: #f1f1f1;
    border-width: 19px;
    margin-top: -19px;
}
body #content .steps .step:before {
    border-color: rgba(187, 186, 186, 0);
    border-left-color: #bbbaba;
    border-width: 20px;
    margin-top: -20px;
}
body #content .steps .step:first-of-type {
    border-left: 1px solid #f1f1f1;
}
body #content .steps .step:last-of-type {
    border-right: 1px solid #bbbaba;
}
body #content .steps .step:last-of-type:after, body #content .steps .step:last-of-type:before {
    display: none;
}
body #content .steps .step.active {
    background-color: #2b95cb;
    color: #fff;
    border-color: #2b95cb;
}
body #content .steps .step.active:after, body #content .steps .step.active:before {
    border-left-color: #2b95cb;
}
body #content .steps .step.active.old {
    color: #8ed6fe;
}
body #content .steps .step.active.old:before {
    border-left-color: #fff;
}
body #content .block-wrap {
    padding: 0 15px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    pointer-events: none;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #content .block-wrap .block {
    padding: 20px 0 0 0;
}
body #content .block-wrap .block .block-heading {
    background-color: #edf1f6;
    line-height: 35px;
    text-transform: uppercase;
    color: #3d3a3a;
    position: relative;
    padding: 0 35px 0 10px;
    cursor: pointer;
}
body #content .block-wrap .block .block-heading:after {
    content: "\e604";
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    font-family: 'simple-line-icons';
    font-size: 18px;
    color: #3d3a3a;
    z-index: 1;
}
body #content .block-wrap .block .block-content {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #content .block-wrap .block .block-content .note {
    text-transform: uppercase;
    color: #298443;
    margin-bottom: 15px;
}
body #content .block-wrap .block .block-content .sub-note {
    color: #bbbaba;
    margin-bottom: 15px;
}
body #content .block-wrap .block .block-content .notice {
    text-align: center;
    margin: 15px 0;
}
body #content .block-wrap .block .block-content .ol-list {
    position: relative;
    padding-right: 10px;
}
body #content .block-wrap .block .block-content .ol-list:before {
    content: attr(data-ol);
    position: absolute;
    color: #bbbaba;
    left: 0;
    top: 0;
}
body #content .block-wrap .block .block-content .ol-list.new-ol .delete-field {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;
}
body #content .block-wrap .block .block-content .btn-upload {
    margin-bottom: 20px;
}
body #content .block-wrap .block .block-content .btn-upload .spli {
    cursor: pointer;
    font-size: 13px;
    color: #2481bf;
}
body #content .block-wrap .block .block-content .btn-upload label {
    font-family: 'HarmoniaSansProCyr-Regular', sans-serif;
    font-size: 14px;
    color: #2481bf;
    text-decoration: underline;
    cursor: pointer;
}
body #content .block-wrap .block .block-content .btn-upload label:before {
    margin-right: 5px;
    text-decoration: none;
}
body #content .block-wrap .block .block-content .btn-upload label.fa:before {
    font-family: 'FontAwesome'}
body #content .block-wrap .block .block-content .btn-upload input[type=file] {
    visibility: hidden;
    pointer-events: none;
    height: 0;
}
body #content .block-wrap .block .block-content .list {
    margin: 0;
    padding: 0;
}
body #content .block-wrap .block .block-content .list li {
    list-style: none;
    border-bottom: 1px solid #bbbaba;
    padding: 7px 0;
}
body #content .block-wrap .block .block-content .list li .btn-upload {
    margin-left: 10px;
}
body #content .block-wrap .block .block-content .list li:last-of-type {
    border-bottom: 0;
}
body #content .block-wrap .block .block-content .list.has-options {
    padding-left: 25px;
}
body #content .block-wrap .block .block-content .add-field {
    color: #2481bf;
    text-decoration: underline;
    cursor: pointer;
}
.add-forte-field, .add-guideLanguage-field {
    color: #2481bf;
    text-decoration: underline;
    cursor: pointer;
}
body #content .block-wrap .block .block-content.showout {
    overflow: visible;
    margin-top: 20px;
    visibility: visible;
    opacity: 1;
    height: auto;
}
body #content .block-wrap .block.center {
    text-align: center;
}
body #content .block-wrap .block.center .field-wrap input {
    display: inline-block;
    margin-left: 15px;
}
body #content .block-wrap .block.center .field-wrap input[type=text] {
    width: auto;
    min-width: 250px;
}
body #content .block-wrap .form-nav {
    padding: 15px 0 0 0;
    margin-top: 30px;
    border-top: 1px solid #bbbaba;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
body #content .block-wrap .form-nav .btn-step {
    min-width: 120px;
    height: 35px;
    padding: 0 10px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 15px;
    border: 0;
    text-transform: uppercase;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #content .block-wrap .form-nav .btn-step.prev-step {
    background-color: #d7d7d7;
}
body #content .block-wrap .form-nav .btn-step.next-step {
    background-color: #2b95cb;
}
body #content .block-wrap .form-nav .btn-step.next-step:hover {
    background-color: #2276a1;
}
body #content .block-wrap .form-nav.center {
    justify-content: center;
}
body #content .block-wrap.show {
    visibility: visible;
    opacity: 1;
    height: auto;
    pointer-events: auto;
}
body #content .page-slide {
    position: fixed;
    left: 0;
    right: 0;
    top: 76px;
    overflow: hidden;
    z-index: -1;
}
body #content .page-slide .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: calc(100vh - 76px);
}
body #content .login-form {
    display: flex;
    justify-content: space-between;
    position: relative;
}
body #content .login-form .text {
    margin-top: 20vh;
}
body #content .login-form .text p {
    color: #fff;
    margin-bottom: 0;
    white-space: nowrap;
}
body #content .login-form .text p:first-of-type {
    font-family: 'HarmoniaSansProCyr-Light', sans-serif;
    font-size: 23px;
}
body #content .login-form .text p:last-of-type {
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    font-size: 31px;
    text-transform: uppercase;
    text-decoration: underline;
}
body #content .login-form form[name=login] {
    background: linear-gradient(rgba(74, 104, 176, 0.6), rgba(111, 84, 214, 0.6));
    padding: 30px;
    margin-top: 40px;
    border-radius: 5px;
}
body #content .login-form form[name=login] .field-wrap label {
    font-family: 'HarmoniaSansProCyr-Light', sans-serif;
    color: #fff;
    text-transform: uppercase;
}
body #content .login-form form[name=login] .field-wrap input[type=submit] {
    background-color: #2b95cb;
    color: #fff;
    border: 0;
    text-transform: uppercase;
}
body #content .login-form form[name=login] .field-wrap.choices {
    padding-left: 0!important;
}
body #content .login-form form[name=login] .field-wrap.choices .choice {
    width: 100%;
    padding-left: 25px;
}
body #content .login-form form[name=login] .field-wrap.choices .choice label {
    text-transform: none;
}
body #content .login-form form[name=login] .field-wrap.choices .choice label:before {
    border-color: #fff;
}
body #content .login-form form[name=login] .field-wrap.choices .choice.chosen label:after {
    color: #f35d23;
}
body #content .login-form form[name=login] .note-text {
    font-family: 'HarmoniaSansProCyr-Light', sans-serif;
    font-size: 12px;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}
body #content .login-form form[name=login] .to-register {
    border: 1px solid #fff;
    padding: 0 10px;
    width: 100%;
    display: block;
    border-radius: 2px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
}
body #content .tabs {
    border: 1px solid #e4e4e4;
    background-color: #e4e4e4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
}
body #content .tabs .tab {
    border-right: 1px solid #fff;
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    color: #6c6b6b;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 39px;
    text-align: center;
    width: 20%;
    cursor: pointer;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #content .tabs .tab:hover {
    background-color: #fff;
}
body #content .tabs .tab:last-of-type {
    border-right: 0;
}
body #content .tabs .tab.active {
    background-color: #fff;
}
body #content .table-content {
    display: none;
}
body #content .table-content.active {
    display: block;
}
body #content .table-line {
    border-bottom: 0;
}
body #content .table-line tbody tr {
    border-bottom: 0;
}
body #content .table-line tbody tr td {
    padding: 10px 5px;
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    white-space: normal;
}
body #content .table-line tbody tr:nth-of-type(3) {
    border-bottom: 1px solid #bbbaba;
}
body #content .heading {
    height: 35px;
    padding: 0 10px;
    border-left: 3px solid #2b95cb;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
}
body #content .heading .text-heading {
    line-height: 35px;
    font-size: 18px;
    color: #2b95cb;
    margin-right: 15px;
    white-space: nowrap;
    flex-basis: 100%}
body #content .heading .field-wrap {
    margin: 0;
}
body #content .heading .field-wrap select {
    background-color: transparent;
    border: 1px solid #bbbaba;
    color: #6c6b6b;
    width: 200px;
}
body #content .heading .field-wrap:after {
    right: 10px;
    top: 10px;
}
body #content .main-content {
    padding: 20px 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
body #content .main-content .info-wrap {
    margin-bottom: 15px;
}
body #content .main-content .info-wrap .info {
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
}
body #content .main-content .info-wrap .info span {
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    color: #6c6b6b;
}
body #content .main-content .info-wrap:last-of-type {
    margin-bottom: 0;
}
body #content .main-content form[name=filter] {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
body #content .main-content form[name=filter] .field-wrap label {
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
}
body #content .main-content form[name=filter] .field-wrap input[type=submit] {
    width: auto;
    display: inline-block;
    background-color: #2b95cb;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    padding: 0 30px;
}
body #content .main-content form[name=filter].full-width {
    display: block;
}
body #content .main-content form[name=filter].full-width .row {
    display: flex;
    align-items: flex-end;
}
body #content .col-wrap .col-left .news {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 15px;
}
body #content .col-wrap .col-left .news .news-img {
    display: block;
    flex-basis: 100%;
    min-width: 264px;
}
body #content .col-wrap .col-left .news .news-detail {
    padding: 5px 15px;
}
body #content .col-wrap .col-left .news .news-detail .excerpt {
    font-weight: 400;
}
body #content .col-wrap .col-left .news-content {
    background-color: #fff;
    padding: 5px 15px;
}
body #content .col-wrap .col-left .news-content .related-newses {
    margin-top: 30px;
    padding: 15px 20px;
    border: 1px solid #bbbaba;
}
body #content .col-wrap .col-left .news-content .related-newses .box-heading {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
body #content .col-wrap .col-left .news-content .related-newses .related-news .slick-list {
    margin: 0 -5px;
}
body #content .col-wrap .col-left .news-content .related-newses .related-news .slick-list .related {
    margin: 0 5px;
    border: 1px solid #bbbaba;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
body #content .col-wrap .col-left .news-content .related-newses .related-news .slick-list .related a {
    display: inline-block;
    font-family: 'HarmoniaSansProCyr-SemiBd', sans-serif;
    color: #3d3a3a;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #content .col-wrap .col-left .news-content .related-newses .related-news .slick-list .related a img {
    width: 100%}
body #content .col-wrap .col-left .news-content .related-newses .related-news .slick-list .related a.related-title {
    padding: 10px 15px;
}
body #content .col-wrap .col-left .news-content .related-newses .related-news .slick-list .related a:hover {
    color: #f35d23;
}
body #content .col-wrap .col-left .news-content .related-newses .related-news .slick-list .related .post-date {
    padding: 10px 15px;
    margin: 0;
    background-color: #fff;
}
body #content .col-wrap .col-right .col-img {
    margin-bottom: 15px;
}
body #content .col-wrap .col-right .col-img img {
    width: 100%}
body #content .col-wrap .col-right .col-heading {
    line-height: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: #2b95cb;
}
body #content .col-wrap .col-right .featured-news {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
}
body #content .col-wrap .col-right .featured-news .featured {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}
body #content .col-wrap .col-right .featured-news .featured img {
    object-fit: contain;
    margin-right: 5px;
}
body #content .col-wrap .col-right .featured-news .featured p {
    margin-bottom: 0;
}
body #content .col-wrap .col-right .featured-news .featured p .post-title {
    display: block;
    line-height: 15px;
}
body #content .col-wrap .col-right .featured-news .featured p .post-date {
    font-size: 12px;
}
body #content .col-wrap .col-right .recent-news a {
    display: block;
    background-color: #fff;
}
body #content .col-wrap .col-right .recent-news a img {
    width: 100%}
body #content .col-wrap .col-right .recent-news a .post-title {
    padding: 10px;
    margin-bottom: 0;
}
body #content .col-wrap .col-right .recent-news a .post-date {
    padding: 0 10px 10px 10px;
}
body #footer {
    background-color: #2b95cb;
    padding: 15px 0;
    margin-top: 30px;
}
body #footer .page-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body #footer .page-wrap .foot-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
}
body #footer .page-wrap .foot-nav ul li {
    display: inline-block;
    list-style: none;
}
body #footer .page-wrap .foot-nav ul li a {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    padding-right: 15px;
}
body #footer .page-wrap .socials a {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    line-height: 35px;
    font-size: 18px;
    color: #fff!important;
    text-align: center;
    margin-right: 10px;
}
body #footer .page-wrap .socials a:last-of-type {
    margin-right: 0;
}
body #footer .foot-text {
    border-top: 1px solid #fff;
    padding-top: 10px;
    margin-top: 10px;
}
body #footer .foot-text .page-wrap .copyright {
    font-size: 12px;
    color: #fff;
}
body #footer .foot-text .page-wrap .shortcuts a {
    font-size: 12px;
    color: #fff!important;
}
/*body.overflow {
    overflow: hidden;
}
@media only screen and (max-width:1139px) {
    body {
    padding-top: 45px;
}*/
/*body #header {
    height: 45px;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: none;
    border-bottom: 1px solid #bbbaba;
    z-index: 2;
}
body #header .user-buttons {
    display: none;
}
body #header .page-wrap .fa-navicon {
    display: inline-block;
}
body #header .page-wrap .top-bar .logo {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -21px;
}
body #header .page-wrap .top-bar .logo img {
    max-height: 43px;
}
body #header .page-wrap .top-bar .logo span {
    display: none;
}
body #header .page-wrap .top-bar .main-menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 44px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #header .page-wrap .top-bar .main-menu ul {
    width: 300px;
    height: calc(100vh - 45px);
    background-color: #fff;
    overflow: auto;
    flex-direction: column;
    transform: translateX(-300px);
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
body #header .page-wrap .top-bar .main-menu ul li {
    width: 100%;
    padding: 0 15px;
}
body #header .page-wrap .top-bar .main-menu ul li a {
    width: 100%;
    border-radius: 0;
    padding: 15px 0;
    border-top: 1px solid #bbbaba;
}
body #header .page-wrap .top-bar .main-menu ul li a .fa {
    display: none;
}
body #header .page-wrap .top-bar .main-menu ul li.active {
    background-color: #2b95cb;
}
body #header .page-wrap .top-bar .main-menu ul li.active a {
    color: #fff;
    border-top: 0;
}
body #header .page-wrap .top-bar .main-menu.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
body #header .page-wrap .top-bar .main-menu.show ul {
    transform: translateX(0);
}*/
body #content .page-slide {
    top: 45px;
    bottom: 0;
    overflow: hidden;
}
body #content .page-slide .slick-track .slide {
    align-items: flex-end;
    overflow: hidden;
    max-height: initial;
}
body #content .page-slide .slick-track .slide img {
    width: auto!important;
    max-height: 100vh;
    max-width: none;
}
body #content .login-form {
    height: calc(100vh - 45px);
}
body #content .login-form .text {
    padding: 0 30px;
    width: 50%}
body #content .login-form form[name=login] {
    width: 50%}
body #content.news {
    padding: 0 15px;
}
body #footer .page-wrap {
    padding: 0 15px;
}
}@media only screen and (max-width:1023px) {
    body #content .col-wrap .col-right .featured-news .featured {
    flex-direction: column;
}
body #content .col-wrap .col-right .featured-news .featured img {
    width: 100%;
    margin-bottom: 10px;
}


}@media only screen and (max-width:991px) {
    body .table-wrap table tr td {
    white-space: nowrap;
}
}@media only screen and (max-width:840px) {
    body #content .steps {
    display: none;
}
}@media only screen and (max-width:767px) {
    body #content .login-form .text {
    display: none;
}
body #content .login-form form[name=login] {
    width: 100%}
body #content .heading .field-wrap {
    flex-basis: 100%}
body #content .heading .field-wrap select {
    width: 100%}
body #content .breadcrumb {
    display: none;
}
body #content .block-wrap .block .block-content .field-wrap.radio-list .choice {
    width: 100%}
body #content .block-wrap .block .block-content .field-wrap.flex {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
}
body #content .block-wrap .block .block-content .field-wrap.flex .choices-wrap .dropfield {
    width: 100%;
    margin-left: 0;
}
body #content .block-wrap .block .block-content .field-wrap.flex .choices-wrap .dropfield select {
    width: 100%}
body #content .block-wrap .block .block-content .field-wrap.flex .choices-wrap .dropfield:after {
    right: 20px;
    left: auto;
}
body #content .col-wrap .col-left .news {
    flex-direction: column;
}
body #content .col-wrap .col-left .news .news-img img {
    width: 100%}
body #content .main-content form[name=filter] {
    flex-wrap: wrap;
}
body #content .main-content form[name=filter].full-width .row {
    flex-wrap: wrap;
}
body #footer .page-wrap {
    display: block;
}
body #footer .page-wrap .foot-nav ul {
    display: block;
}
body #footer .page-wrap .foot-nav ul li {
    display: block;
    margin-bottom: 10px;
}
}