@import "bootstrap.min.css";
@import "bootstrap-datetimepicker.min.css";
@import "font-awesome.min.css";
@import "simple-line-icons.css";
@import "slick.css";
@import "fonts.less";
@import "vars.less";
@import "mixins.less";

html * {
  font-family: @main-font-regular;
  font-size: @font-size-md;
  color: @text-color;
}

body{
  background-color: #f3f7f8;
  padding-top: 76px;
  div, ul, li, a, select, input, button, textarea{
    &:focus, &:active, &:hover, &:visited{
      outline: none;
    }
  }

  a{
    color: @link-color;
    .transition-multi(0.3s);
    &:focus, &:active, &:hover, &:visited{
      text-decoration: none;
      outline: none;
      color: @link-color;
    }
    &:hover{
      color: @sub-color;
    }
  }

  input, select, textarea{
    &:focus{
      outline: none;
    }
  }

  img{
    max-width: 100%;
    height: auto;
  }

  p{
    font-size: @font-size-md;
    color: @text-color;
  }

  .table-wrap{
    padding: 0 15px 15px 15px;
    background-color: @slave-color;
    table{
      min-width: 100%;
      border-bottom: 1px solid @text-color;
      tr{
        border-bottom: 1px solid @border-color;
        td{
          padding: 10px 5px;
          font-family: @main-font-bold;
        }
        &.full-width{
          color: @text-color;
          text-align: center;
          text-transform: uppercase;
        }
      }
      thead{
        tr{
          border-bottom: 1px solid @text-color;
          td{
            color: @sub-text-color;
          }
        }
      }
      tbody{
        tr{
          td{
            &.stt{
              color: @sub-text-color;
            }
          }
          &:last-of-type{
            border-bottom: none;
          }
        }
      }
    }
  }

  .table-line{
    min-width: 100%;
    border-bottom: 1px solid @text-color;
    tr{
      border-bottom: 1px solid @border-color;
      td{
        padding: 10px 5px;
        font-family: @main-font-bold;
        white-space: nowrap;
      }
      &.full-width{
        color: @text-color;
        text-align: center;
        text-transform: uppercase;
      }
    }
    thead{
      tr{
        border-bottom: 1px solid @text-color;
        td{
          color: @sub-text-color;
        }
      }
    }
    tbody{
      tr{
        td{
          &.stt{
            color: @sub-text-color;
          }
        }
        &:last-of-type{
          border-bottom: none;
        }
      }
    }
  }

  .fa-facebook{
    color: #3a5897 !important;
  }
  .fa-linkedin{
    color: #007AB5 !important;
  }
  .fa-youtube{
    color: #CD201F !important;
  }
  .fa-google-plus{
    color: #DC4A38 !important;
  }
  .fa-twitter{
    color: #32CDFD !important;
  }

  .page-wrap {
    width: 1140px;
    max-width: 100%;
    margin: auto;
  }

  iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
    display: none;
    &.show{
      display: block;
    }
  }

  .star{
    color: red;
  }

  .choices{
    z-index: auto !important;
    .choice{
      padding-left: 35px;
      padding-right: 10px;
      cursor: pointer;
      input{
        visibility: hidden;
        pointer-events: none;
        height: 0;
      }
      label{
        position: relative;
        cursor: pointer;
        &:before{
          content: "";
          width: 17px;
          height: 17px;
          margin-top: -7px;
          border: 1px solid @sub-text-color;
          position: absolute;
          left: -25px;
          top: 50%;
        }
        &:after{
          position: absolute;
          top: 50%;
          opacity: 0;
          .transition-multi(0.3s);
        }
      }
      &:hover{
        label{
          &:after{
            opacity: 1;
          }
        }
      }
    }
    &.radio-list{
      .choice{
        label{
          &:before{
            border-radius: 50%;
          }
          &:after{
            content: "";
            left: -20px;
            width: 7px;
            height: 7px;
            margin-top: -2px;
            border-radius: 50%;
            background-color: @border-color;
          }
        }
        &.chosen{
          label{
            &:after{
              opacity: 1;
              background-color: @base-color;
            }
          }
        }
      }
    }
    &.checkbox-list{
      padding-left: 25px !important;
      .choice{
        label{
          &:before{
            border-radius: 2px;
          }
          &:after{
            content: "\f00c";
            font-family: @icon-font;
            font-size: @font-size-sm;
            color: @border-color;
            left: -22px;
            margin-top: -6px;
          }
        }
        &.chosen{
          label{
            &:after{
              opacity: 1;
              color: @base-color;
            }
          }
        }
      }
    }
  }

  .help-block{
    color: #a94442;
  }

  .hidden{
    display: none;
  }

  .delete-field{
    font-size: @font-size-lg;
    color: @link-color;
    cursor: pointer;
  }

  .field-wrap{
    margin-bottom: 15px;
    position: relative;
    label{
      width: 100%;
      font-weight: normal;
    }
    input, select, textarea{
      border: 1px solid @border-color;
      padding: 0 10px;
      max-width: 100%;
      display: block;
      border-radius: 2px;
      &[type=text], &[type=password], &[type=submit]{
        width: 100%;
      }
      &[type=number]{
        .appearance(textfield);
      }
      &.datetime-input{
        padding-right: 30px;
      }
    }
    input{
      height: 35px;
      line-height: 35px;
    }
    select {
      width: 100%;
      height: 35px;
      line-height: 35px;
      position: relative;
      padding-right: 30px;
      .appearance(textfield);
    }
    textarea{
      min-width: 100%;
      padding: 10px;
    }
    .datetime-icon{
      position: absolute;
      top: 35px;
      right: 25px;
      bottom: 0;
      font-size: @font-size-md;
      color: #BBBABA;
    }
    &.datetime{
      &:after{
        content: "/";
        color: @sub-text-color;
        position: absolute;
        right: -3px;
        top: 35px;
        bottom: 0;
      }
      &:last-of-type{
        &:after{
          display: none;
        }
      }
    }
    &.dropfield{
      &:after{
        content: "\e604";
        position: absolute;
        right: 20px;
        top: 35px;
        bottom: 0;
        font-family: @line-icon;
        font-size: @font-size-sm;
        color: @sub-text-color;
        pointer-events: none;
        z-index: 1;
      }
    }
    &.choices{
      label{
        display: inline-block;
        width: auto;
      }
      .choice{
        display: inline-block;
        width: auto;
      }
    }
    &.selectdrop{
      .selectdropdown{
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 15px;
        right: 15px;
        background-color: @slave-color;
        border: 1px solid @border-color;
        border-top: none;
        padding: 0 10px;
        z-index: 1 !important;
        .transition-multi(0.3s);
        .choice{
          padding: 10px 10px 10px 25px;
          border-bottom: 1px solid @border-color;
          &:last-of-type{
            border-bottom: none;
          }
        }
        &.show{
          visibility: visible;
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    &.flex{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      label{
        margin-bottom: 0;
      }
      .field-col{
        .dropfield{
          display: inline-block;
          margin-bottom: 0;
          margin-left: 50px;
          select{
            width: 250px;
          }
          &:after{
            top: 10px;
            right: auto;
            left: 230px;
          }
        }
        .choices-wrap{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          &:last-of-type{
            padding-top: 15px;
            margin-top: 15px;
            border-top: 1px solid @border-color;
          }
        }
      }
    }
  }

  .slick-arrow{
    position: absolute;
    top: 50%;
    font-size: @font-size-sl;
    margin-top: -12px;
    cursor: pointer;
    &.fa-angle-left{
      left: -15px;
    }
    &.fa-angle-right{
      right: -15px;
    }
  }

  .news-title{
    display: block;
    margin-bottom: 10px;
    font-family: @main-font-bold;
    font-size: @font-size-xxl;
    color: @text-color;
    .transition-multi(0.3s);
    &:hover{
      color: @sub-color;
    }
  }

  .excerpt{
    font-weight: @bold;
    margin-bottom: 10px;
  }

  .post-date{
    font-family: @main-font-light;
    font-size: @font-size-md;
    color: @sub-text-color;
    margin-bottom: 10px;
  }

  #header{
    background-color: @slave-color;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;
    .user-buttons{
      background-color: @background-color;
      .page-wrap{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        a{
          font-family: @main-font-bold;
          font-size: @font-size-md;
          color: @sub-text-color;
          text-transform: uppercase;
          padding: 5px 10px;
          border-right: 1px solid @slave-color;
          border-top: none;
          display: inline-block;
          .transition-multi(0.3s);
          &:hover{
            color: @sub-color;
          }
          &:last-of-type{
            border-right: none;
          }
        }
      }
    }
    .page-wrap{
      .fa-navicon{
        line-height: 45px;
        padding: 0 15px;
        font-size: @font-size-lg;
        color: @base-color;
        display: none;
      }
      .top-bar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo{
          display: inline-block;
          img{
            height: 76px;
            margin-right: 25px;
          }
          span{
            font-family: @main-font-bold;
            font-size: @font-size-lg + 1px;
            color: @base-color;
          }
        }
        .main-menu{
          ul{
            padding: 0;
            margin: 0;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            li{
              list-style: none;
              display: inline-block;
              a{
                display: inline-block;
                padding: 8px 15px;
                font-family: @main-font-bold;
                color: @slave-text-color;
                border-radius: 20px;
                .transition-multi(0.3s);
                span{
                  display: block;
                  text-align: center;
                  font-size: @font-size-lg;
                  color: @slave-text-color;
                  .transition-multi(0.3s);
                }
                &:hover{
                  color: @base-color;
                  span{
                    color: @base-color;
                  }
                }
              }
              &.active{
                a{
                  color: @base-color;
                  span{
                    color: @base-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #content{
    min-height: calc(~"100vh - 257px");
    .breadcrumb{
      background-color: transparent;
      margin-bottom: 15px;
      margin-top: 50px;
      padding: 0 0 15px 0;
      border-bottom: 1px solid @border-color;
      li{
        a{
          color: @slave-text-color;
        }
        &:last-of-type{
          a{
            cursor: text;
          }
        }
      }
    }

    .table-wrap{
      overflow: auto;
      padding-bottom: 20px;
    }

    form[name=user-info]{
      padding-bottom: 20px;
      background-color: @slave-color;
      margin-top: 55px;
    }

    .steps{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .step{
        flex-grow: 1;
        text-align: center;
        height: 40px;
        border-top: 1px solid @border-color;
        border-bottom: 1px solid @border-color;
        font-size: @font-size-lg;
        color: @sub-text-color;
        text-transform: uppercase;
        line-height: 40px;
        position: relative;
        background-color: #F1F1F1;
        &:after, &:before{
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          z-index: 1;
        }
        &:after {
          border-color: rgba(237, 241, 246, 0);
          border-left-color: #F1F1F1;
          border-width: 19px;
          margin-top: -19px;
        }
        &:before {
          border-color: rgba(187, 186, 186, 0);
          border-left-color: @border-color;
          border-width: 20px;
          margin-top: -20px;
        }
        &:first-of-type{
          border-left: 1px solid #F1F1F1;
        }
        &:last-of-type{
          border-right: 1px solid @border-color;
          &:after, &:before{
            display: none;
          }
        }
        &.active{
          background-color: @base-color;
          color: @slave-color;
          border-color: @base-color;
          &:after, &:before{
            border-left-color: @base-color;
          }
          &.old{
            color: #8ED6FE;
            &:before{
              border-left-color: @slave-color;
            }
          }
        }
      }
    }

    .block-wrap{
      padding: 0 15px;
      visibility: hidden;
      opacity: 0;
      height: 0;
      pointer-events: none;
      .transition-multi(0.3s);
      .block{
        padding: 20px 0 0 0;
        .block-heading{
          background-color: @background-color;
          line-height: 35px;
          text-transform: uppercase;
          color: @text-color;
          position: relative;
          padding: 0 35px 0 10px;
          cursor: pointer;
          &:after{
            content: "\e604";
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            font-family: @line-icon;
            font-size: @font-size-xl;
            color: @text-color;
            z-index: 1;
          }
        }

        .block-content{
          overflow: hidden;
          visibility: hidden;
          opacity: 0;
          height: 0;
          .transition-multi(0.3s);
          .note{
            text-transform: uppercase;
            color: #298443;
            margin-bottom: 15px;
          }

          .sub-note{
            color: @border-color;
            margin-bottom: 15px;
          }

          .notice{
            text-align: center;
            margin: 15px 0;
          }

          .ol-list{
            position: relative;
            padding-right: 10px;
            &:before{
              content: attr(data-ol);
              position: absolute;
              color: @border-color;
              left: 0;
              top: 0;
            }
            &.new-ol{
              .delete-field{
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -3px;
              }
            }
          }


          .btn-upload{
            margin-bottom: 20px;
            .spli{
              cursor: pointer;
              font-size: @font-size-md - 1px;
              color: @link-color;
            }
            label{
              font-family: @main-font-regular;
              font-size: @font-size-md;
              color: @link-color;
              text-decoration: underline;
              cursor: pointer;
              &:before{
                margin-right: 5px;
                text-decoration: none;
              }
              &.fa{
                &:before{
                  font-family: @icon-font;
                }
              }
            }
            input{
              &[type=file]{
                visibility: hidden;
                pointer-events: none;
                height: 0;
              }
            }
          }

          .list{
            margin: 0;
            padding: 0;
            li{
              list-style: none;
              border-bottom: 1px solid @border-color;
              padding: 7px 0;
              .btn-upload{
                margin-left: 10px;
              }
              &:last-of-type{
                border-bottom: none;
              }
            }
            &.has-options{
              padding-left: 25px;
            }
          }

          .add-field{
            color: @link-color;
            text-decoration: underline;
            cursor: pointer;
          }

          &.showout{
            overflow: visible;
            margin-top: 20px;
            visibility: visible;
            opacity: 1;
            height: auto;
          }
        }

        &.center{
          text-align: center;
          .field-wrap{
            input{
              display: inline-block;
              margin-left: 15px;
              &[type=text]{
                width: auto;
                min-width: 250px;
              }
            }
          }
        }
      }

      .form-nav{
        padding: 15px 0 0 0;
        margin-top: 30px;
        border-top: 1px solid @border-color;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .btn-step{
          min-width: 120px;
          height: 35px;
          padding: 0 10px;
          line-height: 35px;
          color: @slave-color;
          text-align: center;
          cursor: pointer;
          border-radius: 3px;
          margin-left: 15px;
          border: none;
          text-transform: uppercase;
          .transition-multi(0.3s);
          &.prev-step{
            background-color: #D7D7D7;
          }
          &.next-step{
            background-color: @base-color;
            &:hover{
              background-color: darken(@base-color, 10%);
            }
          }
        }
        &.center{
          justify-content: center;
        }
      }

      &.show{
        visibility: visible;
        opacity: 1;
        height: auto;
        pointer-events: auto;
      }
    }

    .page-slide{
      position: fixed;
      left: 0;
      right: 0;
      top: 76px;
      overflow: hidden;
      z-index: -1;
      .slide{
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        max-height: calc(~"100vh - 76px");
      }
    }

    .login-form{
      display: flex;
      justify-content: space-between;
      position: relative;
      .text{
        margin-top: 20vh;
        p{
          color: @slave-color;
          margin-bottom: 0;
          white-space: nowrap;
          &:first-of-type{
            font-family: @main-font-light;
            font-size: @font-size-sl - 1px;
          }
          &:last-of-type{
            font-family: @main-font-bold;
            font-size: @font-size-sl + 7px;
            text-transform: uppercase;
            text-decoration: underline;
          }
        }
      }
      form[name=login]{
        background: linear-gradient(rgba(74, 104, 176, 0.6), rgba(111, 84, 214, 0.6));
        padding: 30px;
        margin-top: 40px;
        border-radius: 5px;
        .field-wrap{
          label{
            font-family: @main-font-light;
            color: @slave-color;
            text-transform: uppercase;
          }
          input{
            &[type=submit]{
              background-color: @base-color;
              color: @slave-color;
              border: none;
              text-transform: uppercase;
            }
          }
          &.choices{
            padding-left: 0 !important;
            .choice{
              width: 100%;
              padding-left: 25px;
              label{
                text-transform: none;
                &:before{
                  border-color: @slave-color;
                }
              }
              &.chosen{
                label{
                  &:after{
                    color: @sub-color;
                  }
                }
              }
            }
          }
        }
        .note-text{
          font-family: @main-font-light;
          font-size: @font-size-sm;
          color: @slave-color;
          margin-bottom: 15px;
          text-align: center;
        }
        .to-register{
          border: 1px solid @slave-color;
          padding: 0 10px;
          width: 100%;
          display: block;
          border-radius: 2px;
          text-align: center;
          height: 35px;
          line-height: 35px;
          color: @slave-color;
          text-transform: uppercase;
        }
      }
    }

    .tabs{
      border: 1px solid #e4e4e4;
      background-color: #e4e4e4;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 15px;
      .tab{
        border-right: 1px solid @slave-color;
        font-family: @main-font-bold;
        color: @sub-text-color;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 39px;
        text-align: center;
        width: 20%;
        cursor: pointer;
        .transition-multi(0.3s);
        &:hover{
          background-color: @slave-color;
        }
        &:last-of-type{
          border-right: none;
        }
        &.active{
          background-color: @slave-color;
        }
      }
    }

    .table-content{
      display: none;
      &.active{
        display: block;
      }
    }

    .table-line{
      border-bottom: none;
      tbody{
        tr{
          border-bottom: none;
          td{
            padding: 10px 5px;
            font-family: @main-font-bold;
            white-space: normal;
          }
          &:nth-of-type(3){
            border-bottom: 1px solid @border-color;
          }
        }
      }
    }

    .heading{
      height: 35px;
      padding: 0 10px;
      border-left: 3px solid @base-color;
      display: flex;
      justify-content: flex-start;
      margin-bottom: 15px;
      .text-heading{
        line-height: 35px;
        font-size: @font-size-xl;
        color: @base-color;
        margin-right: 15px;
        white-space: nowrap;
        flex-basis: 100%;
      }
      .field-wrap{
        margin: 0;
        select{
          background-color: transparent;
          border: 1px solid @border-color;
          color: @sub-text-color;
          width: 200px;
        }
        &:after{
          right: 10px;
          top: 10px;
        }
      }
    }

    .main-content{
      padding: 20px 15px;
      background-color: @slave-color;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      margin-bottom: 20px;
      .info-wrap{
        margin-bottom: 15px;
        .info{
          font-family: @main-font-bold;
          span{
            font-family: @main-font-bold;
            color: @sub-text-color;
          }
        }
        &:last-of-type{
          margin-bottom: 0;
        }
      }
      form[name=filter]{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .field-wrap{
          label{
            font-family: @main-font-bold;
          }
          input{
            &[type=submit]{
              width: auto;
              display: inline-block;
              background-color: @base-color;
              color: @slave-color;
              border: none;
              text-transform: uppercase;
              padding: 0 30px;
            }
          }
        }
        &.full-width{
          display: block;
          .row{
            display: flex;
            align-items: flex-end;
          }
        }
      }
    }

    .col-wrap{
      .col-left{
        .news{
          background-color: @slave-color;
          display: flex;
          justify-content: space-between;
          align-content: stretch;
          margin-bottom: 15px;
          .news-img{
            display: block;
            flex-basis: 100%;
            min-width: 264px;
          }
          .news-detail{
            padding: 5px 15px;
            .excerpt{
              font-weight: @regular;
            }
          }
        }
        .news-content{
          background-color: @slave-color;
          padding: 5px 15px;
          .related-newses{
            margin-top: 30px;
            padding: 15px 20px;
            border: 1px solid @border-color;
            .box-heading{
              font-size: @font-size-xl;
              text-transform: uppercase;
              margin-bottom: 15px;
            }
            .related-news{
              .slick-list{
                margin: 0 -5px;
                .related{
                  margin: 0 5px;
                  border: 1px solid @border-color;
                  box-shadow: 0 0 5px rgba(0,0,0,0.2);
                  a{
                    display: inline-block;
                    font-family: @main-font-bold;
                    color: @text-color;
                    .transition-multi(0.3s);
                    img{
                      width: 100%;
                    }
                    &.related-title{
                      padding: 10px 15px;
                    }
                    &:hover{
                      color: @sub-color;
                    }
                  }
                  .post-date{
                    padding: 10px 15px;
                    margin: 0;
                    background-color: @slave-color;
                  }
                }
              }
            }
          }
        }
      }

      .col-right{
        .col-img{
          margin-bottom: 15px;
          img{
            width: 100%;
          }
        }
        .col-heading{
          line-height: 30px;
          height: 30px;
          color: @slave-color;
          text-align: center;
          text-transform: uppercase;
          background-color: @base-color;
        }
        .featured-news{
          padding: 10px;
          margin-bottom: 15px;
          background-color: @slave-color;
          .featured{
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 10px;
            img{
              object-fit: contain;
              margin-right: 5px;
            }
            p{
              margin-bottom: 0;
              .post-title{
                display: block;
                line-height: 15px;
              }
              .post-date{
                font-size: @font-size-sm;
              }
            }
          }
        }
        .recent-news{
          a{
            display: block;
            background-color: @slave-color;
            img{
              width: 100%;
            }
            .post-title{
              padding: 10px;
              margin-bottom: 0;
            }
            .post-date{
              padding: 0 10px 10px 10px;
            }
          }
        }
      }
    }
  }

  #footer{
    background-color: @base-color;
    padding: 15px 0;
    margin-top: 30px;
    .page-wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .foot-nav{
        ul{
          padding: 0;
          margin: 0;
          display: flex;
          li{
            display: inline-block;
            list-style: none;
            a{
              font-size: @font-size-sm;
              color: @slave-color;
              text-transform: uppercase;
              padding-right: 15px;
            }
          }
        }
      }
      .socials{
        a{
          width: 35px;
          height: 35px;
          border: 1px solid @slave-color;
          border-radius: 50%;
          line-height: 35px;
          font-size: @font-size-xl;
          color: @slave-color !important;
          text-align: center;
          margin-right: 10px;
          &:last-of-type{
            margin-right: 0;
          }
        }
      }
    }
    .foot-text{
      border-top: 1px solid @slave-color;
      padding-top: 10px;
      margin-top: 10px;
      .page-wrap{
        .copyright{
          font-size: @font-size-sm;
          color: @slave-color;
        }
        .shortcuts{
          a{
            font-size: @font-size-sm;
            color: @slave-color !important;
          }
        }
      }
    }
  }

  &.overflow{
    overflow: hidden;
  }
}

@import "responsive.less";
