//color
@base-color: #2B95CB;
@sub-color: #f35d23;
@slave-color: #FFFFFF;
@heading-color: #171616;
@text-color: #3D3A3A;
@sub-text-color: #6C6B6B;
@slave-text-color: #a6a6a6;
@link-color: #2481BF;
@border-color: #BBBABA;
@background-color: #EDF1F6;

//font-size
@font-size-xs: 10px;
@font-size-sm: 12px;
@font-size-md: 14px;
@font-size-lg: 16px;
@font-size-xl: 18px;
@font-size-xxl: 20px;
@font-size-sl: 24px;

//fonts-family
@main-font-regular: "Times New Roman", Times, serif;
@main-font-bold: 'HarmoniaSansProCyr-SemiBd', sans-serif;
@main-font-light: 'HarmoniaSansProCyr-Light', sans-serif;
@icon-font: 'FontAwesome';
@line-icon: 'simple-line-icons';

//font weight
@light: 300;
@regular: 400;
@medium: 500;
@semi-bold: 600;
@bold: 700;
@extra-bold: 800;

//transition
@transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;