a { color: #ffc527; }
a:focus { color: #ffc527; }
p a:hover { border-color: #ffc527; }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #ffc527; }
.colored { color: #ffc527; }
.scroll-top, .scroll-top:focus { background: #ffc527; }
.btn.colorful { background: #ffc527; border-color: #ffc527; }
.btn.transparent-colorful { color: #ffc527; border-color: #ffc527; }
.btn.hover-colorful:hover { background: #ffc527; border-color: #ffc527; }
.btn.hover-transparent-colorful:hover { color: #ffc527; border-color: #ffc527; }
#scroll-progress { background: #ffc527; }
input[type="submit"], input[type="submit"].form-control, input[type="submit"], input[type="submit"].form-control { background: #0355B3; }
.main-menu > li > a.current, .main-menu > li:hover > a, .main-menu > li > a:hover { color: #ffc527; }
.main-menu ul.sub-menu li a:hover, .main-menu ul.sub-menu li:hover > a { color: #ffc527; }
.main-menu.sf-arrows li > a.sf-with-ul:focus:after, .main-menu.sf-arrows li:hover > a.sf-with-ul:after, .main-menu.sf-arrows .sfHover > a.sf-with-ul:after { color: #ffc527; }
.mobile-menu li:hover > a { color: #ffc527; }
.mobile-menu > li > a:hover, .mobile-menu > li > a.current { color: #ffc527; }
.mobile-menu.sf-arrows > li > a.sf-with-ul:focus:after, .mobile-menu.sf-arrows > li:hover > a.sf-with-ul:after, .mobile-menu.sf-arrows > .sfHover > a.sf-with-ul:after { color: #ffc527; }
.mobile-menu.sf-arrows li > a.sf-with-ul:focus:after, .mobile-menu.sf-arrows li:hover > a.sf-with-ul:after, .mobile-menu.sf-arrows .sfHover > a.sf-with-ul:after { color: #ffc527; }
.banner-slider .owl-nav [class*="owl-"] { background: #ffc527; }
.slide-content h1::after { background: #ffc527; }
.section-title h6 { color: #ffc527; }
.section-title h2::after { background: #ffc527; }
.os-tabs > li.active { color: #ffc527; }
.os-tabs > li.active::before, .os-tabs > li.active:hover::before { background-color: #ffc527; }
.os-tabs > li.active::after, .os-tabs > li.active:hover::after { border-bottom-color: #ffc527; }
.os-tabs > li.active i { color: #ffc527; border-color: #ffc527; }
.list li::before { color: #ffc527; }
.box-preview .box-content .meta li i { color: #ffc527; }
.rating i { color: #ffc527; }
.popular-packages-slider .owl-carousel .box-preview:hover .box-content h5 a { color: #ffc527; }
.popular-packages-slider .owl-nav [class*="owl-"] { background: #ffc527; }
.popular-packages-slider .owl-dots .owl-dot.active span, .popular-packages-slider .owl-dots .owl-dot.active:hover span { background: #ffc527; }
.cta-title .colored { color: #ffc527 !important; }
.cta-title h1::after { background: #ffc527; }
.portfolio-categories li a:hover { color: #ffc527; }
.portfolio-categories li a::before { background: #ffc527; }
.portfolio-items-wrap .portfolio-item .overlay > i { background: #ffc527; }
.portfolio-items-wrap .portfolio-item .overlay .overlay-inner::before { background: #ffc527; }
.portfolio-items-wrap .portfolio-item .overlay .sub-title { color: #ffc527; }
.portfolio-single-preview > .project-close:hover { color: #ffc527; }
.portfolio-single-slider .owl-nav [class*="owl-"] { background: #ffc527; }
.portfolio-single-slider .controls span { color: #ffc527; }
.ps-fixedwidth-intro .description .project-close:hover { color: #ffc527; }
.box-info .box-content h5 .numb-count { color: #ffc527; }
.box-info .box-content .meta a:hover { color: #ffc527; }
.event-box .content i { color: #ffc527; }
.event-box .content h4 { color: #ffc527; }
.event-box .content-overlay h5 { color: #ffc527; }
.event-box .content-overlay i { color: #ffc527; }
.video-btn i, .video-btn i::after { color: #ffc527; }
.tour-guide-slider .owl-carousel .box-preview .box-content h5 .sub-title { color: #ffc527; }
.tour-guide-slider .owl-carousel .box-preview:hover .box-content h5 a { color: #ffc527; }
.tour-guide-slider .owl-nav [class*="owl-"] { background: #ffc527; }
.tour-guide-slider .owl-dots .owl-dot.active span, .tour-guide-slider .owl-dots .owl-dot.active:hover span { background: #ffc527; }
.testmonial-single .ts-img i { background: #ffc527; }
.testmonial-single .ts-person a:hover { color: #ffc527; }
.testmonials-slider .owl-nav [class*="owl-"] { background: #ffc527; }
.testmonials-slider .owl-dots .owl-dot.active span, .testmonials-slider .owl-dots .owl-dot.active:hover span { background: #ffc527; }
.clients-slider .owl-nav [class*="owl-"] { background: #ffc527; }
.clients-slider .owl-dots .owl-dot.active span, .clients-slider .owl-dots .owl-dot.active:hover span { background: #ffc527; }
.contact-info li i { color: #ffc527; }
/*.copyrights-message span { color: #ffc527; }*/
.scroll-top-btn { color: #ffc527; }
.scroll-top-btn:hover { background: #ffc527; }

/* GLOBAL */
.bg-grey { background: #f6f8f9 !important; }
.main-menu > li > a { padding: 0 10px; }

/* SLIDER */
.login-box { position: absolute; background: linear-gradient(rgba(58, 188, 237, 0.6), rgba(45, 122, 173, 0.6)); padding: 30px; -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3); box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3); }
.login-box .title { color: #fff; text-transform: uppercase; }
.login-box input[type="checkbox"] { line-height: normal; width: 20px; height: 20px; }
.login-box label { color: #fff; }
.login-box label.small { color: rgba(255, 255, 255, 0.87); margin: 0; }

.slide-content div[class*="col-"] { max-width: 65%; overflow: hidden; }
/*.slide-content h1 { font-size: 60px; }*/
.slide-content h1::after { margin-left: 0; }

@media (min-width: 1200px) {
    .login-box { width: 25%; top: 20%; right: 10%; }
    .slide-content div[class*="col-"] { max-width: 65%; overflow: hidden; }
}

@media (max-width: 1200px) {
    .login-box { width: 35%; top: 20%; right: 5%; }
    .slide-content div[class*="col-"] { max-width: 60%; overflow: hidden; }
}

@media (max-width: 992px) {
    #header .logo { float: none; -webkit-box-shadow: none; box-shadow: none; top: 0; }
    #header .logo img { max-width: 80px; max-height: 80px; margin: 5px auto; }
    .login-box { width: 45%; top: 20%; right: 5%; }
    .slide-content div[class*="col-"] { max-width: 50%; overflow: hidden; }
    .slide-content h1 { font-size: 50px; line-height: 65px }
}

@media (max-width: 768px) {
    .login-box { width: 90%; top: 20%; right: 5%; z-index: 99; }
    .slide-content div[class*="col-"] { max-width: 50%; overflow: hidden; }
    .slide-content h1 { font-size: 40px; line-height: 55px }
}

@media (max-width: 480px) {
/*    .login-box { display: none; }*/
    .slide-content div[class*="col-"] { max-width: unset !important; }
    .slide-content h1 { font-size: 30px; line-height: 45px }
}

/* INTRO */
.intro-tabs { list-style: none; display: table; position: relative; width: 100%; margin: 50px auto 0; overflow: hidden }
.intro-tabs > li, .intro-tabs > li::before, .intro-tabs > li::after, .intro-tabs > li i { transition: all 0.2s }
.intro-tabs > li { display: inline-block; width: 20%; padding-bottom: 40px; text-align: center; padding: 20px 20px 25px 20px; position: relative; cursor: pointer; color: #777; font-size: 14px; font-weight: 600; font-family: "Open Sans","Droid Arabic Kufi",sans-serif; overflow: hidden; float: left }
.intro-tabs > li a { display: block; color: inherit; }
.intro-tabs > li i { width: 80px; height: 80px; line-height: 80px; text-align: center; color: #a3a5a5; border: 2px solid #ccc; border-radius: 50%; font-size: 32px; margin: 0 auto 18px; display: block; position: relative; top: 0 }
.intro-tabs > li:hover { color: #ffc527; }
.intro-tabs > li:hover i { color: #ffc527; border-color: #ffc527; }
.intro-tabs > li.active { color: #ffc527 }
.intro-tabs > li.active i { color: #ffc527; border-color: #ffc527 }
.intro-tabs > li.active:hover i { top: 0 }

@media (max-width: 480px) {
    .intro-tabs > li { width: 50%; padding-top: 10px }
    .intro-tabs > li::before, .intro-tabs > li::after { display: none }
}

/* NEWS */
.highlight-news { list-style: none; margin: 50px auto 0; }

@media (max-width: 768px) {
    .highlight-news .box-preview { margin-bottom: 20px; }
}

/* OFFICES */
.offices-container { margin: 50px auto 0; text-align: left; }
.offices-container div[class*='col-'] { padding: 0; }
.offices-container .office-item { height: 320px; padding: 0 5px 5px 0; position: relative; cursor: pointer; display: inline-block; float: left; width: 100%; }
.offices-container .office-item:hover .overlay { opacity: 1; visibility: visible }
.offices-container .office-item:hover .overlay > i { transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.5s; transform: scale(1) }
.offices-container .office-item:hover .overlay .overlay-inner::before { width: 20px; transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.1s }
.offices-container .office-item:hover .overlay h5:not(.sub-title) { transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.3s }
.offices-container .office-item:hover .overlay .sub-title { transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.4s }
.offices-container .office-item:hover .overlay h5:not(.sub-title), .offices-container .office-item:hover .overlay .sub-title, .offices-container .office-item:hover .overlay > i { opacity: 1; visibility: visible }
.offices-container .office-item:hover .overlay h5:not(.sub-title), .offices-container .office-item:hover .overlay .sub-title { transform: translateX(0) }
.offices-container .office-item .preview { width: 100%; height: 100%; position: relative; z-index: 0; overflow: hidden; background: #ccc no-repeat center / cover;  }
.offices-container .office-item .preview img { width: 100%; height: 100% }
.offices-container .office-item .overlay { position: absolute; top: 0; left: 0; width: calc(100% - 5px); height: calc(100% - 5px); padding: 35px 40px; background: rgba(0,0,0,0.7); opacity: 0; visibility: hidden; transition: all 0.3s ease }
.offices-container .office-item .overlay > i { position: absolute; top: 30px; left: 40px; width: 35px; height: 35px; line-height: 35px; font-size: 16px; text-align: center; border-radius: 2px; z-index: 1; background: #ffc527; color: #fff; transform: scale(0.7); text-shadow: 1px 1px 1px rgba(0,0,0,0.15) }
.offices-container .office-item .overlay .overlay-inner { position: absolute; bottom: 30px; left: 40px; width: calc(100% - 80px) }
.offices-container .office-item .overlay .overlay-inner::before { content: ""; height: 3px; width: 0; display: block; margin-bottom: 15px; background: #ffc527; transform: translateY(0) }
.offices-container .office-item .overlay h5 { text-transform: uppercase }
.offices-container .office-item .overlay h5:not(.sub-title), .offices-container .office-item .overlay .sub-title, .offices-container .office-item .overlay > i { opacity: 0; visibility: hidden }
.offices-container .office-item .overlay h5:not(.sub-title), .offices-container .office-item .overlay .sub-title { transform: translateX(30px) }
.offices-container .office-item .overlay h5:not(.sub-title) { margin-bottom: 1px; color: #fff }
.offices-container .office-item .overlay h5:not(.sub-title):hover { text-decoration: underline }
.offices-container .office-item .overlay .sub-title { color: #ffc527; font-size: 13px; margin-bottom: 0 }
.offices-container .office-item .detail-link { width: 100%; height: 100%; position: absolute; top: 0px; z-index: 100; cursor: pointer }

/* INFOS */
.info-slider { width: 100%; margin: 50px auto 0; }
.info-slider .owl-carousel { list-style: none }
.info-slider .owl-carousel .owl-stage-outer { padding-bottom: 1px }
.info-slider .owl-carousel .box-preview .overlay .social-icons { position: absolute; bottom: -10px; left: 0; width: 100%; text-align: center; padding: 30px; transition: all 0.2s ease; opacity: 0; visibility: hidden }
.info-slider .owl-carousel .box-preview .box-img { height: 360px }
.info-slider .owl-carousel .box-preview .box-content h5 { position: relative }
.info-slider .owl-carousel .box-preview .box-content h5 .sub-title { font: 700 13px/1.55 "Lato","Cairo",sans-serif; text-transform: initial; color: #ffc527; position: absolute; right: 0 }
.info-slider .owl-carousel .box-preview:hover .box-img .overlay { opacity: 1; visibility: visible; background: rgba(255,255,255,0.2) }
.info-slider .owl-carousel .box-preview:hover .box-img .overlay .social-icons { opacity: 1; visibility: visible; bottom: 0; transition-delay: 0.2s }
.info-slider .owl-carousel .box-preview:hover .box-img .box-content .sub-title { color: #222 }
.info-slider .owl-carousel .box-preview:hover .box-content { border-color: #e2e6e8; box-shadow: 0 1px 0 #e2e6e8 }
.info-slider .owl-carousel .box-preview:hover .box-content h5 a { color: #ffc527 }
.info-slider .owl-carousel > li { display: block; background-position: top center; background-size: cover; background-repeat: no-repeat; background-clip: content-box }
.info-slider .owl-carousel .slide { position: relative }
.info-slider .owl-carousel > img { width: 100% }
.info-slider .owl-nav { margin: 0 }
.info-slider .owl-nav [class*="owl-"] { font-size: 25px; width: 60px; height: 60px; line-height: 56px; margin: 0; padding: 0; margin-top: -30px !important; position: absolute; top: 50%; border-radius: 999px; opacity: 0; visibility: hidden; transition: all 0.2s; color: #fff; background: #ffc527 }
.info-slider .owl-nav [class*="owl-"]:hover { background: #222; color: #fff }
.info-slider .owl-nav .owl-prev { left: 0; margin-left: 60px }
.info-slider .owl-nav .owl-next { right: 0; margin-right: 60px }
.info-slider .owl-nav .disabled { opacity: 0.5; cursor: default }
.info-slider:hover .owl-nav [class*="owl-"] { opacity: 1; visibility: visible }
.info-slider:hover .owl-nav .owl-prev { margin-left: 40px }
.info-slider:hover .owl-nav .owl-prev:hover { margin-left: 35px }
.info-slider:hover .owl-nav .owl-next { margin-right: 40px }
.info-slider:hover .owl-nav .owl-next:hover { margin-right: 35px }
.info-slider .owl-dots { margin: 0; position: relative; bottom: 0; width: 100%; margin-top: 45px !important }
.info-slider .owl-dots .owl-dot { margin: 0 2.5px; border-radius: 100% }
.info-slider .owl-dots .owl-dot:hover span { background: #aaa }
.info-slider .owl-dots .owl-dot.active span, .info-slider .owl-dots .owl-dot.active:hover span { background: #ffc527 }
.info-slider .owl-dots .owl-dot span { width: 15px; margin: 0; border-radius: 100%; height: 15px; background: #d8d9d9; transition: all .15s }

/* FOOTER */
#footer-mini { padding: 10px 0; }
.copyrights-message { line-height: 26px; }
.scroll-top-btn { background: #fff; top: 30px; }
.scroll-top-btn:hover { top: 28px; }
.clearfix{
	clear: both;
}
@media (max-width: 768px) {
    .copyrights-message { line-height: 1 !important; }
    .scroll-top-btn { top: 0; }
}
.m0a{margin:0 auto;}
.m0{margin:0px;}
.m1{margin:1px;}
.m2{margin:2px;}
.m3{margin:3px;}
.m4{margin:4px;}
.m5{margin:5px;}
.m6{margin:6px;}
.m7{margin:7px;}
.m8{margin:8px;}
.m9{margin:9px;}
.m10{margin:10px;}
.m11{margin:11px;}
.m12{margin:12px;}
.m13{margin:13px;}
.m14{margin:14px;}
.m15{margin:15px;}
.m16{margin:16px;}
.m17{margin:17px;}
.m18{margin:18px;}
.m19{margin:19px;}
.m20{margin:20px;}
.m21{margin:21px;}
.m22{margin:22px;}
.m23{margin:23px;}
.m24{margin:24px;}
.m25{margin:25px;}
.m26{margin:26px;}
.m27{margin:27px;}
.m28{margin:28px;}
.m29{margin:29px;}
.m30{margin:30px;}
.mt-15{margin-top:-15px;}
.mt-14{margin-top:-14px;}
.mt-13{margin-top:-13px;}
.mt-12{margin-top:-12px;}
.mt-11{margin-top:-11px;}
.mt-10{margin-top:-10px;}
.mt-9{margin-top:-9px;}
.mt-8{margin-top:-8px;}
.mt-7{margin-top:-7px;}
.mt-6{margin-top:-6px;}
.mt-5{margin-top:-5px;}
.mt-4{margin-top:-4px;}
.mt-3{margin-top:-3px;}
.mt-2{margin-top:-2px;}
.mt-1{margin-top:-1px;}
.mt0{margin-top:0px;}
.mt1{margin-top:1px;}
.mt2{margin-top:2px;}
.mt3{margin-top:3px;}
.mt4{margin-top:4px;}
.mt5{margin-top:5px;}
.mt6{margin-top:6px;}
.mt7{margin-top:7px;}
.mt8{margin-top:8px;}
.mt9{margin-top:9px;}
.mt10{margin-top:10px;}
.mt11{margin-top:11px;}
.mt12{margin-top:12px;}
.mt13{margin-top:13px;}
.mt14{margin-top:14px;}
.mt15{margin-top:15px;}
.mt16{margin-top:16px !important;}
.mt17{margin-top:17px;}
.mt18{margin-top:18px;}
.mt19{margin-top:19px;}
.mt20{margin-top:20px;}
.mt21{margin-top:21px;}
.mt22{margin-top:22px;}
.mt23{margin-top:23px;}
.mt24{margin-top:24px;}
.mt25{margin-top:25px;}
.mt26{margin-top:26px;}
.mt27{margin-top:27px;}
.mt28{margin-top:28px;}
.mt29{margin-top:29px;}
.mt30{margin-top:30px;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mr-15{margin-right:-15px;}
.mr-14{margin-right:-14px;}
.mr-13{margin-right:-13px;}
.mr-12{margin-right:-12px;}
.mr-11{margin-right:-11px;}
.mr-10{margin-right:-10px;}
.mr-9{margin-right:-9px;}
.mr-8{margin-right:-8px;}
.mr-7{margin-right:-7px;}
.mr-6{margin-right:-6px;}
.mr-5{margin-right:-5px;}
.mr-4{margin-right:-4px;}
.mr-3{margin-right:-3px;}
.mr-2{margin-right:-2px;}
.mr-1{margin-right:-1px;}
.mr0{margin-right:0px;}
.mr1{margin-right:1px;}
.mr2{margin-right:2px;}
.mr3{margin-right:3px;}
.mr4{margin-right:4px;}
.mr5{margin-right:5px;}
.mr6{margin-right:6px;}
.mr7{margin-right:7px;}
.mr8{margin-right:8px;}
.mr9{margin-right:9px;}
.mr10{margin-right:10px;}
.mr11{margin-right:11px;}
.mr12{margin-right:12px;}
.mr13{margin-right:13px;}
.mr14{margin-right:14px;}
.mr15{margin-right:15px;}
.mr16{margin-right:16px;}
.mr17{margin-right:17px;}
.mr18{margin-right:18px;}
.mr19{margin-right:19px;}
.mr20{margin-right:20px;}
.mr21{margin-right:21px;}
.mr22{margin-right:22px;}
.mr23{margin-right:23px;}
.mr24{margin-right:24px;}
.mr25{margin-right:25px;}
.mr26{margin-right:26px;}
.mr27{margin-right:27px;}
.mr28{margin-right:28px;}
.mr29{margin-right:29px;}
.mr30{margin-right:30px;}
.mb-15{margin-bottom:-15px;}
.mb-14{margin-bottom:-14px;}
.mb-13{margin-bottom:-13px;}
.mb-12{margin-bottom:-12px;}
.mb-11{margin-bottom:-11px;}
.mb-10{margin-bottom:-10px;}
.mb-9{margin-bottom:-9px;}
.mb-8{margin-bottom:-8px;}
.mb-7{margin-bottom:-7px;}
.mb-6{margin-bottom:-6px;}
.mb-5{margin-bottom:-5px;}
.mb-4{margin-bottom:-4px;}
.mb-3{margin-bottom:-3px;}
.mb-2{margin-bottom:-2px;}
.mb-1{margin-bottom:-1px;}
.mb0{margin-bottom:0px;}
.mb1{margin-bottom:1px;}
.mb2{margin-bottom:2px;}
.mb3{margin-bottom:3px;}
.mb4{margin-bottom:4px;}
.mb5{margin-bottom:5px;}
.mb6{margin-bottom:6px;}
.mb7{margin-bottom:7px;}
.mb8{margin-bottom:8px;}
.mb9{margin-bottom:9px;}
.mb10{margin-bottom:10px;}
.mb11{margin-bottom:11px;}
.mb12{margin-bottom:12px;}
.mb13{margin-bottom:13px;}
.mb14{margin-bottom:14px;}
.mb15{margin-bottom:15px;}
.mb16{margin-bottom:16px;}
.mb17{margin-bottom:17px;}
.mb18{margin-bottom:18px;}
.mb19{margin-bottom:19px;}
.mb20{margin-bottom:20px;}
.mb21{margin-bottom:21px;}
.mb22{margin-bottom:22px;}
.mb23{margin-bottom:23px;}
.mb24{margin-bottom:24px;}
.mb25{margin-bottom:25px;}
.mb26{margin-bottom:26px;}
.mb27{margin-bottom:27px;}
.mb28{margin-bottom:28px;}
.mb29{margin-bottom:29px;}
.mb30{margin-bottom:30px;}
.mb35{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.ml-15{margin-left:-15px;}
.ml-14{margin-left:-14px;}
.ml-13{margin-left:-13px;}
.ml-12{margin-left:-12px;}
.ml-11{margin-left:-11px;}
.ml-10{margin-left:-10px;}
.ml-9{margin-left:-9px;}
.ml-8{margin-left:-8px;}
.ml-7{margin-left:-7px;}
.ml-6{margin-left:-6px;}
.ml-5{margin-left:-5px;}
.ml-4{margin-left:-4px;}
.ml-3{margin-left:-3px;}
.ml-2{margin-left:-2px;}
.ml-1{margin-left:-1px;}
.ml0{margin-left:0px;}
.ml1{margin-left:1px;}
.ml2{margin-left:2px;}
.ml3{margin-left:3px;}
.ml4{margin-left:4px;}
.ml5{margin-left:5px;}
.ml6{margin-left:6px;}
.ml7{margin-left:7px;}
.ml8{margin-left:8px;}
.ml9{margin-left:9px;}
.ml10{margin-left:10px;}
.ml11{margin-left:11px;}
.ml12{margin-left:12px;}
.ml13{margin-left:13px;}
.ml14{margin-left:14px;}
.ml15{margin-left:15px;}
.ml16{margin-left:16px;}
.ml17{margin-left:17px;}
.ml18{margin-left:18px;}
.ml19{margin-left:19px;}
.ml20{margin-left:20px;}
.ml21{margin-left:21px;}
.ml22{margin-left:22px;}
.ml23{margin-left:23px;}
.ml24{margin-left:24px;}
.ml25{margin-left:25px;}
.ml26{margin-left:26px;}
.ml27{margin-left:27px;}
.ml28{margin-left:28px;}
.ml29{margin-left:29px;}
.ml30{margin-left:30px;}
.p0{padding:0px;}
.p1{padding:1px;}
.p2{padding:2px;}
.p3{padding:3px;}
.p4{padding:4px;}
.p5{padding:5px;}
.p6{padding:6px;}
.p7{padding:7px;}
.p8{padding:8px;}
.p9{padding:9px;}
.p10{padding:10px;}
.p11{padding:11px;}
.p12{padding:12px;}
.p13{padding:13px;}
.p14{padding:14px;}
.p15{padding:15px;}
.p16{padding:16px;}
.p17{padding:17px;}
.p18{padding:18px;}
.p19{padding:19px;}
.p20{padding:20px;}
.p21{padding:21px;}
.p22{padding:22px;}
.p23{padding:23px;}
.p24{padding:24px;}
.p25{padding:25px;}
.p26{padding:26px;}
.p27{padding:27px;}
.p28{padding:28px;}
.p29{padding:29px;}
.p30{padding:30px;}
.p40{padding:40px;}
.pt0{padding-top:0px;}
.pt1{padding-top:1px;}
.pt2{padding-top:2px;}
.pt3{padding-top:3px;}
.pt4{padding-top:4px;}
.pt5{padding-top:5px;}
.pt6{padding-top:6px;}
.pt7{padding-top:7px;}
.pt8{padding-top:8px;}
.pt9{padding-top:9px;}
.pt10{padding-top:10px;}
.pt11{padding-top:11px;}
.pt12{padding-top:12px;}
.pt13{padding-top:13px;}
.pt14{padding-top:14px;}
.pt15{padding-top:15px;}
.pt16{padding-top:16px;}
.pt17{padding-top:17px;}
.pt18{padding-top:18px;}
.pt19{padding-top:19px;}
.pt20{padding-top:20px;}
.pt21{padding-top:21px;}
.pt22{padding-top:22px;}
.pt23{padding-top:23px;}
.pt24{padding-top:24px;}
.pt25{padding-top:25px;}
.pt26{padding-top:26px;}
.pt27{padding-top:27px;}
.pt28{padding-top:28px;}
.pt29{padding-top:29px;}
.pt30{padding-top:30px;}
.pt31{padding-top:31px;}
.pt32{padding-top:32px;}
.pt33{padding-top:33px;}
.pt34{padding-top:34px;}
.pt35{padding-top:35px;}
.pt36{padding-top:36px;}
.pt37{padding-top:37px;}
.pt38{padding-top:38px;}
.pt39{padding-top:39px;}
.pt40{padding-top:40px;}
.pr0{padding-right:0px;}
.pr1{padding-right:1px;}
.pr2{padding-right:2px;}
.pr3{padding-right:3px;}
.pr4{padding-right:4px;}
.pr5{padding-right:5px;}
.pr6{padding-right:6px;}
.pr7{padding-right:7px;}
.pr8{padding-right:8px;}
.pr9{padding-right:9px;}
.pr10{padding-right:10px;}
.pr11{padding-right:11px;}
.pr12{padding-right:12px;}
.pr13{padding-right:13px;}
.pr14{padding-right:14px;}
.pr15{padding-right:15px;}
.pr16{padding-right:16px;}
.pr17{padding-right:17px;}
.pr18{padding-right:18px;}
.pr19{padding-right:19px;}
.pr20{padding-right:20px;}
.pr21{padding-right:21px;}
.pr22{padding-right:22px;}
.pr23{padding-right:23px;}
.pr24{padding-right:24px;}
.pr25{padding-right:25px;}
.pr26{padding-right:26px;}
.pr27{padding-right:27px;}
.pr28{padding-right:28px;}
.pr29{padding-right:29px;}
.pr30{padding-right:30px;}
.pb0{padding-bottom:0px;}
.pb1{padding-bottom:1px;}
.pb2{padding-bottom:2px;}
.pb3{padding-bottom:3px;}
.pb4{padding-bottom:4px;}
.pb5{padding-bottom:5px;}
.pb6{padding-bottom:6px;}
.pb7{padding-bottom:7px;}
.pb8{padding-bottom:8px;}
.pb9{padding-bottom:9px;}
.pb10{padding-bottom:10px;}
.pb11{padding-bottom:11px;}
.pb12{padding-bottom:12px;}
.pb13{padding-bottom:13px;}
.pb14{padding-bottom:14px;}
.pb15{padding-bottom:15px;}
.pb16{padding-bottom:16px;}
.pb17{padding-bottom:17px;}
.pb18{padding-bottom:18px;}
.pb19{padding-bottom:19px;}
.pb20{padding-bottom:20px;}
.pb21{padding-bottom:21px;}
.pb22{padding-bottom:22px;}
.pb23{padding-bottom:23px;}
.pb24{padding-bottom:24px;}
.pb25{padding-bottom:25px;}
.pb26{padding-bottom:26px;}
.pb27{padding-bottom:27px;}
.pb28{padding-bottom:28px;}
.pb29{padding-bottom:29px;}
.pb30{padding-bottom:30px;}
.pb31{padding-bottom:31px;}
.pb32{padding-bottom:32px;}
.pb33{padding-bottom:33px;}
.pb34{padding-bottom:34px;}
.pb35{padding-bottom:35px;}
.pb36{padding-bottom:36px;}
.pb37{padding-bottom:37px;}
.pb38{padding-bottom:38px;}
.pb39{padding-bottom:39px;}
.pb40{padding-bottom:40px;}
.pl0{padding-left:0px;}
.pl1{padding-left:1px;}
.pl2{padding-left:2px;}
.pl3{padding-left:3px;}
.pl4{padding-left:4px;}
.pl5{padding-left:5px;}
.pl6{padding-left:6px;}
.pl7{padding-left:7px;}
.pl8{padding-left:8px;}
.pl9{padding-left:9px;}
.pl10{padding-left:10px;}
.pl11{padding-left:11px;}
.pl12{padding-left:12px;}
.pl13{padding-left:13px;}
.pl14{padding-left:14px;}
.pl15{padding-left:15px;}
.pl16{padding-left:16px;}
.pl17{padding-left:17px;}
.pl18{padding-left:18px;}
.pl19{padding-left:19px;}
.pl20{padding-left:20px;}
.pl21{padding-left:21px;}
.pl22{padding-left:22px;}
.pl23{padding-left:23px;}
.pl24{padding-left:24px;}
.pl25{padding-left:25px;}
.pl26{padding-left:26px;}
.pl27{padding-left:27px;}
.pl28{padding-left:28px;}
.pl29{padding-left:29px;}
.pl30{padding-left:30px;}
.fs10{font-size:10px;}
.fs11{position:relative;font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs19{font-size:19px;}
.fs20{font-size:20px;}
.fs21{font-size:21px;}
.fs22{font-size:22px;}
.fs23{font-size:23px;}
.fs24{font-size:24px;}
.fs25{font-size:25px;}
.fs26{font-size:26px;}
.fs27{font-size:27px;}
.fs28{font-size:28px;}
.fs29{font-size:29px;}
.fs30{font-size:30px;}
.fs31{font-size:31px;}
.fs32{font-size:32px;}
.fs33{font-size:33px;}
.fs34{font-size:34px;}
.fs35{font-size:35px;}
.fs36{font-size:36px;}
.fs37{font-size:37px;}
.fs38{font-size:38px;}
.fs39{font-size:39px;}
.fs40{font-size:40px;}