@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=vietnamese');

body, ul, ol, h1, h3, h3, h4, h5, h6, form, li, p, input, select, legend, textarea, fieldset { margin: 0; padding: 0 }
body { width: 100%; position: relative; font: 14px/1.55 'Open Sans',sans-serif; background: #fff; color: #333 }
#full-container { max-width: 100%; overflow: hidden }
[class*="col-"] p:last-child, [class*="col-"] .img-preview:last-child, [class*="col-"] .entry:last-child, [class*="col-"] .connect-box:last-child { margin-bottom: 0 }
a, a img { outline: none !important; border: none }
a { text-decoration: none; color: #ffc527; transition: all 0.15s }
a:hover { text-decoration: none; color: #222 }
a:focus { color: #ffc527; text-decoration: none }
p a { border-bottom: 1px dotted transparent }
p a:hover { text-decoration: none; border-bottom: 1px dotted #ffc527 }
h1, h2, h3, h4, h5, h6 { font-family: "Open Sans","Droid Arabic Kufi",sans-serif; color: #222; font-weight: 700; /*margin-top: 0;*/ margin-bottom: 14px; line-height: 1.4 }
h1 { font-size: 34px }
h2 { font-size: 28px }
h3 { font-size: 23px }
h4 { font-size: 18px }
h5 { font-size: 14px }
h6 { font-size: 13px }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { text-decoration: none; color: #222; transition: all 0.2s }
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { color: #ffc527; text-decoration: underline }
.main-heading { margin-bottom: 40px }
h4.main-heading { margin-bottom: 35px }
h5.main-heading, h6.main-heading { margin-bottom: 30px }
p { margin-bottom: 15px }
.dark p { color: #fff }
img { max-width: 100% }
strong { color: #222; font-weight: 600 }
::-moz-selection { background: #c0eaf5; color: #000 }
::selection { background: #c0eaf5; color: #000 }
.colored { color: #ffc527 }
.scroll-top { width: 40px; height: 40px; line-height: 38px; text-align: center; color: #fff; font-size: 20px; border-radius: 2px; background: #ffc527; text-shadow: 1px 1px 0 rgba(0,0,0,0.2); position: fixed; bottom: 30px; right: -50px; box-shadow: 0 2px 4px 0px rgba(0,0,0,0.1) }
.scroll-top.show { right: 15px }
.scroll-top:hover { background: #222; color: #fff; bottom: 32px }
.scroll-top:focus { background: #ffc527; color: #fff }
.breadcrumb { position: absolute; right: 15px; top: 50%; margin-top: 5px; list-style: none; font-size: 13px; font-size: 12px; color: #777; font-family: "Poppins", "Cairo", sans-serif }
.breadcrumb li { display: inline-block }
.breadcrumb li + li::before { content: "/"; padding-right: 4px; font-size: 9px; position: relative; top: -1px }
.breadcrumb a { color: #777 }
.breadcrumb a:hover { text-decoration: underline; color: #222 }
table { width: 100%; text-align: left }
table h5 { margin-bottom: 0 }
table h5 a { color: #ffc527 }
table h5 a:hover { color: #222 }
table thead { border: 1px solid #eee; background: #fafafa;  }
table thead th { padding: 16px 18px 13px; font-size: 13px; color: #222; border-right: 1px solid #eee }
table thead th:last-child { border-right: none }
table tbody tr {  background: #fff;  }
table tbody tr:nth-child(even) { background: #fafafa }
table tbody tr td { padding: 5px 8px; font-size: 14px; color: #333;  }
table tbody tr td:last-child { border-right: none }
.table0 tr td{border-top: 1px solid #eee;}
.table0 tr td:nth-child(1){border-right: 1px solid #eee;}


.btn { font-size: 14px; font-weight: 700; padding: 17px 35px; text-transform: uppercase; display: inline-block; border-radius: 2px; border: 2px solid #222; transition: color 0.15s, background 0.15s, border-color 0.15s !important }
.btn.rounded { border-radius: 999px }
.btn.large { padding: 17px 35px; font-size: 14px }
.btn.medium { padding: 12px 22px; font-size: 12px; line-height: 19px }
.btn.small { padding: 9px 17px; font-size: 11px; line-height: 17px }
.btn.colorful { background: #ffc527; color: #fff; text-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1); border-color: #ffc527 }
.btn.transparent-colorful { background: transparent; color: #ffc527; text-shadow: none; border-color: #ffc527 }
.btn.dark { background: #222; color: #fff; text-shadow: none; border-color: #222 }
.btn.transparent-dark { background: transparent; color: #222; text-shadow: none; border-color: #222 }
.btn.white { background: #fff; color: #222; text-shadow: none; border-color: #fff }
.btn.transparent-white { background: transparent; color: #fff; text-shadow: none; border-color: #fff }
.btn.hover-colorful:hover { background: #ffc527; color: #fff; text-shadow: 1px 1px 1px rgba(0,0,0,0.1); border-color: #ffc527 }
.btn.hover-transparent-colorful:hover { background: transparent; color: #ffc527; text-shadow: none; border-color: #ffc527 }
.btn.hover-dark:hover { text-shadow: none; background: #222; color: #fff; border-color: #222 }
.btn.hover-transparent-dark:hover { text-shadow: none; background: transparent; color: #222; border-color: #222 }
.btn.hover-white:hover { text-shadow: none; background: #fff; color: #222; border-color: #fff }
.btn.hover-transparent-white:hover { text-shadow: none; background: transparent; color: #fff; border-color: #fff }
.img-preview { margin-bottom: 40px; padding: 10px; border: 1px solid #ebeef0; box-shadow: 0 1px 0 #ebeef0; background: #fff }
.img-preview img { width: 100% }
.img-bg { background: #ccc no-repeat center / cover }
#scroll-progress { position: fixed; top: 0; left: 0; height: 4px; width: 0; z-index: 25; background: #ffc527 }
#scroll-progress .scroll-percent { float: right; width: 80px; margin-top: 2px; color: #fff; font-weight: 700; background-color: #000; padding: 5px; text-align: center; display: none }
#website-loading { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #fff; z-index: 9999999999; text-align: center; display: block }
#website-loading .loader { position: absolute; top: 50%; width: 100%; text-align: center; margin-top: -56px }

form { position: relative; font-family: "Lato","Cairo",sans-serif !important }
form .form-group { position: relative; margin-bottom: 15px }
form .form-group:last-child { overflow: hidden; margin-bottom: 0 }
input, input.form-control, button, button.form-control, textarea, textarea.form-control, select, select.form-control { width: 100%; font-size: 12px; height: 35px; line-height: 35px; border-radius: 2px; color: #222; outline: none; padding: 0 15px; transition: all 0.2s; box-shadow: none; border: 1px solid #ccc; background: #fafbfc }
input:focus, textarea:focus, input.form-control:focus, textarea.form-control:focus, select:focus, select.form-control:focus { box-shadow: none; border-color: #1380CF }
textarea, textarea.form-control { height: 200px; line-height: 26px !important; padding-top: 11px; padding-bottom: 11px; height: 200px; resize: vertical }
form .field-icon { position: absolute; background: #eee; height: 30px; width: 30px; line-height: 30px; text-align: center; color: #222; border-radius: 100%; font-size: 13px; top: 10px; left: 10px }
.field-icon + input[type="text"], .field-icon + input[type="email"], .field-icon + textarea { text-indent: 30px }
.form-inline .form-control { width: 100% }
abbr { cursor: help }
label { vertical-align: top; margin-bottom: 0; color: #222; font-size: 14px; margin-bottom: 12px }
label.error { color: #ff3333; display: block }
input[type="submit"], input[type="submit"].form-control, input[type="submit"], input[type="submit"].form-control { cursor: pointer; display: inline-block; height: 50px; line-height: 50px; padding: 0 30px; font-size: 12px; position: relative; border: none; color: #fff; background: #0355B3; box-shadow: none; transition: all 0.2s; width: auto; border-radius: 2px; border: none }
.form-inline .form-control[type="submit"] { width: auto }
input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"].form-control:hover, input[type="submit"].form-control:focus { background: #ffc527 }
input[type="submit"]:focus, input[type="submit"].form-control:focus { box-shadow: none }
#header { font-size: 12px; position: relative; z-index: 20 }
#header, #header-wrap { height: 90px; background: #fff; transition: transform 0.3s }
#header-wrap { left: 0; top: 0; width: 100% }
#header .container, #header .row, #header [class*="col-"] { height: 100% }
.sticky #header-wrap { position: fixed; top: 0; left: 0; right: 0; z-index: 10; box-shadow: 0 0 15px rgba(0,0,0,0.1) }
#header.style-2 { width: 100%; position: fixed; transform: translateY(-100%) }
#header.style-2.sticky { transform: translateY(0) }
#header.style-3 #header-wrap { border-bottom: 1px solid #eee }
#header.style-3.sticky #header-wrap { border-bottom-color: transparent }
.logo { display: inline-block; position: relative; float: left; background-color: #fff; -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); }
.logo img { max-height: 100% }
.logo h5, .logo h5 + span { display: none }
.logo.logo-text { text-align: left }
.logo.logo-text img { display: none }
.logo.logo-text h5, .logo.logo-text h5 + span { display: block }
.logo.logo-text h5 { margin-bottom: 0 }
.logo.logo-text h5 + span { color: #777 }
.main-menu { list-style: none; display: inline-block }
.main-menu li { position: relative; white-space: nowrap }
.main-menu li a { transition: all 0.15s }
.main-menu > li { float: left; height: 100% }
.main-menu > li > a { height: 90px; display: block; line-height: 90px; font-size: 13px; padding: 0 12px; font-weight: 600; color: #044d9f; text-transform: uppercase; }
.main-menu > li > a.current, .main-menu > li:hover > a, .main-menu > li > a:hover { color: #ffc527 }
.main-menu ul { list-style: none; text-align: left }
.main-menu li:hover > ul.sub-menu, .main-menu li.sfHover > ul.sub-menu { display: block }
.main-menu ul.sub-menu, .main-menu ul.sub-menu li:last-child a { border-radius: 0 0 4px 4px }
.main-menu li a + ul.sub-menu { min-width: 16em; display: none; position: absolute; top: calc(100% - 1px); left: 0; z-index: 99; background: #fff; box-shadow: 0px 6px 6px 4px rgba(0,0,0,0.02); border: 1px solid #eee }
.main-menu ul.sub-menu li a { display: block; position: relative; color: #044d9f; font-weight: 600; font-size: 13px; padding: 14px 20px; border-bottom: 1px solid #e1e1e1 }
.main-menu ul.sub-menu li:last-child a { border: none }
.main-menu ul.sub-menu li a:hover, .main-menu ul.sub-menu li:hover > a { color: #ffc527; background: #fbfbfb; padding-left: 25px }
.main-menu .megamenu ul.sub-menu li a:hover { padding-left: 5px; background: transparent }
.main-menu ul.sub-menu ul { top: -1px !important; left: 100% !important }
.main-menu > li > ul.sub-menu.reverse-pos { right: 0 !important; left: auto !important }
.main-menu ul.sub-menu ul.reverse-pos { right: 100% !important; left: auto !important }
.main-menu.sf-arrows a.sf-with-ul::after { font-family: "FontAwesome"; font-size: 13px; color: #999 }
.main-menu.sf-arrows > li > a.sf-with-ul::after { position: relative; margin-left: 6px; content: '\f107'; font-weight: lighter }
.main-menu.sf-arrows ul.sub-menu a.sf-with-ul::after { position: absolute; font-weight: 400; content: '\f105'; right: 15px; top: 13px }
.main-menu.sf-arrows li > a.sf-with-ul:focus:after, .main-menu.sf-arrows li:hover > a.sf-with-ul:after, .main-menu.sf-arrows .sfHover > a.sf-with-ul:after { color: #ffc527 }

@media (min-width: 992px) {
    #mobile-menu { display: none !important }
}

#mobile-menu { background: #fff; position: relative; top: 100%; background: #fff; display: none; clear: both; overflow: hidden; top: 35px; margin: 20px 0 65px; height: 235px; overflow-y: auto }
#mobile-menu .ss-content { padding: 0 5px 0 0 }
#mobile-menu .ss-scroll { opacity: 0.5; width: 6px }
#mobile-menu.ss-container:hover .ss-scroll { opacity: 1 }
#mobile-menu ul { list-style: none }
.mobile-menu { max-width: 1140px; margin: -5px auto 0 }
.mobile-menu li { border-bottom: 1px solid #e7e7e7; position: relative }
.mobile-menu li:last-child { border-bottom: none }
.mobile-menu li:hover > a { color: #ffc527 }
.mobile-menu li a { font-size: 14px; font-weight: 700; padding: 0 12px; color: #222; display: block; padding: 14px 30px 14px 0; position: relative }
.mobile-menu > li > a:hover, .mobile-menu > li > a.current { color: #ffc527 }
.mobile-menu ul { padding-left: 15px; display: none; border-top: 1px solid #e7e7e7 }
.mobile-menu ul a { color: #222; font-weight: 600; font-size: 13px; padding: 11px 30px 11px 0 }
.mobile-menu ul a:hover { font-weight: 600 }
.mobile-menu.sf-arrows a.sf-with-ul::after { font-family: "FontAwesome"; color: #999; position: absolute }
.mobile-menu.sf-arrows > li > a.sf-with-ul::after { content: '\f105'; font-size: 17px; right: 0; top: 11px; font-weight: lighter; transition: all 0.2s }
.mobile-menu.sf-arrows > li > a.sf-with-ul:focus:after, .mobile-menu.sf-arrows > li:hover > a.sf-with-ul:after, .mobile-menu.sf-arrows > .sfHover > a.sf-with-ul:after { color: #ffc527; font-weight: 700 }
.mobile-menu.sf-arrows ul.sub-menu a.sf-with-ul::after { content: '\f107'; font-size: 15px; top: 8px; right: 0; font-weight: 100 }
.mobile-menu.sf-arrows li > a.sf-with-ul:focus:after, .mobile-menu.sf-arrows li:hover > a.sf-with-ul:after, .mobile-menu.sf-arrows .sfHover > a.sf-with-ul:after { color: #ffc527; font-weight: 700 }
.mobile-menu-btn { background: #222; position: relative; top: 46px; display: none; float: right }
.mobile-menu-btn.is-active i { background: #0556dd }
.hamburger { cursor: pointer; transition-property: opacity, -webkit-filter; transition-property: opacity, filter; transition-property: opacity, filter, -webkit-filter; transition-duration: 0.15s; transition-timing-function: linear; font: inherit; color: inherit; text-transform: none; background-color: transparent; border: 0; margin: 0; overflow: visible }
.hamburger:hover { opacity: 0.7 }
.hamburger-box { width: 30px; height: 22px; display: inline-block; position: relative }
.hamburger-inner { display: block; top: 50%; margin-top: -2px }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after { width: 30px; height: 2px; background-color: #000; border-radius: 4px; position: absolute; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; transition-duration: 0.15s; transition-timing-function: ease }
.hamburger-inner::before, .hamburger-inner::after { content: ""; display: block }
.hamburger-inner::before { top: -10px }
.hamburger-inner::after { bottom: -10px }
.hamburger--slider .hamburger-inner { top: 2px }
.hamburger--slider .hamburger-inner::before { top: 10px; transition-property: opacity, -webkit-transform; transition-property: transform, opacity; transition-property: transform, opacity, -webkit-transform; transition-timing-function: ease; transition-duration: 0.2s }
.hamburger--slider .hamburger-inner::after { top: 20px }
.hamburger--slider.is-active .hamburger-inner { -webkit-transform: translate3d(0, 10px, 0) rotate(45deg); transform: translate3d(0, 10px, 0) rotate(45deg) }
.hamburger--slider.is-active .hamburger-inner::before { -webkit-transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0); transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0); opacity: 0 }
.hamburger--slider.is-active .hamburger-inner::after { -webkit-transform: translate3d(0, -20px, 0) rotate(-90deg); transform: translate3d(0, -20px, 0) rotate(-90deg) }
.ss-wrapper { width: 100%; height: 100%; position: relative; z-index: 1; float: left; margin-left: -18px; width: calc(100% + 0); overflow-x: hidden }
.ss-content { height: 100%; width: 100%; padding: 0 32px 0 0; position: relative; right: -17px; overflow: auto; box-sizing: border-box; padding: 0; overflow-x: hidden; overflow-y: scroll }
.ss-scroll { position: absolute; background: rgba(0,0,0,0.1); width: 9px; border-radius: 4px; top: 0; z-index: 2; cursor: pointer; opacity: 0; transition: opacity 0.25s linear; right: 0 !important; width: 6px; transition: color 0.25s, opacity 0.25s }
.ss-hidden { display: none }
.ss-container:hover .ss-scroll { opacity: 1 }
.ss-grabbed { -o-user-select: none; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none }
.header-btn { float: right; position: absolute; top: 4px;  right: 22px; font-size: 13px;}

#banner { position: relative }
.banner-parallax { overflow: hidden; height: 650px; position: relative; background-color: #ccc; background-position: top center; background-size: cover; background-repeat: no-repeat }

@media (min-width: 992px) {
    .fullscreen .banner-parallax, .fullscreen .banner-slider { height: 100% !important }
}

.video-background { position: absolute; width: 100%; height: 100% }
.owl-carousel .owl-item { -webkit-backface-visibility: initial; backface-visibility: initial }
.banner-slider { height: 760px; width: 100%; overflow: hidden; position: relative }
.banner-slider > ul { list-style: none; width: auto !important; height: 100% }
.banner-slider > ul li { display: block; background-position: top center; background-size: cover; background-repeat: no-repeat; background-clip: content-box }
.banner-slider > ul .slide { position: relative }
.banner-slider > ul > img { width: 100% }
.banner-slider .owl-nav { margin: 0 }
.banner-slider .owl-nav [class*="owl-"] { font-size: 25px; width: 60px; height: 60px; line-height: 56px; margin: 0; padding: 0; margin-top: -30px !important; position: absolute; top: 50%; border-radius: 999px; opacity: 0; visibility: hidden; transition: all 0.2s; color: #fff; background: #ffc527 }
.banner-slider .owl-nav [class*="owl-"]:hover { background: #222; color: #fff }
.banner-slider .owl-nav .owl-prev { left: 0; margin-left: 60px }
.banner-slider .owl-nav .owl-next { right: 0; margin-right: 60px }
.banner-slider .owl-nav .disabled { opacity: 0.5; cursor: default }
.banner-slider:hover .owl-nav [class*="owl-"] { opacity: 1; visibility: visible }
.banner-slider:hover .owl-nav .owl-prev { margin-left: 40px }
.banner-slider:hover .owl-nav .owl-prev:hover { margin-left: 35px }
.banner-slider:hover .owl-nav .owl-next { margin-right: 40px }
.banner-slider:hover .owl-nav .owl-next:hover { margin-right: 35px }
.banner-slider .owl-dots { margin: 0; position: absolute; bottom: 40px; width: 100% }
.banner-slider .owl-dots .owl-dot { margin: 0 2.5px; border: 1px solid rgba(255,255,255,0.7); padding: 3px; border-radius: 100%; width: 13px; height: 13px }
.banner-slider .owl-dots .owl-dot:hover span { background: rgba(255,255,255,0.5) }
.banner-slider .owl-dots .owl-dot.active span, .banner-slider .owl-dots .owl-dot.active:hover span { background: rgba(255,255,255,0.9) }
.banner-slider .owl-dots .owl-dot span { width: 5px; margin: 0; border-radius: 100%; height: 5px; background: transparent; transition: all .15s }
.banner-slider .animated { -webkit-animation-duration: 600ms !important; animation-duration: 600ms !important; -webkit-animation-fill-mode: both; animation-fill-mode: both }
.banner-slider-sub{height: 380px;}
.owl-animated-out { z-index: 1 }
.owl-animated-in { z-index: 0 }
.backSlideOut { -webkit-animation: backSlideOut 1s both ease; animation: backSlideOut 1s both ease }
.backSlideIn { -webkit-animation: backSlideIn 1s both ease; animation: backSlideIn 1s both ease }

@-webkit-keyframes backSlideOut {
    25% { opacity: .5; -webkit-transform: translateZ(-500px) }
    75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%) }
    100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%) }
}

@keyframes backSlideOut {
    25% { opacity: .5; transform: translateZ(-500px) }
    75% { opacity: .5; transform: translateZ(-500px) translateX(-200%) }
    100% { opacity: .5; transform: translateZ(-500px) translateX(-200%) }
}

@-webkit-keyframes backSlideIn {
    0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%) }
    75% { opacity: .5; -webkit-transform: translateZ(-500px) }
    100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0) }
}

@keyframes backSlideIn {
    0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%) }
    75% { opacity: .5; transform: translateZ(-500px) }
    100% { opacity: 1; transform: translateZ(0) translateX(0) }
}

.goDownOut { -webkit-animation: scaleToFade .7s ease both; animation: scaleToFade .7s ease both }
.goDownIn { -webkit-animation: goDown .6s ease both; animation: goDown .6s ease both }

@-webkit-keyframes scaleToFade {
    to { opacity: 0; -webkit-transform: scale(0.8) }
}

@keyframes scaleToFade {
    to { opacity: 0; transform: scale(0.8) }
}

@-webkit-keyframes goDown {
    from { -webkit-transform: translateY(-100%) }
}

@keyframes goDown {
    from { transform: translateY(-100%) }
}

.owl-fadeUp-in { -webkit-animation: scaleUpFrom .6s ease both; animation: scaleUpFrom .6s ease both }
.owl-fadeUp-out { -webkit-animation: scaleUpTo .6s ease both; animation: scaleUpTo .6s ease both }

@-webkit-keyframes scaleUpFrom {
    from { opacity: 0; -webkit-transform: scale(1.5) }
}

@keyframes scaleUpFrom {
    from { opacity: 0; transform: scale(1.5) }
}

@-webkit-keyframes scaleUpTo {
    to { opacity: 0; -webkit-transform: scale(1.5) }
}

@keyframes scaleUpTo {
    to { opacity: 0; transform: scale(1.5) }
}

.slide-content { height: 100%; width: 100%; position: absolute; top: 0; z-index: 1 }
.slide-content h1 { color: #fff; font-size: 75px; line-height: 82px; font-family: 'Dancing Script', cursive;  }
.slide-content h1::after { content: ""; display: block; width: 100px; height: 1px; background: #ffc527; margin: 25px auto 26px }
.slide-content .description { font-size: 15px; color: #fff; margin-bottom: 35px; line-height: 1.8 }
.banner-center-box { position: absolute; top: 50%; padding: 100px 0; max-height: 100%; max-width: 100%; width: calc(100% - 30px); -webkit-transform: translateY(-50%); transform: translateY(-50%) }
.banner-center-box > * { position: relative; transition: none }
.text-center .banner-center-box, .text-center.banner-center-box { width: 100%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%) }
.banner-center-box.bottom-position { padding-bottom: 0; top: auto; bottom: 0; -webkit-transform: translateY(0); transform: translateY(0) }
.text-center .banner-center-box.bottom-position, .text-center.banner-center-box.bottom-position { -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0) }
.banner-center-box h1:last-child, .banner-center-box h2:last-child, .banner-center-box h3:last-child, .banner-center-box h4:last-child, .banner-center-box h5:last-child, .banner-center-box h6:last-child { padding-bottom: 0; margin-bottom: 0 }
.banner-center-box img { max-height: 100%; max-width: 100% }
#banner .container, #banner .row, #banner .row > [class*="col-"] { height: 100%; z-index: 1 }
#page-title { background: #ccc url("../images/files/page-title.jpg") no-repeat top center/cover; padding: 120px 0; border-bottom: 1px solid #eee }
#page-title h3 { margin-bottom: 2px }
#page-title h5 { text-transform: initial; color: #777; font-weight: 400; margin-bottom: 0 }
#content { position: relative; background: #fff; z-index: 0 }
#content-wrap { position: relative }
.flat-section { width: 100%; position: relative }
.flat-section .section-content { width: 100%; padding: 50px 0 80px; position: relative; clear: both; background: #f6f8f9 }
/*.flat-section .section-content::before, .flat-section .section-content::after { content: ""; position: absolute; top: -30px; width: 50%; height: 30px; background: inherit }*/
.flat-section .section-content::before { left: -13px; transform: skewX(40deg) }
.flat-section .section-content::after { right: -13px; transform: skewX(-40deg) }
.section-title { position: relative; z-index: 10; padding: 100px 0; text-align: center }
.section-title h6 { color: #ffc527; text-transform: uppercase }
.section-title h2 { font-size: 25px; margin-bottom: 0; padding-bottom: 20px; position: relative }
.section-title h2::before, .section-title h2::after { content: ""; position: absolute; height: 3px; bottom: 0; left: 0; right: 0; margin: auto }
.section-title h2::before { width: 80px; background: #ebeef0 }
.section-title h2::after { width: 40px; background: #ffc527 }
.section-title p { margin-top: 12px; font-size: 15px; line-height: 1.8 }
.dark .section-title h3 { color: #fff }
.dark .section-title h3 .colored { color: #222 }
.parallax-section { width: 100%; position: relative; background-color: #ccc; background-position: top center; background-size: cover; background-repeat: no-repeat }
.parallax-section .section-inner { width: 100%; height: 100%; position: relative; padding: 95px 0; z-index: 1; background-attachment: fixed; background-position: top center; background-size: cover; background-repeat: no-repeat }
.parallax-section .section-content { width: 100%; position: relative; clear: both }
.overlay-colored { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 1 }
.overlay-pattern { width: 100%; height: 100%; position: absolute; z-index: 1; background-image: url("../images/overlay-pattern.png"); background-color: rgba(0,0,0,0.3); background-repeat: repeat; background-position: top left }
.intro .col-md-7 { padding-right: 50px }
.os-tabs { list-style: none; display: table; position: relative; width: 100%; margin-bottom: 50px; overflow: hidden }
.os-tabs::after { content: ""; position: absolute; width: 100%; bottom: 0px; height: 3px; left: 0; background: #ebeef0 }
.os-tabs > li, .os-tabs > li::before, .os-tabs > li::after, .os-tabs > li i { transition: all 0.2s }
.os-tabs > li { display: inline-block; width: 25%; padding-bottom: 40px; text-align: center; padding: 20px 20px 25px 20px; position: relative; cursor: pointer; color: #777; font-size: 14px; font-weight: 600; font-family: "Open Sans","Droid Arabic Kufi",sans-serif; overflow: hidden; float: left }
.os-tabs > li i { width: 60px; height: 60px; line-height: 56px; text-align: center; color: #a3a5a5; border: 2px solid #ccc; border-radius: 50%; font-size: 28px; margin: 0 auto 18px; display: block; position: relative; top: 0 }
.os-tabs > li::before { content: ""; position: absolute; z-index: 1; width: 100%; height: 3px; bottom: 0; left: 0; background-color: transparent }
.os-tabs > li::after { content: ""; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid #bbb; position: absolute; left: 50%; bottom: -5px; margin-left: -3px }
.os-tabs > li:hover { color: #555 }
.os-tabs > li:hover i { color: #999; border-color: #aaa; top: 1px }
.os-tabs > li:hover::before { background-color: #ccc }
.os-tabs > li:hover::after { border-bottom-color: #ccc; bottom: 3px; transition: bottom 0.2s 0.1s, background 0.2s }
.os-tabs > li.active { color: #ffc527 }
.os-tabs > li.active::before, .os-tabs > li.active:hover::before { background-color: #ffc527 }
.os-tabs > li.active::after, .os-tabs > li.active:hover::after { border-bottom-color: #ffc527; bottom: 3px }
.os-tabs > li.active i { color: #ffc527; border-color: #ffc527 }
.os-tabs > li.active:hover i { top: 0 }
.os-tabs-content { position: relative; width: 100%; border-radius: 5px }
.os-tabs-content > li { width: 100%; position: absolute; top: 0; left: 0; padding: 0 30px; display: none; list-style: none }
.list { list-style: none; margin-bottom: 15px }
.list li + li { margin-top: 0 }
.list li::before { font-family: "fontAwesome"; font-size: 18px; margin-right: 10px; color: #ffc527; position: relative; top: 2px }
.list.check-square li::before { content: "\f14a" }
.box-preview { width: 100%; position: relative; top: 0; transition: all 0.3s ease }
.box-preview .box-img { transition: all 0.3s ease; position: relative }
.box-preview .box-img a { display: block; height: 100% }
.box-preview .box-img .overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; visibility: hidden; transition: all 0.3s ease; padding: 30px }
.box-preview .box-img img { display: block }
.box-preview .box-content { padding: 30px; background: #fff; position: relative; border: 1px solid #ebeef0; border-top: none; box-shadow: 0 1px 0 #ebeef0 }
.box-preview .box-content h5 { text-transform: uppercase; margin-bottom: 16px }
.box-preview .box-content .meta { list-style: none; display: table; table-layout: fixed; padding-top: 15px; margin: 22px 0 -3px; border-top: 1px solid #ebeef0; width: 100% }
.box-preview .box-content .meta li { display: table-cell }
.box-preview .box-content .meta li:nth-child(2) { text-align: center }
.box-preview .box-content .meta li:last-child { text-align: right }
.box-preview .box-content .meta li i { font-size: 14px; color: #ffc527; margin-right: 5px }
.rating { display: table; position: absolute; top: 28px; right: 30px }
.rating i { color: #ffc527; font-size: 13px }
.popular-packages-slider { width: 100% }
.popular-packages-slider .owl-carousel { list-style: none }
.popular-packages-slider .owl-carousel .owl-stage-outer { padding-bottom: 1px }
.popular-packages-slider .owl-carousel .box-preview:hover .box-img { opacity: 0.8 }
.popular-packages-slider .owl-carousel .box-preview:hover .box-content { border-color: #e2e6e8; box-shadow: 0 1px 0 #e2e6e8 }
.popular-packages-slider .owl-carousel .box-preview:hover .box-content h5 a { color: #ffc527 }
.popular-packages-slider .owl-carousel .box-img { width: 100%; height: 240px }
.popular-packages-slider .owl-carousel > li { display: block; background-position: top center; background-size: cover; background-repeat: no-repeat; background-clip: content-box }
.popular-packages-slider .owl-carousel .slide { position: relative }
.popular-packages-slider .owl-carousel > img { width: 100% }
.popular-packages-slider .owl-nav { margin: 0 }
.popular-packages-slider .owl-nav [class*="owl-"] { font-size: 25px; width: 60px; height: 60px; line-height: 56px; margin: 0; padding: 0; margin-top: -30px !important; position: absolute; top: 50%; border-radius: 999px; opacity: 0; visibility: hidden; transition: all 0.2s; color: #fff; background: #ffc527 }
.popular-packages-slider .owl-nav [class*="owl-"]:hover { background: #222; color: #fff }
.popular-packages-slider .owl-nav .owl-prev { left: 0; margin-left: 60px }
.popular-packages-slider .owl-nav .owl-next { right: 0; margin-right: 60px }
.popular-packages-slider .owl-nav .disabled { opacity: 0.5; cursor: default }
.popular-packages-slider:hover .owl-nav [class*="owl-"] { opacity: 1; visibility: visible }
.popular-packages-slider:hover .owl-nav .owl-prev { margin-left: 40px }
.popular-packages-slider:hover .owl-nav .owl-prev:hover { margin-left: 35px }
.popular-packages-slider:hover .owl-nav .owl-next { margin-right: 40px }
.popular-packages-slider:hover .owl-nav .owl-next:hover { margin-right: 35px }
.popular-packages-slider .owl-dots { margin: 0; position: relative; bottom: 0; width: 100%; margin-top: 45px !important }
.popular-packages-slider .owl-dots .owl-dot { margin: 0 2.5px; border-radius: 100% }
.popular-packages-slider .owl-dots .owl-dot:hover span { background: #aaa }
.popular-packages-slider .owl-dots .owl-dot.active span, .popular-packages-slider .owl-dots .owl-dot.active:hover span { background: #ffc527 }
.popular-packages-slider .owl-dots .owl-dot span { width: 15px; margin: 0; border-radius: 100%; height: 15px; background: #d8d9d9; transition: all .15s }
.cta-title { text-align: center }
.cta-title .section-inner { padding: 200px 0 }
.cta-title .colored { color: #ffc527 !important }
.cta-title h1 { font-size: 48px; text-transform: uppercase }
.cta-title h1::after { content: ""; display: block; width: 100px; height: 1px; background: #ffc527; margin: 25px auto 45px }
.cta-title h1 span { color: #fff }
.cta-title-1 { text-align: center}
.cta-title-1 .section-inner { padding: 200px 0 200px }
.cta-title-1 .colored { color: #ffc527 !important }
.cta-title-1 h1 { font-size: 50px;}
.cta-title-1 h1::after { content: ""; display: block; width: 100px; height: 1px; background: #ffc527; margin: 10px auto 45px }
.cta-title-1 h1 span { color: #fff; font-family: 'Dancing Script', cursive;}
.cta-title-2 h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #02438d;
    margin: 10px 5px 45px;
}
.cta-title-2 h1{font-family:'Dancing Script', cursive; font-size: 55px;}
.portfolio-categories { list-style: none; text-align: center; display: table; margin: 0 auto 40px; font-family: "Open Sans","Droid Arabic Kufi",sans-serif }
.portfolio-categories li { margin: 0 16px 10px; position: relative; display: inline-block }
.portfolio-categories li a { position: relative; z-index: 0; font-size: 13px; text-transform: uppercase; font-weight: 700; color: #222 }
.portfolio-categories li a:hover { color: #ffc527 }
.portfolio-categories li a.active, .portfolio-categories li a.active:hover { color: #222 }
.portfolio-categories li a.active::before, .portfolio-categories li a.active:hover::before { width: calc(100% + 8px); opacity: 1 }
.portfolio-categories li a::before { content: ""; width: 0; height: 2px; position: absolute; left: -4px; top: 50%; margin-top: -1px; z-index: -1; background: #ffc527; opacity: 0; transition: all 0.3s }
.portfolio-items-wrap .container-fluid { padding: 0 }
.portfolio-items-wrap .container .portfolio-item { width: 33.3333% }
.portfolio-items-wrap .portfolio-items { margin: 0 -5px -5px 0 }
.portfolio-items-wrap .portfolio-item { width: 25%; height: 320px; padding: 0 5px 5px 0; position: relative; cursor: pointer; display: inline-block; float: left }
.portfolio-items-wrap .portfolio-item:hover .overlay { opacity: 1; visibility: visible }
.portfolio-items-wrap .portfolio-item:hover .overlay > i { transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.5s; transform: scale(1) }
.portfolio-items-wrap .portfolio-item:hover .overlay .overlay-inner::before { width: 20px; transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.1s }
.portfolio-items-wrap .portfolio-item:hover .overlay h5:not(.sub-title) { transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.3s }
.portfolio-items-wrap .portfolio-item:hover .overlay .sub-title { transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.4s }
.portfolio-items-wrap .portfolio-item:hover .overlay h5:not(.sub-title), .portfolio-items-wrap .portfolio-item:hover .overlay .sub-title, .portfolio-items-wrap .portfolio-item:hover .overlay > i { opacity: 1; visibility: visible }
.portfolio-items-wrap .portfolio-item:hover .overlay h5:not(.sub-title), .portfolio-items-wrap .portfolio-item:hover .overlay .sub-title { transform: translateX(0) }
.portfolio-items-wrap .portfolio-item .preview { width: 100%; height: 100%; position: relative; z-index: 0; overflow: hidden; background: #ccc no-repeat center / cover }
.portfolio-items-wrap .portfolio-item .preview img { width: 100%; height: 100% }
.portfolio-items-wrap .portfolio-item .overlay { position: absolute; top: 0; left: 0; width: calc(100% - 5px); height: calc(100% - 5px); padding: 35px 40px; background: rgba(0,0,0,0.7); opacity: 0; visibility: hidden; transition: all 0.3s ease }
.portfolio-items-wrap .portfolio-item .overlay > i { position: absolute; top: 30px; left: 40px; width: 35px; height: 35px; line-height: 35px; font-size: 16px; text-align: center; border-radius: 2px; z-index: 1; background: #ffc527; color: #fff; transform: scale(0.7); text-shadow: 1px 1px 1px rgba(0,0,0,0.15) }
.portfolio-items-wrap .portfolio-item .overlay .overlay-inner { position: absolute; bottom: 30px; left: 40px; width: calc(100% - 80px) }
.portfolio-items-wrap .portfolio-item .overlay .overlay-inner::before { content: ""; height: 3px; width: 0; display: block; margin-bottom: 15px; background: #ffc527; transform: translateY(0) }
.portfolio-items-wrap .portfolio-item .overlay h5 { text-transform: uppercase }
.portfolio-items-wrap .portfolio-item .overlay h5:not(.sub-title), .portfolio-items-wrap .portfolio-item .overlay .sub-title, .portfolio-items-wrap .portfolio-item .overlay > i { opacity: 0; visibility: hidden }
.portfolio-items-wrap .portfolio-item .overlay h5:not(.sub-title), .portfolio-items-wrap .portfolio-item .overlay .sub-title { transform: translateX(30px) }
.portfolio-items-wrap .portfolio-item .overlay h5:not(.sub-title) { margin-bottom: 1px; color: #fff }
.portfolio-items-wrap .portfolio-item .overlay h5:not(.sub-title):hover { text-decoration: underline }
.portfolio-items-wrap .portfolio-item .overlay .sub-title { color: #ffc527; font-size: 13px; margin-bottom: 0 }
.portfolio-items-wrap .portfolio-item .portfolio-single-link { width: 100%; height: 100%; position: absolute; top: 0px; z-index: 100; cursor: pointer }
.portfolio-items-wrap .loadmore-pi { display: table; margin: 80px auto 0; position: relative }
.portfolio-items-wrap .loadmore-pi.loading { background: #222; border-color: #222 }
.portfolio-items-wrap .loadmore-pi.loading .loader { width: 18px !important; height: 18px !important; margin-left: 10px; opacity: 1 }
.portfolio-items-wrap .loadmore-pi .loader { margin-left: 0; width: 0 !important; height: 0 !important; float: right; display: inline-block; vertical-align: middle; position: relative; top: 1px; transition: all 0.4s; opacity: 0 }
.portfolio-items-wrap .loadmore-pi .loader.la-ball-clip-rotate.la-sm { width: 18px; height: 18px }
.portfolio-items-wrap .loadmore-pi .loader.la-ball-clip-rotate.la-sm > div { width: 18px; height: 18px; border-width: 2px }

@media (max-width: 1400px) {
    .portfolio-items-wrap .portfolio-item { width: 33.33333% }
}

@media (max-width: 1200px) {
    .portfolio-items-wrap .container .portfolio-item { width: 50% }
}

@media (max-width: 992px) {
    .portfolio-items-wrap .portfolio-item { width: 50% }
}

@media (max-width: 730px) {
    .portfolio-items-wrap .container .portfolio-item { width: 100% }
}

@media (max-width: 700px) {
    .portfolio-items-wrap .portfolio-item { width: 100% }
}

#portfolio-single-wrap { position: relative; overflow: hidden; height: 0; transition: all 0.6s }
#portfolio-single-wrap.opened { transition: height 0.3s }
#portfolio-single-wrap .container-fluid { padding: 0 }
#portfolio-single-content { opacity: 0; margin-top: 10px; transition: opacity 0.4s, margin 0.3s 1s; height: 0 }
#portfolio-single-content.opened { opacity: 1; margin-top: 0; transition: opacity 0.4s 0.3s, height 0.4s 0.3s, margin 0.4s 0.3s }
.open-project-link { width: 100%; height: 100%; position: absolute; top: 0; z-index: 100; cursor: pointer }
.portfolio-single-loader { text-align: center; height: 40px; opacity: 0; transition: height 0.4s, opacity 0.3s; position: absolute; width: 100%; margin-left: -16px }
.portfolio-single-loader.opened { opacity: 1 }
.loader-shape { display: inline-block !important; top: 50%; transform: translateY(-50%) }
.portfolio-single-load { width: 100%; padding: 20px 0 100px }
.portfolio-single-preview { height: 580px; margin-bottom: 80px; position: relative }
.portfolio-single-preview iframe { border: none; width: 100%; height: 100% }
.portfolio-single-preview > .project-close { position: absolute; top: -20px; right: 50%; transform: translateX(50%); display: inline-block; width: 48px; height: 48px; line-height: 48px; text-align: center; background: #555; font-size: 24px; color: #fff; transition: all 0.2s }
.portfolio-single-preview > .project-close:hover { background: #222; color: #ffc527; cursor: pointer }
.portfolio-single-slider { height: 100%; width: 100%; overflow: hidden; position: relative }
.portfolio-single-slider ul { list-style: none; width: auto !important }
.portfolio-single-slider ul li { display: block; background-position: top center; background-size: cover; background-repeat: no-repeat; background-clip: content-box }
.portfolio-single-slider ul .slide { position: relative }
.portfolio-single-slider ul > img { width: 100% }
.portfolio-single-slider .owl-nav { margin: 0 }
.portfolio-single-slider .owl-nav [class*="owl-"] { font-size: 25px; width: 60px; height: 60px; line-height: 56px; margin: 0; padding: 0; margin-top: -30px !important; position: absolute; top: 50%; border-radius: 999px; opacity: 0; visibility: hidden; transition: all 0.2s; color: #fff; background: #ffc527 }
.portfolio-single-slider .owl-nav [class*="owl-"]:hover { background: #222; color: #fff }
.portfolio-single-slider .owl-nav .owl-prev { left: 0; margin-left: 60px }
.portfolio-single-slider .owl-nav .owl-next { right: 0; margin-right: 60px }
.portfolio-single-slider .owl-nav .disabled { opacity: 0.5; cursor: default }
.portfolio-single-slider:hover .owl-nav [class*="owl-"] { opacity: 1; visibility: visible }
.portfolio-single-slider:hover .owl-nav .owl-prev { margin-left: 40px }
.portfolio-single-slider:hover .owl-nav .owl-prev:hover { margin-left: 35px }
.portfolio-single-slider:hover .owl-nav .owl-next { margin-right: 40px }
.portfolio-single-slider:hover .owl-nav .owl-next:hover { margin-right: 35px }
.portfolio-single-slider .owl-dots { margin: 0; position: absolute; bottom: 40px; width: 100% }
.portfolio-single-slider .owl-dots .owl-dot { margin: 0 2.5px; border: 1px solid rgba(255,255,255,0.7); padding: 3px; border-radius: 100%; width: 13px; height: 13px }
.portfolio-single-slider .owl-dots .owl-dot:hover span { background: rgba(255,255,255,0.5) }
.portfolio-single-slider .owl-dots .owl-dot.active span, .portfolio-single-slider .owl-dots .owl-dot.active:hover span { background: rgba(255,255,255,0.9) }
.portfolio-single-slider .owl-dots .owl-dot span { width: 5px; margin: 0; border-radius: 100%; height: 5px; background: transparent; transition: all .15s }
.portfolio-single-slider .controls { position: absolute; bottom: 0; left: 0; text-align: center; z-index: 2; width: 100%; font-size: 0 }
.portfolio-single-slider .controls span { display: inline-block; width: 48px; height: 48px; line-height: 48px; text-align: center; background: rgba(0,0,0,0.4); font-size: 22px; color: #ffc527; transition: all 0.2s }
.portfolio-single-slider .controls span + span { margin-left: 2px }
.portfolio-single-slider .controls span:hover { background: rgba(0,0,0,0.7); cursor: pointer }
.ps-fixedwidth-intro { margin-bottom: 40px }
.ps-fixedwidth-intro .portfolio-single-preview { margin-bottom: 0 }
.ps-fixedwidth-intro .portfolio-single-preview .controls { bottom: 50%; transform: translateY(50%) }
.ps-fixedwidth-intro .portfolio-single-preview .controls span:first-child { float: left }
.ps-fixedwidth-intro .portfolio-single-preview .controls span:last-child { float: right }
.ps-fixedwidth-intro .description { margin-left: -30px; padding: 55px 35px; background: #fff; border: 1px solid #ebeef0; border-left: none; box-shadow: 0 1px 0 #ebeef0; height: 580px; position: relative }
.ps-fixedwidth-intro .description .project-close { position: absolute; top: -1px; right: -1px; display: inline-block; width: 48px; height: 48px; line-height: 48px; text-align: center; background: #555; font-size: 24px; color: #fff; transition: all 0.2s }
.ps-fixedwidth-intro .description .project-close:hover { background: #222; color: #ffc527; cursor: pointer }
.ps-fixedwidth-intro .description .section-title { text-align: left; padding-bottom: 30px !important }
.ps-fixedwidth-intro .description .section-title h6 { margin-bottom: 7px }
.ps-fixedwidth-intro .description .section-title h2::before, .ps-fixedwidth-intro .description .section-title h2::after { right: auto }
.ps-fixedwidth-intro .description .section-title h2::after { left: 20px }
.ps-fixedwidth-intro .description .list { margin: 25px 0 40px }
#portfolio-single-wrap .section-title { padding: 0 0 50px }
#portfolio-single-wrap .section-title h2 { font-size: 20px }
.box-info .box-content { border-top: 1px solid #ebeef0; padding-top: 38px }
.box-info .box-content h5 { margin-bottom: 20px }
.box-info .box-content h5 .numb-count { color: #ffc527; display: block; margin-bottom: 15px }
.box-info .box-content .meta { padding-top: 22px; margin: 35px 0 -10px }
.box-info .box-content .meta a { display: block; color: #222; font-weight: 600 }
.box-info .box-content .meta a:hover { color: #ffc527; text-decoration: underline }
.box-info .box-content .meta a:hover i { right: -2px }
.box-info .box-content .meta a i { font-size: 14px; float: right; width: 30px; height: 30px; line-height: 30px; text-align: right; position: relative; right: 0; top: -3px; transition: all 0.15s }
.best-events .section-content { padding-bottom: 50px }
.event-box { border: 1px solid #ebeef0; box-shadow: 0 1px 0 #ebeef0; background: #fff; overflow: hidden; position: relative; transition: all 0.3s; margin-bottom: 30px }
.event-box:hover { border-color: #e2e6e8; box-shadow: 0 1px 0 #e2e6e8 }
.event-box:hover .content { visibility: hidden; opacity: 0 }
.event-box:hover .content-overlay { transition-delay: 0.2s; visibility: visible; opacity: 1 }
.event-box:hover .content-overlay i { transition-delay: 0.35s; visibility: visible; opacity: 0.2; margin-top: 0 }
.event-box .content, .event-box .content-overlay { height: 230px; transition: all 0.25s }
.event-box .content { text-align: center; padding: 50px 20px }
.event-box .content i { font-size: 90px; color: #ffc527; margin-bottom: 10px }
.event-box .content h4 { font-size: 20px; color: #ffc527 }
.event-box .content-overlay { visibility: hidden; opacity: 0; padding: 65px 20px; position: absolute; top: 0; left: 15px; width: calc(100% - 30px); background: #fff }
.event-box .content-overlay h5, .event-box .content-overlay p { position: relative; z-index: 1 }
.event-box .content-overlay h5 { font-size: 16px; color: #ffc527; margin-bottom: 20px }
.event-box .content-overlay i { visibility: hidden; opacity: 0; transition: all 0.3s; margin-top: 20px; font-size: 170px; width: 170px; height: 170px; line-height: 170px; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #ffc527 }
.event-box .content-overlay p { font-size: 12px; line-height: 18px }
.video-btn { display: inline-block; color: #fff; font-size: 11px; text-transform: uppercase; font-weight: 700; margin-top: -15px }
.video-btn:hover { color: rgba(255,255,255,0.75) }
.video-btn:hover i { margin: 0 23px; opacity: 0.95 }
.video-btn:hover i::after { margin: -6px; width: 72px; height: 72px; opacity: 1 }
.video-btn i, .video-btn i::after { width: 60px; height: 60px; line-height: 60px; text-align: center; font-size: 18px; background: #fff; color: #ffc527; margin: 0 15px; position: relative; border-radius: 100%; text-indent: 3px; transition: all 0.2s }
.video-btn i::after { content: ""; background: transparent; border: 1px solid #fff; position: absolute; top: 0; left: 0; margin: 0; opacity: 0 }
.mfp-fade.mfp-bg { opacity: 0; transition: all 0.15s ease-out }
.mfp-fade.mfp-bg.mfp-ready { opacity: 0.8 }
.mfp-fade.mfp-bg.mfp-removing { opacity: 0 }
.mfp-fade.mfp-wrap .mfp-content { opacity: 0; transition: all 0.15s ease-out }
.mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1 }
.mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0 }
.tour-guide-slider { width: 100% }
.tour-guide-slider .owl-carousel { list-style: none }
.tour-guide-slider .owl-carousel .owl-stage-outer { padding-bottom: 1px }
.tour-guide-slider .owl-carousel .box-preview .overlay .social-icons { position: absolute; bottom: -10px; left: 0; width: 100%; text-align: center; padding: 30px; transition: all 0.2s ease; opacity: 0; visibility: hidden }
/*.tour-guide-slider .owl-carousel .box-preview .box-img { height: 360px }*/
.tour-guide-slider .owl-carousel .box-preview .box-content h5 { position: relative }
.tour-guide-slider .owl-carousel .box-preview .box-content h5 .sub-title { font: 700 13px/1.55 'Open Sans',sans-serif; text-transform: initial; color: #ffc527; position: absolute; right: 0 }
.tour-guide-slider .owl-carousel .box-preview:hover .box-img .overlay { opacity: 1; visibility: visible; background: rgba(255,255,255,0.2) }
.tour-guide-slider .owl-carousel .box-preview:hover .box-img .overlay .social-icons { opacity: 1; visibility: visible; bottom: 0; transition-delay: 0.2s }
.tour-guide-slider .owl-carousel .box-preview:hover .box-img .box-content .sub-title { color: #222 }
.tour-guide-slider .owl-carousel .box-preview:hover .box-content { border-color: #e2e6e8; box-shadow: 0 1px 0 #e2e6e8 }
.tour-guide-slider .owl-carousel .box-preview:hover .box-content h5 a { color: #ffc527 }
.tour-guide-slider .owl-carousel > li { display: block; background-position: top center; background-size: cover; background-repeat: no-repeat; background-clip: content-box }
.tour-guide-slider .owl-carousel .slide { position: relative }
.tour-guide-slider .owl-carousel > img { width: 100% }
.tour-guide-slider .owl-nav { margin: 0 }
.tour-guide-slider .owl-nav [class*="owl-"] { font-size: 25px; width: 60px; height: 60px; line-height: 56px; margin: 0; padding: 0; margin-top: -70px !important; position: absolute; top: 50%; border-radius: 999px; opacity: 0; visibility: hidden; transition: all 0.2s; color: #fff; background: #ffc527 }
.tour-guide-slider .owl-nav [class*="owl-"]:hover { background: #222; color: #fff }
.tour-guide-slider .owl-nav .owl-prev { left: 0; margin-left: 60px }
.tour-guide-slider .owl-nav .owl-next { right: 0; margin-right: 60px }
.tour-guide-slider .owl-nav .disabled { opacity: 0.5; cursor: default }
.tour-guide-slider:hover .owl-nav [class*="owl-"] { opacity: 1; visibility: visible }
.tour-guide-slider:hover .owl-nav .owl-prev { margin-left: 40px }
.tour-guide-slider:hover .owl-nav .owl-prev:hover { margin-left: 35px }
.tour-guide-slider:hover .owl-nav .owl-next { margin-right: 40px }
.tour-guide-slider:hover .owl-nav .owl-next:hover { margin-right: 35px }
.tour-guide-slider .owl-dots { margin: 0; position: relative; bottom: 0; width: 100%; margin-top: 45px !important }
.tour-guide-slider .owl-dots .owl-dot { margin: 0 2.5px; border-radius: 100% }
.tour-guide-slider .owl-dots .owl-dot:hover span { background: #aaa }
.tour-guide-slider .owl-dots .owl-dot.active span, .tour-guide-slider .owl-dots .owl-dot.active:hover span { background: #ffc527 }
.tour-guide-slider .owl-dots .owl-dot span { width: 15px; margin: 0; border-radius: 100%; height: 15px; background: #d8d9d9; transition: all .15s }
.social-icons { list-style: none; font-size: 0; display: table; position: relative }
.social-icons li { display: inline-block }
.social-icons li + li { margin-left: 4px }
.social-icons li a { display: block; width: 28px; height: 28px; line-height: 28px; text-align: center; background: transparent; font-size: 14px; color: #fff; border-radius: 2px; position: relative; overflow: hidden; text-shadow: 1px 1px 0 rgba(0,0,0,0.2) }
.social-icons li a:hover i::before { top: -35px; opacity: 0 }
.social-icons li a:hover i::after { bottom: 6px; opacity: 1 }
.social-icons li a i { width: 16px; height: 16px }
.social-icons li a i::before { top: 0; position: relative }
.social-icons li a i::before, .social-icons li a i::after { transition: all 0.25s ease }
.social-icons li a i::after { font-family: "fontAwesome"; font-size: 14px; display: block; text-align: center; color: #fff; position: absolute; width: 16px; height: 16px; bottom: -35px; opacity: 0 }
.social-icons li .si-facebook { background: #3b5999 }
.social-icons li .si-facebook i::after { content: "\f09a" }
.social-icons li .si-twitter { background: #55acee }
.social-icons li .si-twitter i::after { content: "\f099" }
.social-icons li .si-youtube { background: #e52d27 }
.social-icons li .si-youtube i::after { content: "\f167" }
.social-icons li .si-instagram { background: #2a5985 }
.social-icons li .si-instagram i::after { content: "\f16d" }
.social-icons li .si-google-plus { background: #eb7761 }
.social-icons li .si-google-plus i::after { content: "\f0d5" }
.social-icons li .si-behance { background: #1ca3db }
.social-icons li .si-behance i::after { content: "\f1b4" }
.social-icons li .si-dribbble { background: #dc90af }
.social-icons li .si-dribbble i::after { content: "\f17d" }
.social-icons li .si-rss { background: #f5b800 }
.social-icons li .si-rss i::after { content: "\f09e" }
.testmonial-single { position: relative; text-align: center; width: 65%; margin: auto }
.testmonial-single .ts-img { display: table; margin: 0 auto 30px }
.testmonial-single .ts-img img { border-radius: 100%; width: 140px; height: 140px }
.testmonial-single .ts-img i { width: 40px; height: 40px; line-height: 40px; text-align: center; font-size: 15px; font-weight: lighter; border-radius: 100%; position: absolute; top: -3px; margin-left: 25px; color: #fff; background: #ffc527 }
.testmonial-single .ts-content { font-size: 16px; line-height: 27px }
.testmonial-single .ts-content .quote-sign-start, .testmonial-single .ts-content .quote-sign-end { font-size: 18px; font-family: Georgia; font-weight: 700 }
.testmonial-single .ts-content .quote-sign-start { margin-right: 2px }
.testmonial-single .ts-content .quote-sign-end { margin-left: 1px }
.testmonial-single .ts-person { font-size: 11px; text-transform: uppercase; font-family: "Open Sans","Droid Arabic Kufi",sans-serif; color: #222; font-weight: 700; margin-top: 12px }
.testmonial-single .ts-person i { font-size: 15px; margin-right: 2px; font-weight: lighter }
.testmonial-single .ts-person a:hover { text-decoration: underline; color: #ffc527 }
.testmonials-slider { width: 100% }
.testmonials-slider .owl-carousel { list-style: none }
.testmonials-slider .owl-carousel .owl-stage-outer { margin-top: -3px; padding-top: 3px }
.testmonials-slider .owl-carousel > li { display: block; background-position: top center; background-size: cover; background-repeat: no-repeat; background-clip: content-box }
.testmonials-slider .owl-carousel .slide { position: relative }
.testmonials-slider .owl-carousel > img { width: 100% }
.testmonials-slider .owl-nav { margin: 0 }
.testmonials-slider .owl-nav [class*="owl-"] { font-size: 25px; width: 60px; height: 60px; line-height: 56px; margin: 0; padding: 0; margin-top: -30px !important; position: absolute; top: 50%; border-radius: 999px; opacity: 0; visibility: hidden; transition: all 0.2s; color: #fff; background: #ffc527 }
.testmonials-slider .owl-nav [class*="owl-"]:hover { background: #222; color: #fff }
.testmonials-slider .owl-nav .owl-prev { left: 0; margin-left: 60px }
.testmonials-slider .owl-nav .owl-next { right: 0; margin-right: 60px }
.testmonials-slider .owl-nav .disabled { opacity: 0.5; cursor: default }
.testmonials-slider:hover .owl-nav [class*="owl-"] { opacity: 1; visibility: visible }
.testmonials-slider:hover .owl-nav .owl-prev { margin-left: 40px }
.testmonials-slider:hover .owl-nav .owl-prev:hover { margin-left: 35px }
.testmonials-slider:hover .owl-nav .owl-next { margin-right: 40px }
.testmonials-slider:hover .owl-nav .owl-next:hover { margin-right: 35px }
.testmonials-slider .owl-dots { margin: 0; position: relative; bottom: 0; width: 100%; margin-top: 40px !important }
.testmonials-slider .owl-dots .owl-dot { margin: 0 2.5px; border-radius: 100% }
.testmonials-slider .owl-dots .owl-dot:hover span { background: #aaa }
.testmonials-slider .owl-dots .owl-dot.active span, .testmonials-slider .owl-dots .owl-dot.active:hover span { background: #ffc527 }
.testmonials-slider .owl-dots .owl-dot span { width: 15px; margin: 0; border-radius: 100%; height: 15px; background: #d8d9d9; transition: all .15s }
.client-single { background: #fff; border: 1px solid #ebeef0; box-shadow: 0 1px 0 #ebeef0; height: 100px; padding: 30px }
.client-single img { width: auto !important; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%) }
.client-single:hover { border-color: #e2e6e8; box-shadow: 0 1px 0 #e2e6e8 }
.clients-slider { width: 100%; margin-top: 60px }
.clients-slider .owl-carousel { list-style: none }
.clients-slider .owl-carousel .owl-stage-outer { margin-bottom: -1px; padding-bottom: 1px }
.clients-slider .owl-carousel > li { display: block; background-position: top center; background-size: cover; background-repeat: no-repeat; background-clip: content-box }
.clients-slider .owl-carousel .slide { position: relative }
.clients-slider .owl-carousel > img { width: 100% }
.clients-slider .owl-nav { margin: 0 }
.clients-slider .owl-nav [class*="owl-"] { font-size: 25px; width: 60px; height: 60px; line-height: 56px; margin: 0; padding: 0; margin-top: -30px !important; position: absolute; top: 50%; border-radius: 999px; opacity: 0; visibility: hidden; transition: all 0.2s; color: #fff; background: #ffc527 }
.clients-slider .owl-nav [class*="owl-"]:hover { background: #222; color: #fff }
.clients-slider .owl-nav .owl-prev { left: 0; margin-left: 60px }
.clients-slider .owl-nav .owl-next { right: 0; margin-right: 60px }
.clients-slider .owl-nav .disabled { opacity: 0.5; cursor: default }
.clients-slider:hover .owl-nav [class*="owl-"] { opacity: 1; visibility: visible }
.clients-slider:hover .owl-nav .owl-prev { margin-left: 40px }
.clients-slider:hover .owl-nav .owl-prev:hover { margin-left: 35px }
.clients-slider:hover .owl-nav .owl-next { margin-right: 40px }
.clients-slider:hover .owl-nav .owl-next:hover { margin-right: 35px }
.clients-slider .owl-dots { margin: 0; position: relative; bottom: 0; width: 100%; margin-top: 40px !important }
.clients-slider .owl-dots .owl-dot { margin: 0 2.5px; border-radius: 100% }
.clients-slider .owl-dots .owl-dot:hover span { background: #aaa }
.clients-slider .owl-dots .owl-dot.active span, .clients-slider .owl-dots .owl-dot.active:hover span { background: #ffc527 }
.clients-slider .owl-dots .owl-dot span { width: 15px; margin: 0; border-radius: 100%; height: 15px; background: #d8d9d9; transition: all .15s }
.connect-box { background: #fff; border: 1px solid #ebeef0; box-shadow: 0 1px 0 #ebeef0; padding: 30px; margin-bottom: 30px; overflow: hidden }
.connect-box h5 { text-transform: uppercase; margin-bottom: 17px }
.connect-box .social-icons { padding-top: 3px }
.contact-info-box { width: 50%; display: inline-block; float: left }
.contact-info-box:first-child { padding-right: 15px }
.contact-info-box:last-child { padding-left: 15px }
.contact-info-box:last-child .contact-info li { padding-left: 25px }
.contact-info { list-style: none }
.contact-info li { padding-left: 30px; position: relative }
.contact-info li + li { margin-top: 3px }
.contact-info li i { position: absolute; left: 0; top: 2px; font-size: 16px; width: 16px; height: 16px; line-height: 16px; font-weight: normal; color: #ffc527 }
.contact-info li span { font-weight: 700; margin-right: 10px }
#contact-form input.error, #contact-form textarea.error { border-color: #f33 }
#contact-form label.error { font-size: 12px; margin-top: 5px }
.cf-notifications { display: none }
.cf-notifications { margin-bottom: 15px }
.cf-notifications-cont { padding: 10px 15px 10px 43px; border-radius: 2px; display: block; font-size: 12px; line-height: 20px; color: #fff; background: #ff3333; position: relative }
.cf-notifications-cont.sent { background: #3aae39 }
.cf-error-icon, .cf-success-icon { color: #fff; font-size: 12px !important; width: 22px; height: 22px; line-height: 22px !important; background: rgba(0,0,0,0.2); left: 10px; position: absolute; top: 9px; border-radius: 50%; text-align: center }
#map { width: 100%; height: 475px }
#marker-content { padding: 10px }
#marker-content h4 { margin-bottom: 10px }
#marker-content p:last-child { margin-bottom: 0 }
#footer-mini { background: #fff; padding: 25px 0; text-align: center }
.logo-footer { float: left; position: relative; z-index: 10 }
.copyrights-message { color: #222; position: relative; top: 6px; display: inline-block }
.copyrights-message span {font-weight: 700 }
.scroll-top-btn { width: 30px; height: 30px; line-height: 26px; text-align: center; color: #ffc527; font-size: 20px; background: #f6f8f9; border-bottom: 2px solid rgba(0,0,0,0.06); border-radius: 2px; float: right; position: relative; z-index: 10; top: 0 }
.scroll-top-btn:hover { color: #fff; background: #ffc527; top: -2px }

@media (max-width: 992px) {
    #header { min-height: 90px; height: auto; text-align: left }
    #header #header-wrap { min-height: 90px; height: auto; overflow: hidden }
    #header .logo { float: none; transform: translateY(0); top: 28px }
    #header .header-btn { transform: translateY(0); top: 25px }
    .main-menu { left: 0; display: none }
    .mobile-menu-btn { display: inline-block }
    .fullscreen { height: auto !important }
    .banner-slider { height: 600px !important }
    .banner-center-box { padding: 60px 15px 100px }
    .slide-content h1 { font-size: 50px; line-height: 65px }
    .intro .col-md-7 { padding-right: 15px }
    .os-tabs-content > li { padding: 0 }
    .os-tabs-content > li .img-preview { margin-top: 40px }
    .portfolio-single-preview { height: 450px }
    .ps-fixedwidth-intro .description { margin-left: 0; height: auto; border-left: 1px solid #ebeef0; border-top: none }
    .ps-fixedwidth-intro .description .project-close { top: 0 }
    .box-info { margin-bottom: 30px }
    .connect-box + .connect-box { margin-bottom: 30px !important }
    #map { height: 420px }
    .copyrights-message, .made-by { text-align: center }
    .made-by { margin-top: 5px }
    .scroll-top { display: none !important }
}

@media (max-width: 768px) {
    .slide-content h1 { font-size: 40px; line-height: 55px }
    .cta-title h1 { font-size: 40px }
    .portfolio-single-preview { height: 380px }
    .testmonial-single { width: 80% }
    #footer-mini { padding: 40px 0 }
    .logo-footer, .scroll-top-btn { float: none !important; display: block }
    .scroll-top-btn { margin: 25px auto 0 }
    .copyrights-message { margin-top: 15px; top: 0 }
}

@media (max-width: 480px) {
    .header-btn { display: none }
    .slide-content h1 { font-size: 30px; line-height: 45px }
    .os-tabs > li { width: 50%; padding-top: 10px }
    .os-tabs > li::before, .os-tabs > li::after { display: none }
    .cta-title .section-inner { padding: 150px 0 }
    .cta-title h1 { font-size: 35px }
    .portfolio-categories li { display: block }
    .portfolio-single-preview { height: 320px }
    .video-btn { font-size: 0 }
    .testmonial-single { width: 100% }
    .contact-info-box { width: 100%; padding: 0 !important }
    .contact-info-box:last-child { margin-top: 30px }
    #map { height: 380px }
}

@media (max-width: 320px) {
    .cta-title .section-inner { padding: 120px 0 }
    .cta-title h1 { font-size: 30px }
    .portfolio-single-preview { height: 280px }
}
@media (max-width: 768px) {
	.banner-center-box{display: none;}
	.login-box{width: 90%; z-index: 99;}
}
.bn-top-sub
{
	height:200px;
	background-size:cover;
}
.bn-top-sub-pa
{
	background:url("../images/fullimage6.jpg") no-repeat top center #eab33c;
	height:150px;
	background-attachment: fixed;
	background-size:cover;
}
.darkblue{
	color: #0355b3;
}
.contentDetail{padding: 0 15px;}
.home-list-4 li img {
    float: left;
    margin-right: 20px;
	width: 250px;
}
.home-list-4-fix-size li img {
    float: unset;
    margin-right: unset;
    width: unset;
}
.title-new {
    font-size: 15px;
    line-height: 20px;
    margin-top: 0;
	font-weight: bold;
	margin-bottom: 3px;
}
.time-post {
    color: #888;
    font-style: italic;
	font-size: 13px;
}
.home-list-4 li{padding: 13px  0; list-style: none;}
.home-list-4 li.first { }
.home-list-4 li.first a{font-size: 17px;}
.paginate{position: relative;}
.pagination>li>a, .pagination>li>span {
  padding: 6px 16px;
  margin-left: 3px;
  margin-right: 3px;
  line-height: 1.42857143;
  color: #337ab7;
  background-color: #ECF0F1;
  border: 0px;
  font-size: 20px;
}
.pagination>li>a.page-prev, .pagination>li>span.page-prev,.pagination>li>a.page-next, .pagination>li>span.page-next {
  background-color: #1478B8;
  color: #FFF;
}
.pagination>li>a.page-prev, .pagination>li>span.page-prev{
  position: absolute;
  right: 60px;
}
.pagination>li>a.page-next, .pagination>li>span.page-next{
  position: absolute;
  right: 0px;
}
.entry-title {
    font-family: "Roboto Condensed",sans-serif;
    font-size: 30px;
    line-height: 1;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
	font-weight: 600;
}
.entry-content img
{ margin: 0 auto}
.fr{float: right}
fl{float: left;}
div.more {
    border-top: 1px solid #daddcb;
    float: left;
    width: 100%;
    width: 680px;
    padding-top: 10px;
    margin-bottom: 20px;
}
div.more div.title {
    font-size: 11pt;
}
div.items-detail div.title {
    color: #DF411B;
    font-size: 14pt;
    font-weight: bold;
    padding-bottom: 20px;
}
.tinlienquan:hover img{
	   -webkit-transform: scale(1.3);
        transform: scale(1.3);
}
select {
    -moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
    background: #fff url("../images/droparrows1.png") no-repeat scroll right 10px center !important;
    border: 1px solid #ccc;
    padding: 5px;
    width: 100%;
	font-size: 15px;
}
.flex-box
{
	display: flex;
}
.avatar{width: 30%; margin-right: 10px;}
/*.avatar img{border-radius: 50%;}*/
.inform{width:100%;}
.inform table tr:nth-child(1){font-weight: 600;}
.inform table tr:nth-child(2){font-weight: 600;}
.box-list {
    padding: 15px;
    background: #fff;
    position: relative;
    border: 1px solid #ebeef0;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: rgb(235, 238, 240);
    border-top: none;
    box-shadow: 0 1px 0 #ebeef0;
}
.wrap-thumb .info {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 10px;
    color: #fff;
    background: rgba(0,0,0,.7);
	text-align: left;
	text-transform: uppercase;
}
.wrap-thumb {
    height: 0;
    margin: 10px;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
}
.wrap-thumb .thumb {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: none;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    transition: all 1s ease;
}
.wrap-thumb:hover .thumb {
    -webkit-transform: translate(-50%,-50%) scale(1.1);
    transform: translate(-50%,-50%) scale(1.1);
}
.bg-white{background:#fff; padding: 15px 5px;}
.box-list:hover {
    box-shadow: 0px 0px 4px rgba(3,85,180,0.7);
}
.intro_tabs li {
    vertical-align: middle;
    background: #fff;
    border-right: 1px solid #eee;
}
.intro_tabs li a {
    text-transform: uppercase;
    padding: 15px 12px;
	color: #221641;
}
.tab-content > .tab-pane {
    background: #fff;
}
.font-name {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding-left: 14px;
    font-size: 20px;
    color: #173468;
	display: inline-block;
	padding-top: 28px;
}
@media (min-width: 551px) and (max-width: 992px) {
	.font-name {font-size: 21px !important;}
}
@media (max-width: 550px) {
	.logo {width: 100px;}
	.font-name {
		width: 184px !important;
		display: inline-block !important;
		word-wrap: break-word !important;
		text-align: left;
		font-size: 18px !important;
		line-height: 20px;}
	.cta-title-2 h1{font-size: 45px;}
	
}
@media (min-width: 993px) and (max-width: 1199px) {
	.main-menu > li > a {
    line-height: 36px !important;
	}
}
.main-content ol {
    padding-left: 40px;
}
ol li {

    padding-bottom: 10px;

}
.list-add{margin-left: 20px;}
.banner-right img {
    position: absolute;
    right: -70px;
	z-index: 999;
}
.banner-left img {
    left: -70px;
    position: absolute;
	z-index: 999;
}



                        /*Sidebar - 01/02/2019*/ 
.sidebar_title {
	background: #0355b3;
	color: #fff;
	font-size: 16px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.sidebar_title i {
	margin-right: 10px;
}
.nav_sidebar {
	padding-top: 15px;
	border: 2px solid #e2e2e3;
	border-top: 0;
}
.nav_sidebar .menu_sidebar > li {
	list-style: none;
	border-bottom: 1px solid #e2e2e3;
	position: relative;
	padding: 5px 0;
	padding-left: 30px;
}
.nav_sidebar .menu_sidebar > li:last-child{
	border: 0;
}
.nav_sidebar .menu_sidebar > li > a {
	color: #000;
	cursor: pointer;
} 
.nav_sidebar .menu_sidebar > li:before{
	 position: absolute;
    font-family: 'FontAweSome';
    content: "\f101";
    left: 10px;
    top: 4px;
}
.nav_sidebar .menu_sidebar .sub_menu_sidebar {
	padding: 10px 0;
	padding-left: 20px;
	display: none;
}
.nav_sidebar .menu_sidebar .has_submenu .sub_menu_sidebar {
	display: block;
}
.nav_sidebar .menu_sidebar .sub_menu_sidebar li {
	list-style-type: disc;
}
.nav_sidebar .menu_sidebar .sub_menu_sidebar li a {
	color: #000;
}
.nav_sidebar .menu_sidebar > li:hover,.nav_sidebar .menu_sidebar > li:hover > a {
	color: #ffc527;
}
.nav_sidebar .menu_sidebar > li:hover .sub_menu_sidebar {
	color: #000;
}
.nav_sidebar .menu_sidebar .sub_menu_sidebar li:hover a {
	color: #ffc527;
}