/*.modal-footer {*/
    /*text-align: center !important;*/
/*}*/
input:focus:required:invalid {border: 1px solid red;}
input:required:valid { border: 1px solid #ccc; }
textarea:focus:required:invalid {border: 1px solid red;}
textarea:required:valid { border: 1px solid #ccc; }

img#blah {
    padding-top: 15px;
    max-width: 84%;
    max-height: 200px;
    height: auto;
    width: auto;
}

.pull-left.pagination-detail {
    display: none;
}

body #content .table-wrap{
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}

.fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner{
    color: #144a8b;
    text-align: center;
    font-weight: bold;
}

button.button.btn-primary {
    padding: 6px 30px;
}
i.fa.fa-eye {
    color: green;
}

i.openPopupIframe.fa.fa-plus.fa-2x {
    color:  green;
}

@media only screen and (max-width: 767px) {
    body .field-wrap input.search-btn-custom {
        max-width: unset;
    }
    body #content .table-wrap {
        width: 100% !important;
    }
}