@font-face {
  font-family: 'HarmoniaSansProCyr-Regular';
  src: url('../fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-Regular.ttf')  format('truetype'), url('../fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-SemiBd';
  src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot?#iefix') format('embedded-opentype'),  url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-SemiBd.ttf')  format('truetype'), url('../fonts/HarmoniaSansProCyr-SemiBd.svg#HarmoniaSansProCyr-SemiBd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr-Light';
  src: url('../fonts/HarmoniaSansProCyr-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/HarmoniaSansProCyr-Light.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-Light.ttf')  format('truetype'), url('../fonts/HarmoniaSansProCyr-Light.svg#HarmoniaSansProCyr-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
