body {
}

body div:focus, body ul:focus, body li:focus, body a:focus, body select:focus, body input:focus, body button:focus, body textarea:focus, body div:active, body ul:active, body li:active, body a:active, body select:active, body input:active, body button:active, body textarea:active, body div:hover, body ul:hover, body li:hover, body a:hover, body select:hover, body input:hover, body button:hover, body textarea:hover, body div:visited, body ul:visited, body li:visited, body a:visited, body select:visited, body input:visited, body button:visited, body textarea:visited {
    outline: 0
}

body a {
    color: #2481bf;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body a:focus, body a:active, body a:hover, body a:visited {
    text-decoration: none;
    outline: 0;
    color: inherit
}

body a:hover {
    color: #f35d23
}

body input:focus, body select:focus, body textarea:focus {
    outline: 0
}

body img {
    max-width: 100%;
    height: auto
}

body p {
    font-size: 14px;
    color: #3d3a3a
}

body iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

body .page-wrap {
    width: 1140px;
    max-width: 100%;
    margin: auto
}

body .overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
    display: none
}

body .overlay.show {
    display: block
}

body .form-btns {
    display: flex;
    justify-content: space-between;
    padding: 15px 0
}

body .form-btns a {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    background-color: #edf1f7;
    border: 1px solid #bbbaba;
    border-radius: 2px;
    text-align: center;
    color: #3d3a3a;
    font-family: 'DejaVu Sans', sans-serif
}

body .form-btns a:before {
    margin-right: 10px;
    font-family: 'FontAwesome'
}

body .form-btns input[type=submit] {
    background-color: #2b95cb;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 2px
}

body .form-btns.btn-left {
    justify-content: flex-start
}

body .form-btns.btn-left a {
    margin-left: 15px
}

body .btn-view {
    margin-left: 20px;
    display: inline-block
}

body .btn-view .spli {
    cursor: pointer;
    font-size: 13px;
    color: #2481bf
}

body .btn-view label {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 14px;
    color: #2481bf;
    cursor: pointer;
    margin-bottom: 0
}

body .btn-view label:before {
    margin-right: 5px
}

body .btn-view label.fa:before {
    font-family: 'FontAwesome'
}

body .btn-view .img-wrap {
    display: block
}

body .choices .choice {
    padding-left: 35px;
    padding-right: 10px;
    cursor: pointer
}

body .choices .choice input {
    display: none !important
}

body .choices .choice label {
    position: relative;
    cursor: pointer;
    margin-bottom: 0
}

body .choices .choice label:before {
    content: "";
    width: 17px;
    height: 17px;
    margin-top: -9px;
    border: 1px solid #6c6b6b;
    position: absolute;
    left: -25px;
    top: 50%
}

body .choices .choice label:after {
    position: absolute;
    top: 50%;
    opacity: 0;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body .choices .choice:hover label:after {
    opacity: 1
}

body .choices.radio-list .choice label:before {
    border-radius: 50%
}

body .choices.radio-list .choice label:after {
    content: "";
    left: -20px;
    width: 7px;
    height: 7px;
    margin-top: -4px;
    border-radius: 50%;
    background-color: #bbbaba
}

body .choices.radio-list .choice.chosen label:after {
    opacity: 1;
    background-color: #2b95cb
}

body .choices.checkbox-list {
    padding-left: 25px !important
}

body .choices.checkbox-list .choice label:before {
    border-radius: 2px
}

body .choices.checkbox-list .choice label:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 12px;
    color: #bbbaba;
    left: -22px;
    margin-top: -6px
}

body .choices.checkbox-list .choice.chosen label:after {
    opacity: 1;
    color: #2b95cb
}

body .field-wrap {
    position: relative
}

body .field-wrap input, body .field-wrap select {
    height: 35px;
    line-height: 35px;
    border: 1px solid #bbbaba;
    padding: 0 10px;
    max-width: 100%;
    display: block;
    border-radius: 2px
}

body .field-wrap input[type=text], body .field-wrap select[type=text], body .field-wrap input[type=password], body .field-wrap select[type=password], body .field-wrap input[type=submit], body .field-wrap select[type=submit] {
    width: 100%
}

body .field-wrap input[type=number], body .field-wrap select[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield
}

body .field-wrap input.datetime-input, body .field-wrap select.datetime-input {
    padding-right: 30px
}

body .field-wrap select {
    width: 100%;
    height: 35px;
    line-height: 35px;
    position: relative;
    padding-right: 30px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield
}

body .field-wrap.dropfield:after {
    content: "\e604";
    position: absolute;
    right: 20px;
    top: 10px;
    bottom: 0;
    font-family: 'simple-line-icons';
    font-size: 12px;
    color: #6c6b6b;
    z-index: 1
}

body .field-wrap.choices .choice {
    line-height: 25px;
    display: inline-block;
    width: auto
}

body .field-wrap.selectdrop .selectdropdown {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 15px;
    right: 15px;
    background-color: #fff;
    border: 1px solid #bbbaba;
    border-top: 0;
    padding: 0 10px;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body .field-wrap.selectdrop .selectdropdown .choice {
    padding: 10px 10px 10px 25px;
    border-bottom: 1px solid #bbbaba
}

body .field-wrap.selectdrop .selectdropdown .choice:last-of-type {
    border-bottom: 0
}

body .field-wrap.selectdrop .selectdropdown.show {
    visibility: visible;
    opacity: 1;
    pointer-events: auto
}

body .field-wrap.radio-list {
    display: inline-block
}

body #header {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

body #header .page-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

body #header .page-wrap .fa-navicon {
    line-height: 45px;
    padding: 0 15px;
    font-size: 16px;
    color: #2b95cb;
    display: none
}

body #header .page-wrap .top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start
}

body #header .page-wrap .top-bar .logo {
    display: inline-block;
    margin-right: 50px
}

body #header .page-wrap .top-bar .logo img {
    height: 50px;
    margin-right: 25px
}

body #header .page-wrap .top-bar .logo span {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 17px;
    color: #2b95cb
}

body #header .page-wrap .top-bar .main-menu {
    display: inline-block
}

body #header .page-wrap .top-bar .main-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row
}

body #header .page-wrap .top-bar .main-menu ul li {
    list-style: none;
    display: inline-block;
    position: relative
}

body #header .page-wrap .top-bar .main-menu ul li a {
    display: inline-block;
    padding: 8px 15px;
    font-family: 'DejaVu Sans', sans-serif;
    color: #a6a6a6;
    border-radius: 20px;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body #header .page-wrap .top-bar .main-menu ul li a span {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #a6a6a6;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body #header .page-wrap .top-bar .main-menu ul li a:hover {
    color: #2b95cb
}

body #header .page-wrap .top-bar .main-menu ul li a:hover span {
    color: #2b95cb
}

body #header .page-wrap .top-bar .main-menu ul li .sub-menu {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body #header .page-wrap .top-bar .main-menu ul li .sub-menu li {
    border-radius: 2px;
    width: 100%;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body #header .page-wrap .top-bar .main-menu ul li .sub-menu li a {
    color: #3d3a3a;
    white-space: nowrap;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body #header .page-wrap .top-bar .main-menu ul li .sub-menu li:hover {
    background-color: #edf1f6
}

body #header .page-wrap .top-bar .main-menu ul li .sub-menu li:hover a {
    color: #3d3a3a
}

body #header .page-wrap .top-bar .main-menu ul li:hover .sub-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    visibility: visible;
    opacity: 1;
    pointer-events: auto
}

body #header .page-wrap .top-bar .main-menu ul li.active a {
    color: #2b95cb
}

body #header .page-wrap .top-bar .main-menu ul li.active a span {
    color: #2b95cb
}

body #header .page-wrap .user-buttons {
    position: relative;
    padding-right: 26px;
    display: inline-flex;
    align-items: center;
    cursor: pointer
}

body #header .page-wrap .user-buttons:after {
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #6c6b6b;
    width: 25px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    border-left: 1px solid #bbbaba
}

body #content {
    min-height: calc(100vh - 257px)
}

body #content .filter {
    background-color: #465d75
}

body #content .filter form[name=filter] {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 0
}

body #content .filter form[name=filter] .field-wrap {
    margin-bottom: 0
}

body #content .filter form[name=filter] .field-wrap input[type=submit] {
    width: auto;
    display: inline-block;
    background-color: #2b95cb;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    padding: 0 30px
}

body #content .filter form[name=filter].full-width {
    display: block
}

body #content .filter form[name=filter].full-width .row {
    display: flex;
    align-items: flex-end
}

body #content .heading {
    height: 50px;
    padding: 0 10px;
    line-height: 50px;
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 18px;
    color: #2b95cb
}

body #content .heading.flex {
    display: flex;
    align-items: center;
    justify-content: space-between
}

body #content .heading.flex .fa {
    background-color: #eaeff0;
    font-family: 'DejaVu Sans', sans-serif;
    border-radius: 3px;
    border: 0;
    padding: 10px
}

body #content .heading.flex .fa:before {
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #00a8ff;
    margin-right: 10px
}

body #content .table-wrap {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto
}

body #content .table-wrap table {
    min-width: 100%
}

body #content .table-wrap table tr {
    border-bottom: 1px solid #bbbaba;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body #content .table-wrap table tr td {
    padding: 10px 15px;
    font-family: 'DejaVu Sans', sans-serif;
    white-space: nowrap;
    text-align: left
}

body #content .table-wrap table tr.full-width {
    color: #3d3a3a;
    text-align: center;
    text-transform: uppercase
}

body #content .table-wrap table thead tr {
    background-color: #edf1f6
}

body #content .table-wrap table thead tr td {
    color: #6c6b6b;
    text-transform: uppercase
}

body #content .table-wrap table tbody tr td button {
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f35d23;
    color: #fff;
    border-radius: 3px;
    border: 0
}

body #content .table-wrap table tbody tr td .choices.checkbox-list .choice label:after {
    margin-top: -9px
}

body #content .table-wrap table tbody tr td.options {
    text-align: right
}

body #content .table-wrap table tbody tr td.options .option {
    font-size: 20px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    align-items: flex-start
}

body #content .table-wrap table tbody tr td.options .option i {
    position: absolute;
    bottom: calc(100% - -10px);
    right: calc(50% - 10px);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 3px;
    font-style: normal;
    color: #fff;
    background-color: #00a8ff;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body #content .table-wrap table tbody tr td.options .option i:after {
    top: 100%;
    right: 7px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 168, 255, 0);
    border-top-color: #00a8ff;
    border-width: 5px;
    margin-left: -5px
}

body #content .table-wrap table tbody tr td.options .option:hover i {
    visibility: visible;
    opacity: 1;
    pointer-events: none
}

body #content .table-wrap table tbody tr td.options .option:first-of-type {
    margin-left: 0
}

body #content .table-wrap table tbody tr td.stt {
    color: #6c6b6b
}

body #content .table-wrap table tbody tr td.pending {
    color: #df8f1b
}

body #content .table-wrap table tbody tr td.requested {
    color: #2a7f45
}

body #content .table-wrap table tbody tr td.done {
    color: #3295c8
}

body #content .table-wrap table tbody tr td.approved {
    color: #2a6c97
}

body #content .table-wrap table tbody tr td.verified {
    color: #599512
}

body #content .table-wrap table tbody tr:hover {
    background-color: #faf8f4
}

body #content .table-wrap table tbody tr:last-of-type {
    border-bottom: 0
}

body #content .table-content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: auto
}

body #content .table-content table {
    min-width: 100%
}

body #content .table-content table tr {
    border-bottom: 1px solid #bbbaba;
    transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s
}

body #content .table-content table tr td {
    padding: 10px 15px;
    font-family: 'DejaVu Sans', sans-serif;
    white-space: nowrap;
    text-align: left
}

body #content .table-content table tr:hover {
    background-color: #faf8f4
}

body #content .table-content table tr.full-width {
    color: #3d3a3a;
    text-align: center;
    text-transform: uppercase
}

body #content .table-content table thead tr {
    background-color: #edf1f6
}

body #content .table-content table thead tr td {
    color: #6c6b6b;
    text-transform: uppercase
}

body #content .table-content table tbody tr td button {
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #f35d23;
    color: #fff;
    border-radius: 3px;
    border: 0
}

body #content .table-content table tbody tr td.stt {
    color: #6c6b6b
}

body #content .table-content table tbody tr td.pending {
    color: #df8f1b
}

body #content .table-content table tbody tr td.requested {
    color: #2a7f45
}

body #content .table-content table tbody tr td.done {
    color: #3295c8
}

body #content .table-content table tbody tr:last-of-type {
    border-bottom: 0
}

body #content .main-content {
    padding: 20px 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px
}

body #content .main-content .info-wrap {
    margin-bottom: 15px
}

body #content .main-content .info-wrap .info {
    font-family: 'DejaVu Sans', sans-serif
}

body #content .main-content .info-wrap .info span {
    font-family: 'DejaVu Sans', sans-serif;
    color: #6c6b6b
}

body #content .main-content .info-wrap:last-of-type {
    margin-bottom: 0
}

body #content .main-content form[name=filter] {
    display: flex;
    align-items: flex-end;
    justify-content: space-between
}

body #content .main-content form[name=filter] .field-wrap label {
    font-family: 'DejaVu Sans', sans-serif
}

body #content .main-content form[name=filter].full-width {
    display: block
}

body #content .main-content form[name=filter].full-width .row {
    display: flex;
    align-items: flex-end
}

body #content .block {
    background-color: #fff;
    padding: 0 15px
}

body #content .block .block-heading {
    font-family: 'DejaVu Sans', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #bbbaba;
    padding: 15px 0 10px 0
}

body #content .block .block-content {
    display: flex;
    justify-content: space-between
}

body #content .block .block-content .table-line {
}

body #content .block .block-content .table-line .line {
    padding: 0 15px;
    border-bottom: 1px solid #bbbaba;
    margin: 0
}

body #content .block .block-content .table-line .line .line-content {
    padding: 10px 0;
    font-family: 'DejaVu Sans', sans-serif
}

body #content .block .block-content .table-line .line .line-content span {
    color: #6c6b6b
}

body #content .block .block-content .table-line .line .line-content.line-col {
    display: flex;
    align-items: flex-start
}

body #content .block .block-content .table-line .line .line-content.line-col .col-content {
    margin-left: 5px;
    color: #3d3a3a
}

body #content .block .block-content .table-line .line .line-content.line-col .col-content .img-wrap {
    display: block
}

body #content .block .block-content .table-line .line:last-of-type {
    border-bottom: 0
}

body #content .block .block-content .photo {
    padding-left: 15px;
    margin-top: 10px
}

body #content .block .block-content .line-row {
    display: flex;
    align-items: flex-start
}

body #content .block .block-content .line-row .line-inline {
    margin-right: 50px;
    font-family: 'DejaVu Sans', sans-serif;
    padding: 10px 0
}

body #content .block .block-content .line-row .line-inline span {
    color: #6c6b6b
}

body #content .block .block-content .list {
    margin: 0;
    padding: 0
}

body #content .block .block-content .list li {
    list-style: none;
    padding: 7px 0
}

body #content .block .block-content .list li .btn-upload {
    margin-left: 10px
}

body #content .block .block-content .list li:last-of-type {
    border-bottom: 0
}

body #content .block form[name=approve] {
    background-color: #f3f6fa;
    padding: 15px
}

body #content .block form[name=approve] table {
    border-bottom: 1px solid #bbbaba;
    width: 100%
}

body #content .block form[name=approve] table tr td {
    padding: 10px 10px 10px 0;
    vertical-align: top;
    max-width: 80%
}

body #content .block form[name=approve] table tr td textarea {
    border: 1px solid #bbbaba;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%
}

body.overflow {
    overflow: hidden
}

@media only screen and (max-width: 1139px) {
    body {
        padding-top: 45px
    }

    body #header {
        height: 45px;
        margin-bottom: 0;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: none;
        border-bottom: 1px solid #bbbaba;
        z-index: 2
    }

    body #header .user-buttons {
        display: none
    }

    body #header .page-wrap .fa-navicon {
        display: inline-block
    }

    body #header .page-wrap .top-bar .logo {
        margin: auto;
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        margin-left: -21px
    }

    body #header .page-wrap .top-bar .logo img {
        max-height: 43px
    }

    body #header .page-wrap .top-bar .logo span {
        display: none
    }

    body #header .page-wrap .top-bar .main-menu {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 44px;
        background-color: rgba(0, 0, 0, 0.3);
        padding: 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: .3s;
        -moz-transition: .3s;
        -webkit-transition: .3s;
        -o-transition: .3s;
        -ms-transition: .3s
    }

    body #header .page-wrap .top-bar .main-menu ul {
        width: 300px;
        height: calc(100vh - 45px);
        background-color: #fff;
        overflow: auto;
        flex-direction: column;
        transform: translateX(-300px);
        transition: .3s;
        -moz-transition: .3s;
        -webkit-transition: .3s;
        -o-transition: .3s;
        -ms-transition: .3s
    }

    body #header .page-wrap .top-bar .main-menu ul li {
        width: 100%;
        padding: 0 15px
    }

    body #header .page-wrap .top-bar .main-menu ul li a {
        width: 100%;
        border-radius: 0;
        padding: 15px 0;
        border-top: 1px solid #bbbaba
    }

    body #header .page-wrap .top-bar .main-menu ul li a .fa {
        display: none
    }

    body #header .page-wrap .top-bar .main-menu ul li.active {
        background-color: #2b95cb
    }

    body #header .page-wrap .top-bar .main-menu ul li.active a {
        color: #fff;
        border-top: 0
    }

    body #header .page-wrap .top-bar .main-menu.show {
        visibility: visible;
        opacity: 1;
        pointer-events: auto
    }

    body #header .page-wrap .top-bar .main-menu.show ul {
        transform: translateX(0)
    }

    body #content .page-slide {
        top: 45px;
        bottom: 0;
        overflow: hidden
    }

    body #content .page-slide .slick-track .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden
    }

    body #content .page-slide .slick-track .slide img {
        width: auto !important;
        height: calc(100vh - 45px);
        max-width: none
    }

    body #content .login-form {
        height: calc(100vh - 45px)
    }

    body #content .login-form .text {
        padding: 0 30px;
        width: 50%
    }

    body #content .login-form form[name=login] {
        width: 50%
    }

    body #content.news {
        padding: 0 15px
    }

    body #footer .page-wrap {
        padding: 0 15px
    }
}

@media only screen and (max-width: 1023px) {
    body #content .col-wrap .col-right .featured-news .featured {
        flex-direction: column
    }

    body #content .col-wrap .col-right .featured-news .featured img {
        width: 100%;
        margin-bottom: 10px
    }
}

@media only screen and (max-width: 991px) {
    body .table-wrap {
        padding-bottom: 20px
    }

    body .table-wrap table tr td {
        white-space: nowrap
    }
}

@media only screen and (max-width: 840px) {
    body #content .steps {
        display: none
    }
}

@media only screen and (max-width: 767px) {
    body #content .login-form .text {
        display: none
    }

    body #content .login-form form[name=login] {
        width: 100%
    }

    body #content .heading .field-wrap {
        flex-basis: 100%
    }

    body #content .heading .field-wrap select {
        width: 100%
    }

    body #content .breadcrumb {
        display: none
    }

    body #content .block-wrap .block .block-content .field-wrap.radio-list .choice {
        width: 100%
    }

    body #content .block-wrap .block .block-content .field-wrap.flex {
        display: flex;
        flex-direction: column;
        justify-content: inherit
    }

    body #content .block-wrap .block .block-content .field-wrap.flex .choices-wrap .dropfield {
        width: 100%;
        margin-left: 0
    }

    body #content .block-wrap .block .block-content .field-wrap.flex .choices-wrap .dropfield select {
        width: 100%
    }

    body #content .block-wrap .block .block-content .field-wrap.flex .choices-wrap .dropfield:after {
        right: 20px;
        left: auto
    }

    body #content .col-wrap .col-left .news {
        flex-direction: column
    }

    body #content .col-wrap .col-left .news .news-img img {
        width: 100%
    }

    body #content .main-content form[name=filter] {
        flex-wrap: wrap
    }

    body #content .main-content form[name=filter].full-width .row {
        flex-wrap: wrap
    }

    body #footer .page-wrap {
        display: block
    }

    body #footer .page-wrap .foot-nav ul {
        display: block
    }

    body #footer .page-wrap .foot-nav ul li {
        display: block;
        margin-bottom: 10px
    }
}
