.total {
    line-height: 30px;
    padding: 6px 10px;
    color: #0000F0 !important;
    border-radius: 3px;
    font-size: 16px;
    border: 0;
}

.fixed-table-container thead th .both {
    color: rgb(20, 74, 139);
    text-align: center;
    font-weight: bold;
}

body #content .table-wrap table tr td {
    padding: 10px 5px;

    white-space: unset;
    text-align: left;
    border-left: 1px solid #BBBABA;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

body #content .table-wrap table {
    min-width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

.error {
    color: #992100;
}

.table > thead:first-child > tr:first-child > th {
    vertical-align: middle !important;
}

.fixed-table-container thead th .th-inner {
    white-space: unset !important;
    font-weight: normal;
}
i.openPopupIframe.fa.fa-plus.fa-2x {
    font-size: 18px;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-weight: bold;
    width: 50%;
    float: left;
}
button.button.btn-primary {
    border: none;
}
.fixed-table-toolbar{
    display: none;
}
.table-wrap {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0) !important;
}
.fixed-table-container{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.fixed-table-pagination .pagination a {
    padding: 6px 12px;
    border: none;
    background: #ddd;
    margin-left: 4px;
    color: #000;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0px;
}
.bootstrap-table{
    overflow: hidden;
}

.fixed-table-container {
    border: transparent;
}

body #content .table-wrap table {
    width: 99%;
    min-width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px !important;
}

td {}

body #content .table-wrap table tr td {
    border-right: 1px solid #BBBABA;
}

.fixed-table-pagination {
    padding-right:  10px;
}

.fixed-table-pagination .pagination .active a {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

label {
    font-weight: bold;
}

.modal-dialog.modal-lg {
    z-index: 9999999999999999999999999999;
}

td a{
    cursor: pointer;
}